//global style
body {
	font-family: "El Messiri", sans-serif;
	background-color: #fff;
	overflow-x: hidden;

	.main-wrapper {
		position: relative;
		min-height: 100vh;
		width: 100%;
	}
}

.toast-header {
	background-color: $main_color;
	color: #fff
}

.owl-theme {
	.owl-nav [class*=owl-] {
		@include transition(all ease 0.3s);

		&:hover {
			background: $main_color;
		}
	}

	.owl-nav {
		+.owl-dots {
			width: 100%;
			margin-top: 20px;

			.owl-dot {
				span {
					background-color: #999999;
					margin: 5px;
				}
			}

			.owl-dot.active span,
			.owl-theme .owl-dots .owl-dot:hover span {
				background: $main_color;
				width: 20px;
			}
		}
	}
}

//global style

//header
header {
	@include transition(all ease 0.2s);
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 999;
	background-color: #fff;

	&.fixed {
		background-color: #fff !important;
		@include boxshadow(0 4px 20px 0 rgb(115 115 115 / 14%));
	}

	&.transparent {
		background-color: transparent;
		position: fixed;
	}

	.top-part {
		background-color: $second_color;
		padding: 15px 0;

		.content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 85px;

			.text {
				font-size: 15px;

				p {
					margin-bottom: 0;
					color: #fff;
					text-transform: capitalize;
				}
			}

			.some-info {
				display: flex;

				marquee {
					direction: ltr;
					max-width: 420px;
					border-inline-end: 1px solid #555555;
				}

				.info {
					display: grid;
					grid-template-columns: 35px auto;
					border-inline-end: 1px solid #555555;
					align-items: center;
					padding-inline-end: 25px;
					line-height: 1.5;

					&:last-child {
						border: 0;
					}

					p,
					a {
						font-size: 15px;
						margin-bottom: 0;
						color: #ddd;
					}

					.icon {
						display: inline-block;
						font-size: 16px;
						text-align: center;
						color: #fff;
						@include transition(all ease 0.3s);

						.bi-hand-index-thumb {
							&::before {
								@include transform(rotate(90deg))
							}
						}
					}
				}
			}

			.links {
				white-space: nowrap;

				a {
					color: #666;
					margin-inline-end: 15px;

					&:last-child {
						margin-inline-end: 0;
					}

					&:focus,
					&:active,
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	.navbar {
		background-color: transparent;

		.navbar-brand {
			padding: 0;
			padding-inline-end: 15px;
			margin: 0;

			img {
				max-width: 100px;
			}
		}

		.dropdown-menu {
			min-width: 8rem;
		}

		.navbar-toggler {
			margin-inline-start: 15px;

			&:focus {
				outline: none;
				box-shadow: none
			}
		}

		.phone-number {
			display: flex;
			padding: 0 15px;

			.icon {
				width: 50px;
				border-inline-end: 1px solid #ddd;
				@extend %center;

				i {
					font-size: 26px;
					color: $main_color;
				}
			}

			.text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				max-width: 175px;
				padding: 0 10px;

				span {
					font-size: 14px;
					@extend %max_lines;
					-webkit-line-clamp: 1;
				}

				a {
					font-size: 20px;
					font-weight: 600;
					color: #222;
				}
			}
		}

		.navbar-nav {
			padding: 0;

			.nav-item {
				padding: 0 1rem;
				line-height: 6;
				@include transition(all ease 0.2s);

				&:hover,
				&.active {
					.nav-link {
						color: $main_color;

						&::after {
							width: 100%;
						}
					}
				}

				&:not(:hover) {
					color: #058100;
				}

				&:last-child {
					padding-inline-end: 0;
				}

				.nav-link {
					color: #223645;
					padding: 0;
					font-size: 14px;
					text-transform: capitalize;
					font-weight: 600;
					position: relative;

					&::after {
						content: "";
						position: absolute;
						background-color: $main_color;
						height: 2px;
						left: 0;
						bottom: 22px;
						width: 0;
						@include transition(all linear 0.2s);
					}

					&:hover {
						&::after {
							width: 100%;
						}
					}

					&.change {
						&::after {
							right: 0;
							left: auto;
						}
					}
				}

				&.dropdown {
					.dropdown-menu[data-bs-popper] {
						margin: 0;
						min-width: 225px;
					}
				}

				.dropdown-menu {
					top: 102%;
					padding: 0;
					border: 0;
					margin-top: 2px;
					@include transition(all linear 0.2s);
					@include boxshadow(0 20px 30px 0 rgb(41 112 250 / 20%));
					@include borderRadius(20px);
					overflow: hidden;

					li {
						// border-bottom: 1px solid #eee;
						line-height: 3;

						&:last-of-type {
							border-bottom: none;
						}
					}

					.dropdown-item {
						font-size: 13px;
						padding: 0 20px;
						@include transition(all linear 0.2s);
						text-transform: capitalize;
						position: relative;

						&:hover {
							color: #fff;
							background-color: $main_color;
						}
					}
				}
			}
		}

		.navbar-collapse {
			justify-content: center;
		}

		.dropdown-toggle {
			position: relative;
			display: flex;
			align-items: center;
			padding-inline-end: 15px !important;

			&::before {
				content: "chevron-down";
				font-family: "bootstrap-icons";
				-webkit-font-smoothing: antialiased;
				font-style: normal;
				font-variant: normal;
				font-weight: 600;
				font-size: 10px;
				position: absolute;
				text-transform: initial;
				right: 0;
				top: auto;
			}

			&::after {
				display: none;
			}
		}

		.group {
			display: flex;
			order: 1;
			align-items: center;
		}

		.cart {
			.btn {
				@include borderRadius(50%);
				background-color: $second_color;
				color: #fff;
				height: 45px;
				width: 45px;
				@extend %center;

				i {
					background-color: transparent;
					border: none;
					font-size: 18px;
				}
			}
		}
	}

	.hamburger-menu {
		display: inline-block;
		margin-left: auto;
		width: 30px;
		height: 20px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		transition-duration: 500ms;
		-webkit-transition-duration: 500ms;
		transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
		-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
		cursor: pointer;
		display: none;

		&:hover {
			span {
				width: 30px !important;
			}
		}

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: #000;
			opacity: 1;
			right: 0;
			@include transform(rotate(0deg));
			@include transition(.25s ease-in-out);

			&:nth-child(1) {
				top: 0px;
				width: 13px;
			}

			&:nth-child(2) {
				top: 9px;
			}

			&:nth-child(3) {
				top: 18px;
				width: 100%;
			}
		}

		&.open {
			span {
				&:nth-child(1) {
					top: 9px;
					right: 0;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
					width: 28px !important;
				}

				&:nth-child(2) {
					opacity: 0;
					right: 20px;
				}

				&:nth-child(3) {
					top: 9px;
					right: 0;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
					width: 28px !important;
				}
			}
		}
	}

	.offcanvas {
		.btn-close {
			&:focus {
				outline: none;
				box-shadow: none
			}
		}

		.offcanvas-header {
			justify-content: flex-end;
			background: #fff;
		}

		.navbar {
			position: static;

			.navbar-nav {
				.nav-item {
					line-height: 1.5;
					border-bottom: 1px solid #f5f5f5;

					.dropdown-toggle {
						position: relative;

						&::after {
							position: absolute;
							right: 0;
							vertical-align: middle;
							top: 45%;
						}
					}

					.nav-link {
						padding: 10px 10px;
					}
				}
			}
		}
	}
}

//header

//main slider
section.main-slider {
	position: relative;

	.pattern-layer {
		background-image: url(../images/slider/pattern-1.png);
		position: absolute;
		top: 0;
		left: 0;
		width: 1035px;
		height: 738px;
		top: 0;
	}

	.main-slider-carousel {
		.owl-item {
			padding: 150px 0;

			&.active {
				* {
					-webkit-animation-duration: 1.5s;
					animation-duration: 1.5s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
				}

				.title {
					animation-name: fadeInUp;
					animation-delay: 0s;
				}

				p {
					animation-name: fadeInDown;
					animation-delay: .5s;
				}

				.btns {
					animation-name: fadeInUp;
					animation-delay: 1s;
				}

				.slider-img {
					animation-name: fadeInUp;
					animation-delay: 0.5s;
				}

				.ice {
					animation-name: fadeInUp;
					animation-delay: 0s;
				}
			}

			.item {
				.item-image {
					position: relative;

					.ice {
						position: absolute;
						z-index: -1;
						left: -28%;
						width: 200%;
						bottom: -20px;
					}
				}

				.item-text {
					max-width: 500px;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
					height: 100%;
				}

				.title {
					margin-bottom: 25px;
					text-transform: capitalize;
					color: #222;
					@extend %max_lines;
					-webkit-line-clamp: 3;

					h1 {
						font-size: 60px;
						font-weight: 600;
					}
				}

				.desc {
					margin-bottom: 10px;
					@extend %max_lines;
					-webkit-line-clamp: 3;
				}

				p {
					color: $second_color;
					font-size: 20px;
					line-height: 1.4em;
				}

				.btns {
					.btn {
						font-size: 18px;
						color: #fff;
						@include borderRadius(30px);
						padding: 10px 25px;

						&.btn-1 {
							background-color: $main_color;
							margin-inline-end: 10px
						}

						&.btn-2 {
							background-color: $second_color
						}

						&:hover {
							background-color: $dark_color;
							color: #fff;
						}
					}
				}
			}
		}
	}

	.owl-theme {
		.owl-nav [class*=owl-] {
			background-color: $main_color;
			@include transition(all ease 0.3s);
			@include borderRadius(50%);

			&:hover {
				background: $second_color;
			}
		}

		.owl-dots {
			position: absolute;
			bottom: 10px;
			width: 100%;

			.owl-dot.active span,
			.owl-theme .owl-dots .owl-dot:hover span {
				background: $main_color;
			}
		}
	}

	.owl-nav {
		margin-top: 0;
		position: absolute;
		top: calc(50% - 25px);
		width: 100%;

		.owl-next,
		.owl-prev {
			position: absolute;
			width: 50px;
			height: 50px;
			border: 1px solid #fff;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			@include borderRadius(0);

			i {
				font-size: 20px;
				height: 24px;
			}
		}

		.owl-next {
			right: 15px;
		}

		.owl-prev {
			left: 15px;
		}
	}

	.owl-stage {
		transition: ease 1s !important;
	}
}

//main slider

//about us
section.about {
	padding-bottom: 70px;

	.content {
		.about-box {
			text-align: center;

			.icon {
				display: inline-block;
				border-radius: 50%;
				margin-bottom: 20px;

				img {
					object-fit: contain;
					-o-object-fit: contain;
					width: 65px;
				}
			}

			.text {
				h3 {
					color: #363636;
					font-size: 16px;
					font-weight: 600;
					position: relative;
					padding-bottom: 10px;

					&::before {
						position: absolute;
						content: "";
						width: 20px;
						height: 2px;
						background: $main_color;
						left: 50%;
						margin-left: -10px;
						bottom: 0;
					}
				}

				p {
					color: #999999;
					font-size: 14px;
				}
			}
		}
	}
}

//about us

//products
section.products {
	padding: $padding_section;
	background-color: #f3f9ff;
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 63px;
		background-repeat: repeat-x;
		animation: slide 400s linear infinite;
		-webkit-animation: slide 400s linear infinite;
		background-image: url(../images/icons/border-1.png);
	}

	&::before {
		top: -15px;
	}

	&::after {
		bottom: -15px;
	}

	.content {
		.product-box {
			text-align: center;
			background-color: #fff;
			padding: 20px;
			@include borderRadius(10px);
			margin-bottom: 25px;
			position: relative;
			z-index: 1;
			@include transition(ease-out 0.3s);

			&::after,
			&::before {
				position: absolute;
				content: "";
				width: 0;
				height: 0;
				z-index: -1;
				@include transition(ease-out 0.6s);
				transition-property: width, height;
			}

			&::after {
				right: 0;
				bottom: 0;
				border-bottom: 0 solid $main_color;
				border-right: 0 solid $main_color;
			}

			&::before {
				left: 0;
				top: 0;
				border-top: 0 solid $main_color;
				border-left: 0 solid $main_color;
			}

			&:hover {
				@include boxshadow(0 10px 20px rgb(0 0 0 / 10%));

				&::after,
				&::before {
					width: 100%;
					height: 100%;
					border-width: 2px;
				}
			}

			.image {
				margin-bottom: 15px;

				img {
					object-fit: contain;
					-o-object-fit: contain;
					height: 190px;
				}
			}

			.text {
				height: 255px;

				.badge {
					margin-bottom: 15px;
					background-color: #eee;
					@include borderRadius(20px);
					padding: 5px 10px;
				}

				h3 {
					color: #363636;
					font-size: 16px;
					font-weight: 600;
					padding-bottom: 10px;
					@extend %max_one_line;
				}

				p {
					color: #999999;
					font-size: 14px;
					@extend %max_lines;
					-webkit-line-clamp: 2;
				}

				.price {
					margin-bottom: 15px;

					span {
						font-size: 18px;
						display: inline-block;
					}

					.new {
						color: $main_color;
					}
					
					.old {
						margin-inline-start: 10px;
						color: #ccc;
						text-decoration: line-through;

					}
				}
			}

			.btns {
				.btn {
					font-size: 14px;
					font-weight: 600;
					color: #222;
					text-transform: uppercase;
					@include borderRadius(30px);
					text-align: center;
					padding: 7px 25px;
					border: 1px solid $main_color;

					&:hover {
						background-color: $second_color;
						color: #fff;
						border-color: $second_color;
					}

					i {
						margin-inline-end: 5px;
						font-size: 18px;
					}

					&.added {
						background-color: $second_color;
						border-color: $second_color;
						color: #fff;
					}
				}
			}
		}
	}
}

//products

//video
section.video {
	padding: $padding_section;
	position: relative;
	z-index: 1;

	.content {
		.video-box {
			position: relative;
			height: 30rem;
			max-width: 880px;
			margin: auto;
			overflow: hidden;
			@include borderRadius(10px);
			z-index: 1;

			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: $second_color;
				opacity: 0.3;
			}

			.video-image {
				height: 100%;

				img {
					@extend %fitimage;
				}
			}

			i {
				position: absolute;
				width: 70px;
				height: 70px;
				left: 50%;
				top: 50%;
				z-index: 10;
				color: $main_color;
				font-weight: 400;
				font-size: 35px;
				text-align: center;
				border-radius: 50%;
				margin-top: -35px;
				margin-left: -35px;
				@include transition(all ease 0.3s);
				background-color: #ffffff;
				outline: 2px solid #fff;
				outline-offset: 8px;
				@extend %center;

				&::before {
					vertical-align: -2px;
				}

				&:hover {
					background-color: $dark_color
				}
			}
		}
	}
}

//video

//call to action
section.cta {
	padding: 20px 0;
	background-image: url(https://smartdemowp.com/uaques/wp-content/uploads/2020/06/pattern-3.png);
	z-index: 1;
	position: relative;

	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: $second_color;
		opacity: 0.9;
		z-index: -1;
	}

	.main-title {
		text-align: initial;
		margin-bottom: 2rem;

		h2 {
			color: #fff;

			&::before {
				right: 0;
			}
		}

		p {
			color: #fff;
			margin: 0;
			max-width: 100%;
		}
	}

	.content {
		.image {
			img {}
		}

		.text {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			ul {
				padding: 0;
				list-style: none;

				li {
					padding-inline-start: 25px;
					position: relative;
					color: #fff;
					margin-bottom: 15px;

					&::before {
						font-family: "bootstrap-icons";
						content: "check2-all";
						-webkit-font-smoothing: antialiased;
						font-style: normal;
						font-variant: normal;
						font-weight: 500;
						font-size: 18px;
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));
						color: $main_color;
					}
				}
			}
			.btns {
				.btn {
					font-size: 14px;
					font-weight: 600;
					color: #fff;
					@include borderRadius(30px);
					padding: 10px 30px;

					&.btn-1 {
						background-color: $main_color;
						margin-inline-end: 10px
					}

					&.btn-2 {
						background-color: $second_color
					}

					&:hover {
						background-color: $dark_color;
						color: #fff;
					}

				}
			}
		}
	}
}

//call to action

//testimonial
section.testimonial {
	padding: $padding_section;
	background-color: #fff;
	background-image: url(../images/bgs/pattern-bg.png);
	background-size: cover;

	.main-title {
		text-align: center
	}

	.content {
		.testimonial-box {
			background-color: transparent;
			text-align: center;

			.text {
				margin-bottom: 20px;

				h3 {
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 2px;
					color: $second_color;
				}
			}

			.image {
				width: 70px;
				height: 70px;
				@include borderRadius(50%);
				overflow: hidden;
				margin: 15px auto;

				img {
					@extend %fitimage;
				}
			}
		}

		.details {
			margin-bottom: 15px;

			p {
				font-size: 16px;
				font-weight: 600;
				font-style: normal;
				max-width: 880px;
				margin: auto;
				color: #999999;
				@extend %max_lines;
				-webkit-line-clamp: 5;
				line-height: 26px;
			}

			.quote {
				width: 50px;
				display: inline-block;
				margin: 15px auto;
				opacity: 0.5;
			}
		}
	}
}

//testimonial

//clients
section.clients {
	padding: $padding_section;
	background-color: #fff;

	.content {
		.item {
			&:hover {
				cursor: move;

				img {
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
			}

			img {
				@include transition(all ease 0.3s);
				object-fit: contain;
				-o-object-fit: contain;
			}
		}
	}
}

//clients

//footer
footer {
	background-color: $second_color;
	padding: 60px 0 0;

	.row {
		row-gap: 20px;
	}

	.footer-content {
		padding-bottom: 30px;

		.footer-box {
			.text {
				p {
					color: #fff;
					font-size: 14px;
					line-height: 1.7em;
					@extend %max_lines;
					-webkit-line-clamp: 5;
				}

				.footer-logo {
					margin-bottom: 10px;

					img {
						max-width: 100px;
					}
				}
			}

			.social-links {
				h4 {
					color: #fff;
					font-size: 18px;
					margin-bottom: 15px;
				}

				.links {
					a {
						color: #ddd;
						font-size: 16px;
						margin-inline-end: 15px;
						@include transition(all ease .3s);

						&:hover {
							color: $main_color;
							opacity: 1;
						}
					}
				}
			}

			h3 {
				font-size: 18px;
				position: relative;
				font-weight: 600;
				color: #ffffff;
				line-height: 1.2em;
				margin-bottom: 35px;
				padding-bottom: 15px;
				text-transform: capitalize;

				&::before {
					position: absolute;
					content: "";
					left: 0;
					bottom: 0;
					height: 1px;
					width: 30px;
					background-color: #ffffff;
				}
			}

			.map-links {
				padding: 0;

				li {
					list-style: none;
					margin-bottom: 10px;
					font-size: 14px;
					padding-inline-start: 25px;
					position: relative;

					&::before {
						font-family: "bootstrap-icons";
						content: "chevron-double-left";
						-webkit-font-smoothing: antialiased;
						font-style: normal;
						font-variant: normal;
						font-weight: 500;
						font-size: 12px;
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translateY(-50%));
						color: #fff;
					}

					a {
						color: #fff;
						text-transform: capitalize;
						@extend %max_lines;
						-webkit-line-clamp: 1;

						&.btn {
							padding-left: 0;
							padding-top: 0;
							color: $main_color;
							font-weight: 600;
						}
					}
				}
			}

			.contact {
				p {
					list-style: none;
					margin-bottom: 10px;
					font-size: 14px;
					color: #fff;
					margin-bottom: 20px;

					i {
						margin-inline-end: 10px;
						color: $main_color;
					}
				}

				a {
					color: #fff;
				}
			}
		}
	}

	.copyright {
		background-color: transparent;
		padding: 15px 0;
		text-align: center;
		border-top: 1px solid rgba(255, 255, 255, 0.15);

		.copy-text {
			p {
				margin-bottom: 0;
				color: #fff;
				font-size: 14px;
				margin: 0;
				text-transform: capitalize;

				a {
					color: $main_color;
					margin-inline-start: 5px;
				}
			}
		}
	}
}

//footer