//global page style
.navigation {
    margin-bottom: 25px;

    .pagination {
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;
        gap: 5px;

        .page-item {
            &.active {
                .page-link {
                    background-color: $main_color;
                    border-color: $main_color;
                    color: #fff;
                }
            }

            .page-link {
                color: #fff;
                background-color: var(--dark-color);

                &:focus:not(.arrow) {
                    color: #fff;
                    background-color: $main_color;
                    box-shadow: 0 0 5px 0 rgb(13 110 253 / 25%);
                    border-color: $main_color;
                }

                &.arrow {
                    box-shadow: none;
                }
            }
        }
    }
}

//global page style