//breadcrumb
.main-breadcrumb {
    padding: 12rem 0 7rem;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: -1;
    }

    .breadcrumb-title {
        text-align: center;

        h2 {
            text-align: center;
            color: #fff;
            font-size: 40px;
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    .breadcrumb {
        justify-content: center;

        .breadcrumb-item {
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 600;

            a {
                color: #fff;
            }

            &.active {
                color: #fff;
                font-weight: 500;
            }

            &::before {
                color: #ffffff;
            }
        }
    }
}

//breadcrumb

//global page style
.navigation {
    margin-top: 25px;

    .pagination {
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 0;
        gap: 5px;
        justify-content: center;

        .page-item {
            &.active {
                .page-link {
                    background-color: $main_color;
                    border-color: $main_color;
                    color: #fff;
                }
            }

            .page-link {
                color: #fff;
                background-color: $dark_color;

                &:focus:not(.arrow) {
                    color: #fff;
                    background-color: $main_color;
                    box-shadow: 0 0 5px 0 rgba(13, 110, 253, 0.25);
                    border-color: $main_color;
                }

                &.arrow {
                    box-shadow: none;
                }
            }
        }
    }
}

.side-widget {
    .other-services {
        padding: 25px;
        background: #fff;
        margin-bottom: 25px;

        .title {
            h4 {
                position: relative;
                margin-bottom: 20px;
                display: block;
                padding-bottom: 15px;
                margin-top: 0;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: $main_color;
                    width: 70px;
                    height: 2px;
                }
            }
        }

        ul {
            padding: 0;

            li {
                list-style: none;
                line-height: 1.8em;
                padding: 15px 0;
                border-bottom: 1px solid #e1e1e1;

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                a {
                    font-size: 16px;
                    color: #070143;
                    font-weight: 500;
                    padding-inline-start: 25px;
                    position: relative;
                    text-transform: capitalize;
                    @extend %max_lines;
                    -webkit-line-clamp: 1;

                    &::before {
                        font-family: "bootstrap-icons";
                        content: "chevron-double-right";
                        -webkit-font-smoothing: antialiased;
                        text-transform: none;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 900;
                        font-size: 14px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        color: $main_color;
                    }
                }
            }
        }

    }

    .help {
        padding: 25px;
        background: linear-gradient(rgba(191, 0, 0, 0.37), rgba(0, 0, 0, 0.55)), url(../images/bgs/footer.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            margin-bottom: 25px;

            h4 {
                color: #fff;
                font-size: 24px;
            }
        }

        p {
            color: #fff;
            line-height: 1.7em;
            font-size: 14px;
            margin-bottom: 25px;
            @extend %max_lines;
            -webkit-line-clamp: 5;
        }

        .btn {
            background: $main_color;
            color: #fff;
            display: inline-block;
            padding: 10px 25px;
            border: 0;
            text-transform: capitalize;
            z-index: 1;
            position: relative;
            font-size: 16px;
            @include borderRadius(25px);
        }
    }
}

//global page style

//packages
section.packages {
    padding: $padding_section;

    .main-title {
        text-align: center;
    }

    .content {
        .packages-box {
            position: relative;
            z-index: 1;
            padding: 50px;
            color: #fff;
            background-size: cover;
            background-position: 50% 0%;
            @include transition(all ease 0.3s);

            &:hover {
                background-position: 100% 50%;
            }

            &::after {
                position: absolute;
                content: '';
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                background-color: rgba(34, 34, 34, 0.9);
                z-index: -1;
            }

            .type {
                h3 {
                    font-size: 24px;
                    color: #ffffff;
                    font-weight: 700;
                    line-height: 1.3em;
                    text-transform: capitalize;
                }

                p {
                    color: #fff;
                }
            }

            .price {
                margin-bottom: 30px;

                .per {
                    font-size: 14px;
                }

                span {
                    display: block;
                    font-size: 35px;
                    font-weight: 600;
                    color: $main_color;

                    sup {
                        font-size: 18px;
                        color: #fff;
                        font-weight: 500;
                        margin-inline-start: 10px;
                    }
                }
            }

            .details {
                ul {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 30px;

                    li {
                        position: relative;
                        padding-left: 28px;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 14px;

                        &::before {
                            font-family: "bootstrap-icons";
                            content: "check2-all";
                            -webkit-font-smoothing: antialiased;
                            font-style: normal;
                            font-variant: normal;
                            font-weight: 500;
                            font-size: 18px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            @include transform(translateY(-50%));
                            color: #fff;
                        }

                        &.line-through {
                            text-decoration: line-through;
                            text-decoration-thickness: 2px;

                            &::before {
                                content: "x";
                                color: $main_color
                            }
                        }
                    }
                }
            }

            .packages-btn {
                @extend %btn_selector;

                .btn {
                    span {
                        padding: 12px 35px;
                    }
                }

                .outer-btn {
                    &::before {
                        z-index: auto;
                    }
                }
            }
        }
    }
}

//packages

//about page
section.about-in-page {
    padding: $padding_section;
    position: relative;

    &::after {
        content: "";
        width: 250px;
        height: 328px;
        position: absolute;
        bottom: 0;
        right: 20px;
        background-image: url(../images/about/law.png);
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-animation: up_down 2s infinite alternate-reverse;
        animation: up_down 2s infinite alternate-reverse;
    }

    .main-title {
        margin-bottom: 2rem;

        h2 {
            color: $dark_color;
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: 600;
        }
    }

    p {
        color: #777777;
        line-height: 1.5;
        font-size: 16px;
        text-align: justify;
    }

    .content {
        .row {
            &:nth-child(even) {
                direction: rtl;

                .text {
                    direction: initial;
                }
            }
        }

        .box {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .text {
            padding-top: 30px;

            ul {
                padding: 0;
                list-style: none;
                display: inline-block;

                li {
                    margin-bottom: 10px;
                    color: #555;
                    position: relative;
                    padding-inline-start: 25px;

                    &::before {
                        font-family: "bootstrap-icons";
                        content: "check2-circle";
                        -webkit-font-smoothing: antialiased;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 500;
                        font-size: 18px;
                        position: absolute;
                        left: 0;
                        top: 12px;
                        @include transform(translateY(-50%));
                        color: $main_color;
                    }
                }
            }
        }

        .image {
            margin-bottom: 20px;
            margin-inline-end: 50px;
            float: left;
            position: relative;

            &::after {
                content: "";
                width: 200px;
                height: 200px;
                position: absolute;
                top: -30px;
                left: -30px;
                background-image: url(../images/about/pattern-2.png);
                background-repeat: no-repeat;
                z-index: -1;
            }

            img {
                max-width: 100%;
                width: 400px;
                @extend %fitimage;
                height: 500px;
            }
        }

        .more-text {
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            .sub-title {
                h3 {
                    position: relative;

                    &::first-letter {
                        color: $main_color;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@-webkit-keyframes up_down {
    0% {
        @include transform(translateY(0));
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes up_down {
    0% {
        @include transform(translateY(0));
    }

    100% {
        @include transform(translateY(-20px));
    }
}

//about page

//services page
section.services-in-page {
    @extend .services;

    .main-title {
        h2 {
            text-align: initial;
        }
    }

    @supports (grid-row-gap: 25px) {
        .row {
            grid-row-gap: 25px;
        }
    }

    @supports not (grid-row-gap: 25px) {
        .content {
            .box {
                margin-bottom: 25px;
            }
        }
    }

    .content {
        .nav {
            margin-inline-end: 40px;

            .nav-link {
                background: $main_color;
                position: relative;
                height: 60px;
                z-index: 9;
                color: #fff;
                @include borderRadius(0);
                margin-bottom: 5px;
                font-size: 16px;
                text-transform: capitalize;
                text-align: initial;
                padding: 15px;

                span {
                    @extend %max_one_line;
                    width: 220px;
                    display: block;
                }

                &.active {
                    &::before {
                        position: absolute;
                        right: -30px;
                        top: 0;
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 30px 0 30px 30px;
                        border-color: transparent transparent transparent $main_color;
                        opacity: 0.4;
                    }
                }
            }
        }
    }
}

//services page

//single service
section.single-service {
    @extend .services;

    .main-title {
        h2 {
            text-align: initial;
        }
    }

    .content {
        .service-box {
            padding-inline-start: 0;

            &:hover {
                .image {
                    img {
                        @include transform(none);
                        opacity: 1;
                    }
                }
            }

            .image {
                img {
                    height: auto;
                    max-height: 500px;
                }
            }

            .details {
                position: relative;

                .title {
                    max-width: 100%;

                    h3 {
                        line-height: 1.5;
                        color: #000;
                    }
                }

                &::before {
                    top: 20px;
                    height: 50px;
                    left: 0;
                }
            }
        }

    }
}

//single service

//blogs page 
section.blogs-in-page {
    @extend .blogs;

    @supports (grid-row-gap: 25px) {
        .row {
            grid-row-gap: 25px;
        }
    }

    @supports not (grid-row-gap: 25px) {
        .content {
            .box {
                margin-bottom: 25px;
            }
        }
    }
}

//blogs page 

//single blog
.single-blog {
    @extend .single-service;

    .content {
        .blog-box {
            @extend .service-box;
        }

        .other-blogs {
            @extend .other-services;
        }

        .details {
            .text {
                ul {
                    li {
                        list-style: square;
                        margin-bottom: 1rem
                    }
                }
            }
        }
    }
}

//single blog

//contact page
section.contact {
    padding: $padding_section;

    .main-title {
        text-align: center;
    }

    .info-area {
        margin: auto;
        margin-bottom: 50px;
        z-index: 9;
        position: relative;

        .info-box {
            text-align: center;
            background-color: #fbfbfb;
            padding: 40px 20px;
            position: relative;
            overflow: hidden;
            z-index: 1;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);

            @extend %two_way_anim_selector;

            &:hover {
                h4,
                span,
                a {
                    color: #fff;
                }
            }

            &::after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0;
                background-color: $dark_color;
                @include transition(all ease 0.5s);
                z-index: -1;
            }

            h4 {
                font-size: 24px;
                color: $dark_color;
                font-weight: 600;
            }

            i {
                font-size: 60px;
                text-align: center;
                display: block;
                margin: auto;
                color: $main_color;
                margin-bottom: 20px;
            }

            span {
                display: block;
                color: #3a3d45;
                font-size: 16px;
            }

            a {
                color: #3a3d45;
                text-transform: capitalize;
                display: block;
                font-size: 16px;
            }
        }
    }

    .form-area {
        margin: auto;
        margin-bottom: 1px;

        .contact-box {
            max-width: 850px;
            margin: auto;

            .form-content {
                .form-group {
                    margin-bottom: 20px;
                }
                .contact-btn {
                    @extend %btn_selector;

                    .btn {
                        background-color: $dark_color;
                        color: #fff;
                        font-weight: 600;
                    }
                }

                .form-control {
                    border: none;
                    @include transition(all ease 0.3s);
                    color: #333;
                    background-color: #fff;
                    font-size: 16px;
                    padding: 17px;
                    border: 1px solid #e2e2e2;
                    @include borderRadius(0);

                    &:hover,
                    &:focus {
                        box-shadow: none;
                        outline: none;
                        border-color: #5a5a5a;
                    }

                    &::placeholder {
                        color: #79859c;
                    }
                }

                textarea {
                    resize: none;
                }
            }

            .successfully {
                color: #ffffff;
                padding: 9px 15px;
                font-size: 16px;
                margin-bottom: 0;
                @include borderRadius(20px);
                margin-top: 25px;
                box-shadow: 1px 1px 25px -15px #646464;
                background-color: $main_color;
            }
        }
    }
}

//contact page