/** rtl styles **/
html[dir=rtl] {
    body {
        font-family: "Tajawal", sans-serif;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        float: right;
        padding-left: 5px
    }

    .modal-header .btn-close {
        margin-left: 0
    }

    header {
        .dropdown-menu[data-bs-popper] {
            left: auto;
            right: 0;
            text-align: right;
        }

        .top-part {
            .content {
                .some-info {
                    .info {
                        .icon {
                            .bi.bi-hand-index-thumb {
                                &::before {
                                    @include transform(scaleX(-1) rotate(90deg))
                                }
                            }
                        }
                    }
                }
            }
        }

        .navbar {
            .dropdown-toggle {
                &::before {
                    left: 0;
                    right: auto;
                }
            }

            .navbar-nav {
                .nav-link {
                    &::before {
                        right: -15px;
                        left: auto
                    }
                }

                .nav-item {
                    .dropdown-menu {
                        li {
                            text-align: initial;
                        }
                    }
                }
            }
        }

        .offcanvas {
            .navbar .navbar-nav .nav-item .dropdown-toggle::after {
                left: 0;
                right: auto
            }

            .offcanvas-header {
                justify-content: flex-start;
            }
        }
    }

    .owl-carousel {
        .owl-item {
            direction: rtl;
        }
    }

    section.about .content .about-image img,
    section.about-in-page .content .about-image img {
        right: 30px;
    }

    section.activities,
    section.contact-in-page {
        .main-title {
            h2 {
                &::after {
                    right: 0;
                    left: auto;
                }
            }
        }

        .content {
            .activities-box {
                right: 20px;

                &::before {
                    right: -15px;
                    left: auto;
                }
            }
        }
    }

    section.auctioneers {
        .content {
            .nav-tabs {
                .nav-link {
                    &::after {
                        right: 100%;
                        left: auto;
                    }

                    &.active {
                        &::after {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }
        }
    }

    .contact-info {
        .content {
            .details {
                .title {
                    &::before {
                        right: 0;
                        left: auto;
                    }
                }
            }
        }
    }

    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        padding-left: calc(1.5em + .75rem);
        background-position: left calc(.375em + .1875rem) center;
    }

    .form-control.is-valid,
    .was-validated .form-control:valid {
        padding-left: calc(1.5em + .75rem);
        background-position: left calc(.375em + .1875rem) center;
    }

    .form-select {
        background-position: left .75rem center;
    }

    .dropdown-toggle {
        &::after {
            margin-left: 0;
            margin-right: .255em;
        }
    }

    .form-check {
        padding-left: 0;
        padding-right: 1.5em;
    }

    .form-check .form-check-input {
        float: right;
        margin-right: -1.5em;
        margin-left: 0;
    }

    .form-control {

        &[type="number"],
        &[type="email"] {
            direction: rtl !important;
        }
    }

    .alert-dismissible {
        padding-left: 3rem;
        padding-right: 10px
    }

    .alert-dismissible .btn-close {
        right: auto;
        left: 0
    }

    .accordion-button::after {
        margin-left: 0;
        margin-right: auto;
    }

    section.main-slider .main-slider-carousel .owl-item .item .item-details p {
        font-weight: 600
    }

    footer {
        .footer-content {
            .footer-box {
                .contact {
                    ul {
                        li {
                            padding-left: 0;
                            padding-right: 40px;

                            i {
                                right: 0;
                                left: auto
                            }
                        }
                    }
                }

                .map-links {
                    li {
                        padding-left: 0;
                        padding-right: 20px;

                        &::before {
                            right: 0;
                            left: auto;
                            @include transform(rotate(180deg) translateY(50%));
                        }
                    }
                }

                h3::before {
                    right: 0;
                    left: auto;
                }
            }
        }
    }
}

/** rtl styles **/