div(class="pt-5 pb-4 bg-white footer")
    div(class="container")
        div(class="row")
            div(class="col-xl-3 col-md-6 mb-4")
                h6 About us
                a(href="index.html" class="footer-brand")
                    img(src="img/logo.png", class="img-fluid" alt="") 
                p When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            div(class="col-xl-2 col-md-6 mb-4")
                h6 Useful Links
                ul
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | events
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | Lecturers
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | Companies
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | Exhibitions
            div(class="col-xl-4 col-md-6 mb-4")
                h6 Latest Events
                ul
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | The Role Of The Event Industry
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | Creating Favourite Meeting Places
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | Collaboration – Future Of Business
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | Artificial Intelligence For The Event Industry
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | English Fantasy Movies
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | Tamil Action Movies
                    li
                        a(href="#")
                            i(class="fas fa-chevron-right") 
                            | Hindi Animated Movies
            div(class="col-xl-3 col-md-6 mb-4")
                h6 Contact us
                ul(class="contact-info")
                    li
                        a(href="mailto:admin@events.com") 
                            i(class="fas fa-envelope")
                            | admin@events.com
                    li
                        a(href="tel:0100000000") 
                            i(class="fas fa-phone")
                            | 0100000000
                div(class="social-icons")
                    a(href="#", target="_blank")
                        i(class="fab fa-facebook")
                    a(href="#", target="_blank")
                        i(class="fab fa-twitter")
                    a(href="#", target="_blank")
                        i(class="fab fa-instagram")
                    a(href="#", target="_blank")
                        i(class="fab fa-youtube")
footer(class="py-4")
    div(class="container")
        p(class="m-0 text-center") All Copyrights reserved by Al-Fouad for Exhibitions & Events By Al-Wassaq
            a(class="text-danger d-block", target="_blank", href="https://www.deltaitech.com/") DeltaITech