//theme colors
div(class="theme-colors")
	div(class="show-icon")
		div(class="icon")
			i(class="bi bi-gear")
	span اللون الرئيسي
	div(class="main-color")
		ul
			li(data-color="#FA4B35" style="background-color: #FA4B35") 
			li(data-color="#FAC302" style="background-color: #FAC302") 
			li(data-color="#09E340" style="background-color: #09E340") 
			li(data-color="#0224FA" style="background-color: #0224FA") 
			li(data-color="#009688" style="background-color: #009688") 
		input(class="pick-color" type="color")
	span اللون الغامق
	div(class="dark-color")
		ul
			li(data-color="#000000" style="background-color: #000000") 
			li(data-color="#362222" style="background-color: #362222") 
			li(data-color="#171010" style="background-color: #171010") 
			li(data-color="#423F3E" style="background-color: #423F3E") 
			li(data-color="#2B2B2B" style="background-color: #2B2B2B") 
		input(class="pick-color" type="color")
//theme colors

//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						div(class="about")
							a(href="#") 
								img(data-src="images/logo-footer.png", class="img-fluid mb-4" alt="")
							div(class="footer-img")
								img(data-src="images/footer-img.jpg", class="img-fluid mb-4" alt="")
							h3 من نحن
							p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						h3 المقالات الأخيرة
						div(class="recent")
							div(class="card")
								div(class="row g-0")
									div(class="col-3")
										a(href="#", class="image" title="") 
											img(data-src="images/trending/01.jpg", class="img-fluid", alt="")
									div(class="col-9")
										div(class="card-content")
											div(class="card-body")
												h5(class="card-title") 
													a(href="#") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
												p(class="card-date")
													a(href="#") 
														i(class="bi bi-calendar")
														small(class="text-muted") 18 فبراير 2021 
														small(class="text-muted") 11:52 ص
							div(class="card")
								div(class="row g-0")
									div(class="col-3")
										a(href="#", class="image" title="") 
											img(data-src="images/trending/02.jpg", class="img-fluid", alt="")
									div(class="col-9")
										div(class="card-content")
											div(class="card-body")
												h5(class="card-title") 
													a(href="#") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
												p(class="card-date")
													a(href="#") 
														i(class="bi bi-calendar")
														small(class="text-muted") 18 فبراير 2021 
														small(class="text-muted") 11:52 ص
							div(class="card")
								div(class="row g-0")
									div(class="col-3")
										a(href="#", class="image" title="") 
											img(data-src="images/trending/03.jpg", class="img-fluid", alt="")
									div(class="col-9")
										div(class="card-content")
											div(class="card-body")
												h5(class="card-title") 
													a(href="#") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
												p(class="card-date")
													a(href="#") 
														i(class="bi bi-calendar")
														small(class="text-muted") 18 فبراير 2021 
														small(class="text-muted") 11:52 ص
				div(class="col-lg-4 col-md-12")
					div(class="footer-box")
						h3 معلومات التواصل
						p اشترك معنا الآن لنصلك آخر الأخبار
						div(class="contact")
							div(class="input-group")
								input(type="text", class="form-control", placeholder="أدخل إيميلك", aria-label="Recipient's username", aria-describedby="go_btn")
								button(class="btn btn-outline-secondary", id="go_btn" type="button") اشتراك
	div(class="copyright")
		div(class="copy-text")
			p جميع الحقوق محفوظة
				a(href="#") شركة دلتا.
//footer part