//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-5")
					div(class="footer-box")
						div(class="text")
							div(class="footer-logo")
								a(href="index.html") 
									img(data-src="images/logo-footer.png", class="img-fluid" alt="")
							p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
						div(class="social-links")
							h4 تواصل معنا على مواقع التواصل
							div(class="links")
								a(href="#", class="bi bi-facebook")
								a(href="#", class="bi bi-twitter")
								a(href="#", class="bi bi-instagram")
								a(href="#", class="bi bi-linkedin")
				div(class="col-lg-3")
					div(class="footer-box")
						h3 لينكات ذات صلة
						ul(class="map-links")
							li
								a(href="#!") الرئيسية
							li
								a(href="about.html") نبذة عنا
							li
								a(href="services.html") سلة المنتجات
							li
								a(href="blogs.html") المنتجات
							li
								a(href="contact.html") تواصل معنا
				div(class="col-lg-4")
					div(class="footer-box")
						h3 معلومات التواصل
						div(class="contact")
							p 
								i(class="bi bi-pin-map")
								| المملكة العربية السعودية، الرياض
							p 
								i(class="bi bi-telephone")
								a(href="tel:009661234567890") 009661234567890
							p 
								i(class="bi bi-envelope")
								a(href="mailto:support@example.com") support@example.com
		div(class="copyright")
			div(class="copy-text")
				p جميع الحقوق محفوظة &copy;
					a(href="#") شركة دلتا
//footer part