//footer part
footer
	.container 
		.footer-content
			.row 
				div(class="col-lg-5")
					.footer-box
						h3 about us
						.about
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus eligendi odio, velit error in perferendis numquam ex quisquam eveniet? Optio odio ipsum, delectus soluta nobis voluptatibus placeat velit aliquid ab.
						.social-media 
							ul 
								li 
									a(href="", target="_blank")
										i(class="bi bi-facebook") 
								li 
									a(href="", target="_blank")
										i(class="bi bi-twitter") 
								li 
									a(href="", target="_blank")
										i(class="bi bi-instagram") 
				div(class="col-lg-3")
					.footer-box
						h3 Site map
						.main 
							ul 
								li
									a(href="index.html") home
								li
									a(href="about.html") about Us
								li
									a(href="recipes.html") recipes
								li
									a(href="contact.html") contact
				div(class="col-lg-4")
					.footer-box
						h3 contact us
						.contact 
							ul 
								li  
									i(class="bi bi-envelope") 
									a(href="mailto:") mail@yahoo.com      
								li  
									i(class="bi bi-telephone")
									a(href="tel:" dir="ltr") +201988209222       
								li
									i(class="bi bi-pin-map")
									span Egypt, cairo, Jiza city
	.copyright 
		.copy-text
			p All rights reserved by 
				a(href="#") Delta.
//footer part