//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            img(class="img-fluid" data-src="images/slider/01.jpg" class="slider-img" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        p Top-Of-The-Line Equipment Ready At Flexible Rates Around
                        h2(class="title") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        div(class="item")
            img(class="img-fluid" data-src="images/slider/02.jpg" class="slider-img" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        p Top-Of-The-Line Equipment Ready At Flexible Rates Around
                        h2(class="title") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-5")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/img-about.png" alt="")
                div(class="col-lg-7")
                    div(class="main-title")
                        span(class="top-title") About the company
                        h2 Middle East auction Saudi firm solidarity Commercial Registration No. 1010083418 issued from Riyadh .
                    div(class="about-text")
                        p The company was founded on 11/04/1411 H corresponding to 17/11/1991 AD a leading company in the field of auctions unrestricted particular commodity .
                        p The company makes unrestricted auctions for the sale of equipment and machinery , cars and so a public auction .
                    div(class="about-btn")
                        a(href="about.html" class="btn") read more
//about us

//activities
section(class="activities")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-7")
                    div(class="main-title")
                        span(class="top-title") the company activities
                        h2 our activities
                    div(class="text-part")
                        div(class="activities-box")
                            h3(class="title") real estate auctions
                        div(class="activities-box")
                            h3(class="title") Lorem ipsum dolor sit, sed do eiusmod tempor incididunt
                        div(class="activities-box")
                            h3(class="title") Lorem ipsum dolor  elit, sed do eiusmod incididunt ut 
                        div(class="activities-box")
                            h3(class="title") Lorem ipsum dolor sit amet adipisicing elit
                div(class="col-lg-5")
                    div(class="activities-image")
                        img(class="img-fluid" data-src="images/activities.png" alt="")
//activities

//call to action
section(class="cta")
    div(class="container-fluid")
        div(class="content")
            div(class="image")
                img(class="img-fluid" data-src="images/cta/cta.png" alt="")
            div(class="text")
                h3 For companies and institutions that wish to auction
            div(class="call")
                i(class="bi bi-headset")
                div(class="phone")
                    p Get Quick Support
                    a(href="tel:0505429337") 0505429337
            div(class="cta-btn")
                a(href="form.html" class="btn") get started
//call to action

//videos
section(class="videos")
    div(class="container")
        div(class="main-title")
            span(class="top-title") the company videos
            h2 our videos
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="video-box ratio ratio-1x1")
                        iframe(src="http://www.youtube.com/embed/qZipBQ7TFAI", title="YouTube video", allowfullscreen)
                div(class="col-lg-4")
                    div(class="video-box ratio ratio-1x1")
                        iframe(src="http://www.youtube.com/embed/RfaGrK7y1sY", title="YouTube video", allowfullscreen)
                div(class="col-lg-4")
                    div(class="video-box ratio ratio-1x1")
                        iframe(src="http://www.youtube.com/embed/mR6zBlqcc7s", title="YouTube video", allowfullscreen)
            div(class="videos-btn")
                a(href="videos.html" class="btn") read more
//videos

//coming auction
section(class="coming-auction")
    div(class="container")
        div(class="content")
            div(class="box")
                div(class="text")
                    h3(class="title") middle east auction
                    p Auction of Reservation and Execution Departments in Al-Kharj Governorate (Al-Haytham)
                    p For the sale of cars, Volvo machines, water, agricultural equipment, plows, bags, pipes, pumps, scrap and other miscellaneous things.Starting on Monday 12/3/1443 AH - 18/10/2021AD To view and enter the auction, make a certified check in accordance with the terms and conditions
                div(class="call")
                    i(class="bi bi-headset")
                    div(class="phone")
                        a(href="tel:0505429337") 0505429337
                        a(href="tel:0505429337") 0505429337
                        a(href="tel:0505429337") 0505429337
                div(class="coming-btn")
                    h5(class="title") to download the auction brochure
                    a(href="http://www.middleeasta.com/old/new2/17-10-2021/%D9%85%D9%88%D8%AC%D9%88%D8%AF%D8%A7%D8%AA%20%D9%88%D9%85%D9%86%D9%82%D9%88%D9%84%D8%A7%D8%AA%20%D9%85%D8%AA%D9%86%D9%88%D8%B9%D8%A9%20(1).pdf" target="_blank" class="btn") Click here
//coming auction