//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
                            a(href="#!" class="btn diff") all services
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/02.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
                            a(href="#!" class="btn diff") all services
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/03.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="#!" class="btn") Get Started Now
                            a(href="#!" class="btn diff") all services
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        span(class="top-title") we introduce better services
                        h2 We thrive on building a healthy community for all individuals.
                div(class="col-lg-6")
                    div(class="about-text wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".4s")
                        p We care for the growing needs of our community. We build systems for providing health services for individuals, families, communities and populations in general.
            div(class="about-boxs")
                div(class="row")
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                img(src="images/icons/book.png", class="img-fluid" alt="")
                            div(class="number")
                                span(class="counter") 6500
                                sup +
                            div(class="text")
                                h3 Worldwide Branches
                                p Bring best quality health services to ones who are in need worldwide.
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                img(src="images/icons/folder.png", class="img-fluid" alt="")
                            div(class="number")
                                span(class="counter") 1000
                                sup +
                            div(class="text")
                                h3 Hospital Established
                                p Bring best quality health services to ones who are in need worldwide.
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                img(src="images/icons/placeholder.png", class="img-fluid" alt="")
                            div(class="number")
                                span(class="counter") 300
                                sup +
                            div(class="text")
                                h3 Local Partners
                                p Bring best quality health services to ones who are in need worldwide.
//about us

//services
section(class="services")
    div(class="container")
        div(class="main-title")
            span(class="top-title") our services
            h2 family first services
            p Read the most popular medical news and articles in health care industries to catch up with the latest policies and trends.
        div(class="content")
            div(class="row")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        //- div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/01.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") Daily Home Care
                            p We send a doctor to visit the patient at home to diagnose and treat
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") more details
                                    i(class="bi bi-chevron-double-right")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/02.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") Hourly Home Care
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis molestiae iste laboriosam illum debitis facere quasi beatae eum officiis est sequi, et id doloremque libero eveniet veritatis consectetur magni corporis.
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") more details
                                    i(class="bi bi-chevron-double-right")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        //- div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/03.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") Specialized Care
                            p We send a doctor to visit the patient at home to diagnose and treat
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") more details
                                    i(class="bi bi-chevron-double-right")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        //- div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/04.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") Advanced Care
                            p We send a doctor to visit the patient at home to diagnose and treat
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") more details
                                    i(class="bi bi-chevron-double-right")
            div(class="services-btn")
                p Don’t hesitate, contact us for better help and services.
                    a(href="services.html" class="btn") Explore all services
//services

//why us
section(class="why-us")
    div(class="container")
        div(class="main-title")
            span(class="top-title") Our commitment
            h2 why you should choose us
            p We’ve combined a new kind of doctor’s experience that blends the highest level of health care with exceptional service. People can enroll membership by paying $129.
        div(class="content")
            div(class="why-carousel owl-carousel owl-theme")
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title") Lorem ipsum dolor
                    p We set accurate schedules and follow closely to achieve efficiency.
            div(class="why-btn")
                p Don’t hesitate, contact us for better help and services.
                    a(href="why.html" class="btn") Let’s get started
//why us

//contact us
section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4 p-0")
                    div(class="image")
                        img(src="images/bgs/contact.jpg", class="img-fluid" alt="")
                div(class="col-lg-8 p-0")
                    div(class="contact-form wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                        div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                            h2 contact us now
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your name *
                                        input(type="text" class="form-control" placeholder="Name" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your email *
                                        input(type="email" class="form-control" placeholder="Email" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your number *
                                        input(type="number" class="form-control" placeholder="Phone" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") select thing *
                                        select(class="form-select") 
                                            option(disabled, selected) Select an option
                                            option(value="1") option 01
                                            option(value="2") option 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") your message *
                                        textarea(class="form-control" rows="5" placeholder="Leave a comment here")
                            div(class="contact-btn")
                                button(class="btn" type="submit") send now
//contact us

//clients
section(class="clients")
    div(class="container")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients

//subscribe
section(class="subscribe")
    div(class="container-fluid")
        div(class="content")
            div(class="row")
                div(class="col-lg-8 p-0")
                    div(class="subscribe-image")
                        img(src="images/bgs/subscribe.jpg", class="img-fluid" alt="")
                div(class="col-lg-4 p-0")
                    div(class="subscribe-form wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                        div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                            h3(class="heading") Believe.
                                br
                                | Consolation.
                                br
                                | Reality.
                        form(class="needs-validation" action="" method="" novalidate)
                            h3(class="sub-title") Subscribe to get newsletter
                            div(class="input-group")
                                input(class="form-control", type="text", placeholder="Enter your email", aria-label="Recipient's username", aria-describedby="subscribeBtn")
                                button(class="btn btn-outline-secondary", id="subscribeBtn", type="button") 
                                    i(class="bi bi-mailbox")
//subscribe

//testimonial
section(class="testimonial")
    div(class="container")
        div(class="main-title")
            span(class="top-title") testimonials
            h2 testimonials our clients
            p Read the most popular medical news and articles in health care industries to catch up with the latest policies and trends.
        div(class="content")
            div(class="testimonial-carousel owl-carousel owl-theme")
                div(class="testimonial-box")
                    div(class="heading")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/testimonial/01.jpg" alt="")
                        div(class="text")
                            h3 mohamed ahmed
                            p Our Customer
                    div(class="details")
                        img(src="images/testimonial/quote.svg", class="img-fluid quote" alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                div(class="testimonial-box")
                    div(class="heading")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/testimonial/02.jpg" alt="")
                        div(class="text")
                            h3 mohamed ahmed
                            p Our Customer
                    div(class="details")
                        img(src="images/testimonial/quote.svg", class="img-fluid quote" alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                div(class="testimonial-box")
                    div(class="heading")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/testimonial/01.jpg" alt="")
                        div(class="text")
                            h3 mohamed ahmed
                            p Our Customer
                    div(class="details")
                        img(src="images/testimonial/quote.svg", class="img-fluid quote" alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                div(class="testimonial-box")
                    div(class="heading")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/testimonial/02.jpg" alt="")
                        div(class="text")
                            h3 mohamed ahmed
                            p Our Customer
                    div(class="details")
                        img(src="images/testimonial/quote.svg", class="img-fluid quote" alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
//testimonial