//hero area
div(class="hero" dir="ltr")
    div(class="container")
        div(class="hero-content")
            div(class="hero-box")
                div(class="slider-nav")
                    div(class="item")
                        div(class="image") 
                            img(data-src="images/hero/01.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                    div(class="item")
                        div(class="image") 
                            img(data-src="images/hero/02.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                    div(class="item")
                        div(class="image") 
                            img(data-src="images/hero/03.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                    div(class="item")
                        div(class="image") 
                            img(data-src="images/hero/04.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                    div(class="item")
                        div(class="image") 
                            img(data-src="images/hero/04.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                div(class="slider-for")
                    div(class="item")
                        a(href="single-news.html", class="image" title="") 
                            img(data-src="images/hero/01.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            a(href="single-news.html")
                                h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                            p   
                                a(href="#") 
                                    i(class="bi bi-calendar")
                                    small(class="text-white") 18 فبراير 2021 
                                    small(class="text-white") 11:52 ص
                    div(class="item")
                        a(href="single-news.html", class="image" title="") 
                            img(data-src="images/hero/02.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            a(href="single-news.html")
                                h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                            p   
                                a(href="#") 
                                    i(class="bi bi-calendar")
                                    small(class="text-white") 18 فبراير 2021 
                                    small(class="text-white") 11:52 ص
                    div(class="item")
                        a(href="single-news.html", class="image" title="") 
                            img(data-src="images/hero/03.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            a(href="single-news.html")
                                h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                            p   
                                a(href="#") 
                                    i(class="bi bi-calendar")
                                    small(class="text-white") 18 فبراير 2021 
                                    small(class="text-white") 11:52 ص
                    div(class="item")
                        a(href="single-news.html", class="image" title="") 
                            img(data-src="images/hero/04.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            a(href="single-news.html")
                                h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                            p   
                                a(href="#") 
                                    i(class="bi bi-calendar")
                                    small(class="text-white") 18 فبراير 2021 
                                    small(class="text-white") 11:52 ص
                    div(class="item")
                        a(href="single-news.html", class="image" title="") 
                            img(data-src="images/hero/04.jpg", class="img-fluid" alt ="")
                        div(class="text")
                            a(href="single-news.html")
                                h2 ألقت الإدارة العامة لمباحث الإنترنت وتكنولوجيا المعلومات لمنطقة شرق الدلتا، القبض على طالب يقوم بالنصب على المواطنين، ببيع "أكونتات" على مستوى متقدم في إحدى الألعاب الإلكترونية، مقابل الحصول على مبالغ مالية كبيرة.
                            p   
                                a(href="#") 
                                    i(class="bi bi-calendar")
                                    small(class="text-white") 18 فبراير 2021 
                                    small(class="text-white") 11:52 ص
//hero area

//trending news
div(class="trending")
    div(class="container")
        div(class="main-title")
            h2 
                span أحدث الأخبار
            div(class="nav-owl")
        div(class="trending-content trending_carousel owl-carousel owl-theme")
            div(class="card")
                a(href="single-news.html", class="image" title="") 
                    img(data-src="images/trending/01.jpg", class="img-fluid", alt="")
                div(class="card-body")
                    h2(class="card-title") 
                        a(href="single-news.html") عنوان الخبر هنا
                    p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    span(class="card-date")
                        a(href="#") 
                            i(class="bi bi-calendar")
                            small(class="text-muted") 18 فبراير 2021 
                            small(class="text-muted") 11:52 ص
            div(class="card")
                a(href="single-news.html", class="image" title="") 
                    img(data-src="images/trending/02.jpg", class="img-fluid", alt="")
                div(class="card-body")
                    h2(class="card-title") 
                        a(href="single-news.html") عنوان الخبر هنا
                    p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    span(class="card-date")
                        a(href="#") 
                            i(class="bi bi-calendar")
                            small(class="text-muted") 18 فبراير 2021 
                            small(class="text-muted") 11:52 ص
            div(class="card")
                a(href="single-news.html", class="image" title="") 
                    img(data-src="images/trending/03.jpg", class="img-fluid", alt="")
                div(class="card-body")
                    h2(class="card-title") 
                        a(href="single-news.html") عنوان الخبر هنا
                    p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    span(class="card-date")
                        a(href="#") 
                            i(class="bi bi-calendar")
                            small(class="text-muted") 18 فبراير 2021 
                            small(class="text-muted") 11:52 ص
            div(class="card")
                a(href="single-news.html", class="image" title="") 
                    img(data-src="images/trending/04.jpg", class="img-fluid", alt="")
                div(class="card-body")
                    h2(class="card-title") 
                        a(href="single-news.html") عنوان الخبر هنا
                    p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    span(class="card-date")
                        a(href="#") 
                            i(class="bi bi-calendar")
                            small(class="text-muted") 18 فبراير 2021 
                            small(class="text-muted") 11:52 ص
            div(class="card")
                a(href="single-news.html", class="image" title="") 
                    img(data-src="images/trending/03.jpg", class="img-fluid", alt="")
                div(class="card-body")
                    h2(class="card-title") 
                        a(href="single-news.html") عنوان الخبر هنا
                    p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    span(class="card-date")
                        a(href="#") 
                            i(class="bi bi-calendar")
                            small(class="text-muted") 18 فبراير 2021 
                            small(class="text-muted") 11:52 ص
//trending news

//adv
div(class="adv mb-4")
    div(class="container")
        a(href="#") 
            img(data-src="images/wide-banner-new.jpg", class="img-fluid", alt="")
//adv

//last news
div(class="container")
    div(class="row")
        div(class="col-lg-9")
            div(class="last-news")
                div(class="main-title")
                    h2 
                        span أحداث الاسبوع الأخير
                div(class="last-news-content")
                    div(class="card")
                        div(class="row g-0")
                            div(class="col-md-4")
                                a(href="single-news.html", class="image" title="") 
                                    img(data-src="images/trending/01.jpg", class="img-fluid", alt="")
                            div(class="col-md-8")
                                div(class="card-content")
                                    div(class="card-body")
                                        h2(class="card-title") 
                                            a(href="single-news.html") هنا عنوان المقال
                                        p(class="card-date")
                                            a(href="#") 
                                                i(class="bi bi-calendar")
                                                small(class="text-muted") 18 فبراير 2021 
                                                small(class="text-muted") 11:52 ص
                                        p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                    div(class="card-last")
                                        div(class="comments")
                                            a(href="#") 
                                                i(class="icon bi bi-chat-left-text")
                                                span التعليقات
                                        div(class="views")
                                            i(class="icon bi bi-eye")
                                            span 1500 مشاهدة
                    div(class="card")
                        div(class="row g-0")
                            div(class="col-md-4")
                                a(href="single-news.html", class="image" title="") 
                                    img(data-src="images/trending/02.jpg", class="img-fluid", alt="")
                            div(class="col-md-8")
                                div(class="card-content")
                                    div(class="card-body")
                                        h2(class="card-title") 
                                            a(href="single-news.html") هنا عنوان المقال
                                        p(class="card-date")
                                            a(href="#") 
                                                i(class="bi bi-calendar")
                                                small(class="text-muted") 18 فبراير 2021 
                                                small(class="text-muted") 11:52 ص
                                        p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                    div(class="card-last")
                                        div(class="comments")
                                            a(href="#") 
                                                i(class="icon bi bi-chat-left-text")
                                                span التعليقات
                                        div(class="views")
                                            i(class="icon bi bi-eye")
                                            span 1500 مشاهدة
                    div(class="card")
                        div(class="row g-0")
                            div(class="col-md-4")
                                a(href="single-news.html", class="image" title="") 
                                    img(data-src="images/trending/03.jpg", class="img-fluid", alt="")
                            div(class="col-md-8")
                                div(class="card-content")
                                    div(class="card-body")
                                        h2(class="card-title") 
                                            a(href="single-news.html") هنا عنوان المقال
                                        p(class="card-date")
                                            a(href="#") 
                                                i(class="bi bi-calendar")
                                                small(class="text-muted") 18 فبراير 2021 
                                                small(class="text-muted") 11:52 ص
                                        p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                    div(class="card-last")
                                        div(class="comments")
                                            a(href="#") 
                                                i(class="icon bi bi-chat-left-text")
                                                span التعليقات
                                        div(class="views")
                                            i(class="icon bi bi-eye")
                                            span 1500 مشاهدة
                    div(class="card")
                        div(class="row g-0")
                            div(class="col-md-4")
                                a(href="single-news.html", class="image" title="") 
                                    img(data-src="images/trending/04.jpg", class="img-fluid", alt="")
                            div(class="col-md-8")
                                div(class="card-content")
                                    div(class="card-body")
                                        h2(class="card-title") 
                                            a(href="single-news.html") هنا عنوان المقال
                                        p(class="card-date")
                                            a(href="#") 
                                                i(class="bi bi-calendar")
                                                small(class="text-muted") 18 فبراير 2021 
                                                small(class="text-muted") 11:52 ص
                                        p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                    div(class="card-last")
                                        div(class="comments")
                                            a(href="#") 
                                                i(class="icon bi bi-chat-left-text")
                                                span التعليقات
                                        div(class="views")
                                            i(class="icon bi bi-eye")
                                            span 1500 مشاهدة
                    div(class="card")
                        div(class="row g-0")
                            div(class="col-md-4")
                                a(href="single-news.html", class="image" title="") 
                                    img(data-src="images/trending/01.jpg", class="img-fluid", alt="")
                            div(class="col-md-8")
                                div(class="card-content")
                                    div(class="card-body")
                                        h2(class="card-title") 
                                            a(href="single-news.html") هنا عنوان المقال
                                        p(class="card-date")
                                            a(href="#") 
                                                i(class="bi bi-calendar")
                                                small(class="text-muted") 18 فبراير 2021 
                                                small(class="text-muted") 11:52 ص
                                        p(class="card-text") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                    div(class="card-last")
                                        div(class="comments")
                                            a(href="#") 
                                                i(class="icon bi bi-chat-left-text")
                                                span التعليقات
                                        div(class="views")
                                            i(class="icon bi bi-eye")
                                            span 1500 مشاهدة
            
            //- div(class="adv")
                a(href="#") 
                    img(data-src="images/narrow-banner-new.jpg", class="img-fluid" alt="")
        //aside column
        div(class="col-lg-3")
            include ./aside-column.pug
//last news