//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            img(src="images/slider/01.jpg", class="img-fluid owl-lazy" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/02.jpg", class="img-fluid owl-lazy" data-src="images/slider/02.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/03.jpg", class="img-fluid owl-lazy" data-src="images/slider/03.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/04.jpg", class="img-fluid owl-lazy" data-src="images/slider/04.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/01.jpg", class="img-fluid owl-lazy" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/01.jpg", class="img-fluid owl-lazy" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/02.jpg", class="img-fluid owl-lazy" data-src="images/slider/02.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/03.jpg", class="img-fluid owl-lazy" data-src="images/slider/03.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/04.jpg", class="img-fluid owl-lazy" data-src="images/slider/04.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
        div(class="item")
            img(src="images/slider/01.jpg", class="img-fluid owl-lazy" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                h3 title of food type
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem
                div(class="item-btn")
                    a(href="single-recipe.html" class="btn") read more
//main slider

//search
section(class="search")
    div(class="container")
        form(action="" method="") 
            div(class="input-group mb-3")
                input(type="search", class="form-control", id="search-input" placeholder="Put text to search", aria-label="Recipient's username", aria-describedby="search-button")
                button(class="btn btn-outline-secondary", id="search-button" type="submit") search now
//search

//categories
section(class="categories")
    div(class="container")
        div(class="categories-content")
            div(class="row")
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/01.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") breakfast
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/02.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") cuisine
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/03.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") Quick Food
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/04.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") dairy
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/05.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") pancakes
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/06.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") pizza
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/07.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") desserts
                                    p(class="sum") 252 post
                div(class="col-lg-3 col-md-6")
                    div(class="category-outer")
                        a(href="#!") 
                            div(class="category-inner")
                                div(class="icon")
                                    img(src="images/category/08.svg", class="img-fluid" alt="")
                                div(class="text")
                                    h3(class="subtitle") vegan
                                    p(class="sum") 252 post
//categories

//recipes
section(class="recipes")
    div(class="container")
        div(class="main-title")
            h2 Most Demanded Recipes
                span(class="line")
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur suscipit.
        div(class="recipes-content")
            div(class="row")
                div(class="box col-lg-4 col-md-6")
                    div(class="recipe-box")
                        div(class="image")
                            a(href="single-recipe.html") 
                                img(src="images/recipes/01.jpg", class="img-fluid" alt="")
                            a(class="fav-btn" title="favorite")
                                i(class="bi bi-heart") 
                        div(class="text")
                            a(href="single-recipe.html") 
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            hr
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                div(class="box col-lg-4 col-md-6")
                    div(class="recipe-box")
                        div(class="image")
                            a(href="single-recipe.html") 
                                img(src="images/recipes/02.jpg", class="img-fluid" alt="")
                            a(class="fav-btn" title="favorite")
                                i(class="bi bi-heart") 
                        div(class="text")
                            a(href="single-recipe.html") 
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            hr
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                div(class="box col-lg-4 col-md-6")
                    div(class="recipe-box")
                        div(class="image")
                            a(href="single-recipe.html") 
                                img(src="images/recipes/03.jpg", class="img-fluid" alt="")
                            a(class="fav-btn" title="favorite")
                                i(class="bi bi-heart") 
                        div(class="text")
                            a(href="single-recipe.html") 
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            hr
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                div(class="box col-lg-4 col-md-6")
                    div(class="recipe-box")
                        div(class="image")
                            a(href="single-recipe.html") 
                                img(src="images/recipes/02.jpg", class="img-fluid" alt="")
                            a(class="fav-btn" title="favorite")
                                i(class="bi bi-heart") 
                        div(class="text")
                            a(href="single-recipe.html") 
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            hr
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                div(class="box col-lg-4 col-md-6")
                    div(class="recipe-box")
                        div(class="image")
                            a(href="single-recipe.html") 
                                img(src="images/recipes/01.jpg", class="img-fluid" alt="")
                            a(class="fav-btn" title="favorite")
                                i(class="bi bi-heart") 
                        div(class="text")
                            a(href="single-recipe.html") 
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            hr
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                div(class="box col-lg-4 col-md-6")
                    div(class="recipe-box")
                        div(class="image")
                            a(href="single-recipe.html") 
                                img(src="images/recipes/02.jpg", class="img-fluid" alt="")
                            a(class="fav-btn" title="favorite")
                                i(class="bi bi-heart") 
                        div(class="text")
                            a(href="single-recipe.html") 
                                h3(class="subtitle") Puffy Pancakes Glazed With Caramel Topped With Fruits
                            p(class="details") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, suscipit repellendus nulla sint ipsum iste fuga distinctio eveniet totam vero modi, minima quod, ratione tenetur optio laboriosam dicta quia id.
                            hr
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 views
                div(class="col-12")
                    div(class="view-all")
                        a(class="btn", href="recipes.html") view all
//recipes

//instagram images
section(class="instagram")
    div(class="container")
        div(class="instagram-content")
            div(class="row justify-content-center")
                div(class="box col-lg-4 col-md-6 col-sm-6")
                    div(class="instagram-box")
                        a(href="#!") 
                            div(class="image")
                                img(src="images/insta/01.jpg", class="img-fluid" alt="")
                            div(class="icon")
                                i(class="bi bi-instagram")
                div(class="box col-lg-4 col-md-6 col-sm-6")
                    div(class="instagram-box")
                        a(href="#!") 
                            div(class="image")
                                img(src="images/insta/02.jpg", class="img-fluid" alt="")
                            div(class="icon")
                                i(class="bi bi-instagram")
                div(class="box col-lg-4 col-md-6 col-sm-6")
                    div(class="instagram-box")
                        a(href="#!") 
                            div(class="image")
                                img(src="images/insta/03.jpg", class="img-fluid" alt="")
                            div(class="icon")
                                i(class="bi bi-instagram")
                div(class="box col-lg-4 col-md-6 col-sm-6")
                    div(class="instagram-box")
                        a(href="#!") 
                            div(class="image")
                                img(src="images/insta/04.jpg", class="img-fluid" alt="")
                            div(class="icon")
                                i(class="bi bi-instagram")
                div(class="box col-lg-4 col-md-6 col-sm-6")
                    div(class="instagram-box")
                        a(href="#!") 
                            div(class="image")
                                img(src="images/insta/05.jpg", class="img-fluid" alt="")
                            div(class="icon")
                                i(class="bi bi-instagram")
                div(class="box col-lg-4 col-md-6 col-sm-6")
                    div(class="instagram-box")
                        a(href="#!") 
                            div(class="image")
                                img(src="images/insta/06.jpg", class="img-fluid" alt="")
                            div(class="icon")
                                i(class="bi bi-instagram")
//instagram images