//main slider
section(class="main-slider")
    div(class="pattern-layer")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            div(class="container")
                div(class="row")
                    div(class="col-lg-7 col-md-6")
                        div(class="item-text")
                            div(class="desc")
                                p افهم أهمية الحياة
                            div(class="title")
                                h1 مياه شرب نقية وصحية
                            div(class="btns")
                                a(href="#!", class="btn btn-1", rel="nofollow") اطلب الآن
                                a(href="#!", class="btn btn-2", rel="nofollow") معرفة المزيد
                    div(class="col-lg-5 col-md-6")
                        div(class="item-image")
                            img(data-src="images/slider/ice-1.png" class="ice" alt="")
                            img(data-src="images/slider/01.png" class="img-fluid slider-img" alt="")
        div(class="item")
            div(class="container")
                div(class="row")
                    div(class="col-lg-7 col-md-6")
                        div(class="item-text")
                            div(class="desc")
                                p افهم أهمية الحياة
                            div(class="title")
                                h1 مياه شرب نقية وصحية
                            div(class="btns")
                                a(href="#!", class="btn btn-1", rel="nofollow") اطلب الآن
                                a(href="#!", class="btn btn-2", rel="nofollow") معرفة المزيد
                    div(class="col-lg-5 col-md-6")
                        div(class="item-image")
                            img(data-src="images/slider/ice-1.png" class="ice" alt="")
                            img(data-src="images/slider/02.png" class="img-fluid slider-img" alt="")
        div(class="item")
            div(class="container")
                div(class="row")
                    div(class="col-lg-7 col-md-6")
                        div(class="item-text")
                            div(class="desc")
                                p افهم أهمية الحياة
                            div(class="title")
                                h1 مياه شرب نقية وصحية
                            div(class="btns")
                                a(href="#!", class="btn btn-1", rel="nofollow") اطلب الآن
                                a(href="#!", class="btn btn-2", rel="nofollow") معرفة المزيد
                    div(class="col-lg-5 col-md-6")
                        div(class="item-image")
                            img(data-src="images/slider/ice-1.png" class="ice" alt="")
                            img(data-src="images/slider/01.png" class="img-fluid slider-img" alt="")
        div(class="item")
            div(class="container")
                div(class="row")
                    div(class="col-lg-7")
                        div(class="item-text")
                            div(class="desc")
                                p افهم أهمية الحياة
                            div(class="title")
                                h1 مياه شرب نقية وصحية
                            div(class="btns")
                                a(href="#!", class="btn btn-1", rel="nofollow") اطلب الآن
                                a(href="#!", class="btn btn-2", rel="nofollow") معرفة المزيد
                    div(class="col-lg-5")
                        div(class="item-image")
                            img(data-src="images/slider/ice-1.png" class="ice" alt="")
                            img(data-src="images/slider/01.png" class="img-fluid slider-img" alt="")
        div(class="item")
            div(class="container")
                div(class="row")
                    div(class="col-lg-7")
                        div(class="item-text")
                            div(class="desc")
                                p افهم أهمية الحياة
                            div(class="title")
                                h1 مياه شرب نقية وصحية
                            div(class="btns")
                                a(href="#!", class="btn btn-1", rel="nofollow") اطلب الآن
                                a(href="#!", class="btn btn-2", rel="nofollow") معرفة المزيد
                    div(class="col-lg-5")
                        div(class="item-image")
                            img(data-src="images/slider/ice-1.png" class="ice" alt="")
                            img(data-src="images/slider/01.png" class="img-fluid slider-img" alt="")
        div(class="item")
            div(class="container")
                div(class="row")
                    div(class="col-lg-7")
                        div(class="item-text")
                            div(class="desc")
                                p افهم أهمية الحياة
                            div(class="title")
                                h1 مياه شرب نقية وصحية
                            div(class="btns")
                                a(href="#!", class="btn btn-1", rel="nofollow") اطلب الآن
                                a(href="#!", class="btn btn-2", rel="nofollow") معرفة المزيد
                    div(class="col-lg-5")
                        div(class="item-image")
                            img(data-src="images/slider/ice-1.png" class="ice" alt="")
                            img(data-src="images/slider/01.png" class="img-fluid slider-img" alt="")
//main slider

//about us
section(class="about")
    div(class="container") 
        div(class="main-title") 
            span(class="top-title") اسم موثوق به
            h2 نبذة عن شركة ألما
        div(class="content")
            div(class="row")
                div(class="col-lg-3 col-md-6")
                    div(class="about-box wow fadeInUp" data-wow-delay="0s")
                        div(class="icon")
                            img(data-src="images/about/01.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان نصي
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="col-lg-3 col-md-6")
                    div(class="about-box wow fadeInUp" data-wow-delay="0.2s")
                        div(class="icon")
                            img(data-src="images/about/02.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان نصي
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="col-lg-3 col-md-6")
                    div(class="about-box wow fadeInUp" data-wow-delay="0.4s")
                        div(class="icon")
                            img(data-src="images/about/03.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان نصي
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="col-lg-3 col-md-6")
                    div(class="about-box wow fadeInUp" data-wow-delay="0.6s")
                        div(class="icon")
                            img(data-src="images/about/04.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان نصي
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
//about us

//products
section(class="products")
    div(class="bg-video-wrap")
        video(src="video/vid-4.mp4", loop, muted, autoplay)
        div(class="overlay")
    div(class="container")
        div(class="main-title")
            span(class="top-title") اسم موثوق به في صناعة المياه المعبأة
            h2 منتجات ألما
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6")
                    div(class="product-box wow fadeInUp" data-wow-delay="0s")
                        a(href="single-product.html") 
                            div(class="image")
                                img(data-src="images/products/01.png", class="img-fluid" alt="")
                        div(class="text")
                            span(class="badge text-dark") 3 لتر
                            h3 اسم المنتج
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                            div(class="price")
                                span(class="new") 10 ريال
                                span(class="old") 20 ريال
                            div(class="btns")
                                a(href="" data-name="name1" data-price="10" data-img="images/products/01.png" class="add_to_cart btn") 
                                    i(class="bi bi-cart")
                                    span أضف إلى السلة
                div(class="col-lg-4 col-md-6")
                    div(class="product-box wow fadeInUp" data-wow-delay="0.2s")
                        a(href="single-product.html") 
                            div(class="image")
                                img(data-src="images/products/01.png", class="img-fluid" alt="")
                        div(class="text")
                            span(class="badge text-dark") 3 لتر
                            h3 اسم المنتج
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                            div(class="price")
                                span(class="new") 10 ريال
                                span(class="old") 20 ريال
                            div(class="btns")
                                a(href="" data-name="name2" data-price="10" class="add_to_cart btn") 
                                    i(class="bi bi-cart")
                                    span أضف إلى السلة
                div(class="col-lg-4 col-md-6")
                    div(class="product-box wow fadeInUp" data-wow-delay="0.4s")
                        a(href="single-product.html") 
                            div(class="image")
                                img(data-src="images/products/01.png", class="img-fluid" alt="")
                        div(class="text")
                            span(class="badge text-dark") 3 لتر
                            h3 اسم المنتج
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                            div(class="price")
                                span(class="new") 10 ريال
                                span(class="old") 20 ريال
                            div(class="btns")
                                a(href="" data-name="name3" data-price="10" class="add_to_cart btn") 
                                    i(class="bi bi-cart")
                                    span أضف إلى السلة
//products

//video
section(class="video")
    div(class="container")
        div(class="content")
            div(class="video-box wow fadeInDown")
                div(class="video-image")
                    img(data-src="images/bgs/video.jpg" class="img-fluid" alt="")
                a(href="https://youtu.be/W4jtlIOmPUM" data-fancybox="gallery")
                    i(class="bi bi-caret-right-fill")
//video

//cta
section(class="cta")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="image wow fadeInUp")
                        img(data-src="images/cta.png" class="img-fluid" alt="")
                div(class="col-lg-6")
                    div(class="text wow fadeInUp" data-wow-delay="0.4s")
                        div(class="main-title")
                            span(class="top-title") اسم موثوق به في صناعة المياه المعبأة
                            h2 توصيل وخدمة المياه المعبأة
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم.
                        ul 
                            li عبوات صحية ومريحة
                            li توصيل مجاني في عطلة نهاية الأسبوع
                            li 5 خطوات لمحطات الترشيح
                            li الأفضل للصحة والترطيب
                        div(class="btns")
                            a(href="products.html", class="btn btn-1", rel="nofollow") اطلب الآن
//cta

//testimonial
section(class="testimonial")
    div(class="container")
        div(class="main-title")
            span(class="top-title") ماذا يقول عملاؤنا عنا
            h2 آراء العملاء فيما نقدمه 
            div(class="separator")
        div(class="content")
            div(class="testimonial-carousel owl-carousel owl-theme")
                div(class="testimonial-box")
                    div(class="details")
                        img(data-src="images/icons/quote.svg", class="img-fluid quote")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="images/icons/person.webp" alt="")
                    div(class="text")
                        h3 خالد سالم
                div(class="testimonial-box")
                    div(class="details")
                        img(data-src="images/icons/quote.svg", class="img-fluid quote" alt="")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="images/icons/person.webp" alt="")
                    div(class="text")
                        h3 خالد سالم
                div(class="testimonial-box")
                    div(class="details")
                        img(data-src="images/icons/quote.svg", class="img-fluid quote" alt="")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="images/icons/person.webp" alt="")
                    div(class="text")
                        h3 خالد سالم
//testimonial

//clients
section(class="clients")
    div(class="container")
        //- div(class="main-title")
            span(class="top-title") شركاء موثوق بهم
            h2 عملائنا
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients