div(class="pt-3 pb-3 bg-white shadow-sm")
	div(class="osahan-slider")
		div(class="osahan-slider-item")
			img(src="img/slider/01.jpg", class="img-fluid rounded", alt="...")
		div(class="osahan-slider-item")
			img(src="img/slider/03.jpg", class="img-fluid rounded", alt="...")
		div(class="osahan-slider-item")
			img(src="img/slider/02.jpg", class="img-fluid rounded", alt="...")
div(class="container")
	a(href="#") 
		div(class="panorama mt-5" id="panorama")
			div(class="tick tick-home", data-did-init="handleTickInitHome")
				div(class="tick-content" data-repeat="true", data-layout="horizontal center fit", data-transform="preset(d, h, m, s) -> delay")
					div(class="tick-group")
						div(data-key="value", data-repeat="true", data-transform="pad(00) -> split -> delay")
							span(data-view="flip")
						span(data-key="label", data-view="text", class="tick-label")
			div(class="enter-to-event")
				a(href="#", class="d-sm-inline-block btn btn-danger shadow-sm")
					| Go to virtual conference
div(class="container")
	div(class="d-flex align-items-center justify-content-between mt-5 mb-3")
		h2(class="h5 mb-0 float-left") Offers
		a(href="offers.html", class="d-sm-inline-block text-xs float-right") View All 
			i(class="fas fa-eye fa-sm")
	div(class="row offers")
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="img/events/01.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="img/l1.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") SBI Signature/Elite Credit Card Offer 
						p(class="card-text")
							small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| Valid till
								span(class="text-gray-700") 15 Oct 2019 23:59
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="img/events/02.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="img/l2.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") Google Pay New User Offer 
						p(class="card-text")
							small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| Valid till
								span(class="text-gray-700") 15 Oct 2019 23:59
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="img/events/03.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="img/l3.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") HDFC Bank Times Card Offer
						p(class="card-text")
							small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| Valid till
								span(class="text-gray-700") 15 Oct 2019 23:59
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="img/events/04.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="img/l4.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") Visa Blockbuster Weekends Offer 
						p(class="card-text")
							small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| Valid till
								span(class="text-gray-700") 15 Oct 2019 23:59
	div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3")
		h2(class="h5 mb-0") Clients
	div(class="row collections")
		div(class="col-xl-12 col-md-12 mb-4")
			div(class="collections-slider")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/baby.png", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/clients/02.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/clients/03.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/clients/04.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/clients/05.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/clients/02.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="img/clients/03.jpg", class="img-fluid", alt="...")
	div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden")
		h2(class="h5 mb-0 float-left") Current  Events
		a(href="events.html", class="d-sm-inline-block text-xs float-right") View All 
			i(class="fas fa-eye fa-sm")
	div(class="row events")
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="img/events/04.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 13
									small(class="text-muted nowrap") OCT
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1" data-toggle="tooltip" data-placement="bottom" title="The 3rd Saudi Conference on Nutrition among Medicine & Life") The 3rd Saudi Conference on Nutrition among Medicine & Life
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| Saudi Arabia, Qaseem
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="img/events/05.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 10
									small(class="text-muted nowrap") OCT
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The 3rd Saudi Conference on Nutrition among Medicine & Life
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| Saudi Arabia, Qaseem
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="img/events/06.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 15
									small(class="text-muted nowrap") OCT
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The 3rd Saudi Conference on Nutrition among Medicine & Life
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| Saudi Arabia, Qaseem
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="img/events/07.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 22
									small(class="text-muted nowrap") OCT
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The 3rd Saudi Conference on Nutrition among Medicine & Life
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| Saudi Arabia, Qaseem
	div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden")
		h2(class="h5 mb-0 float-left") Coming Events
		a(href="events.html", class="d-sm-inline-block text-xs float-right") View All 
			i(class="fas fa-eye fa-sm")
	div(class="row pb-4 mb-2 events")
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="img/events/01.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 25
									small(class="text-muted nowrap") OCT
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The FIFA World Cup
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| Glasgow, Scotland
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="img/events/02.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 28
									small(class="text-muted nowrap") OCT
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The Olympic Games
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| United States
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="img/events/03.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 12
									small(class="text-muted") NOV
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The 24 Hours of Le Mans
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| France
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="img/events/04.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 21
									small(class="text-muted") NOV
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") The Super Bowl
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| United States

