//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            div(class="container h-100")
                div(class="item-content")
                    div(class="item-text")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        h1(class="title") هنا عنوان رئيسي 
                    div(class="item-images")
                        img(data-src="images/slider/01.png" alt="")
                        img(data-src="images/slider/02.png" alt="")
                        img(data-src="images/slider/03.png" alt="")
                    div(class="item-btn")
                        a(href="about.html" class="btn") معرفة المزيد
        div(class="slider-item")
            div(class="container h-100")
                div(class="item-content")
                    div(class="item-text")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        h1(class="title") هنا عنوان رئيسي 
                    div(class="item-images")
                        img(data-src="images/slider/first.png" alt="")
                        img(data-src="images/slider/02.png" alt="")
                        img(data-src="images/slider/last.png" alt="")
                    div(class="item-btn")
                        a(href="about.html" class="btn") معرفة المزيد
        div(class="slider-item")
            div(class="container h-100")
                div(class="item-content")
                    div(class="item-text")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                        h1(class="title") هنا عنوان رئيسي 
                    div(class="item-images")
                        img(data-src="images/slider/01.png" alt="")
                        img(data-src="images/slider/02.png" alt="")
                        img(data-src="images/slider/03.png" alt="")
                    div(class="item-btn")
                        a(href="about.html" class="btn") معرفة المزيد
//main slider

//search
section(class="search")
    div(class="container")
        div(class="content")
            form(action="" method="") 
                div(class="row")
                    div(class="col-lg-8")
                        div(class="row")
                            div(class="col-lg-4 col-md-6")
                                div(class="select-area")
                                    label(for="" class="form-label") الموديل
                                    select(class="nice-select")
                                        option(disabled, selected, class="hidden-option") اختر من التالي
                                        option(value="1") الخيار 1
                                        option(value="2") الخيار 2
                                        option(value="3") الخيار 3
                                        option(value="4") الخيار 4
                            div(class="col-lg-4 col-md-6")
                                div(class="select-area")
                                    label(for="" class="form-label") الشركة المصنعة
                                    select(class="nice-select")
                                        option(disabled, selected, class="hidden-option") اختر من التالي
                                        option(value="1") الخيار 1
                                        option(value="2") الخيار 2
                                        option(value="3") الخيار 3
                                        option(value="4") الخيار 4
                            div(class="col-lg-4 col-md-6")
                                div(class="select-area")
                                    label(for="" class="form-label") العام
                                    select(class="nice-select")
                                        option(disabled, selected, class="hidden-option") اختر من التالي
                                        option(value="1") الخيار 1
                                        option(value="2") الخيار 2
                                        option(value="3") الخيار 3
                                        option(value="4") الخيار 4
                            div(class="col-lg-4 col-md-6")
                                div(class="select-area")
                                    label(for="" class="form-label") مكيف الهواء
                                    select(class="nice-select")
                                        option(disabled, selected, class="hidden-option") اختر من التالي
                                        option(value="1") الخيار 1
                                        option(value="2") الخيار 2
                                        option(value="3") الخيار 3
                                        option(value="4") الخيار 4
                            div(class="col-lg-4 col-md-6")
                                div(class="select-area")
                                    label(for="" class="form-label") السرعة
                                    select(class="nice-select")
                                        option(disabled, selected, class="hidden-option") اختر من التالي
                                        option(value="1") الخيار 1
                                        option(value="2") الخيار 2
                                        option(value="3") الخيار 3
                                        option(value="4") الخيار 4
                            div(class="col-lg-4 col-md-6")
                                div(class="select-area")
                                    label(for="" class="form-label") المسافة
                                    select(class="nice-select")
                                        option(disabled, selected, class="hidden-option") اختر من التالي
                                        option(value="1") الخيار 1
                                        option(value="2") الخيار 2
                                        option(value="3") الخيار 3
                                        option(value="4") الخيار 4
                    div(class="col-lg-4")
                        div(class="slider-wrapper")
                            label(for="" class="form-label") السعر:
                            input(class="input-range", value="" data-slider-id="ex12cSlider", type="text", data-slider-step="500", data-slider-value="0, 100000", data-slider-min="1000", data-slider-max="500000", data-slider-range="true", data-slider-tooltip_split="true")
                        div(class="buttons-area")
                            button(class="btn" class="submit" type="submit")
                                | بحث
                                i(class="bi bi-search")
//search

//welcome
section(class="welcome")
    div(class="container")
        div(class="main-title" data-wow-duration="1.3s" data-wow-delay=".3s")
            span(class="top-title") أهلا بكم في موقعنا
            h2 الحل السريع للسيارات
            div(class="separator")
            p تاجر السيارات هو سمة ووردبريس المتميزة الأكثر جاذبية وإبداعًا وحداثة ومتعددة الأغراض. مناسبة لأي مواقع تجار سيارات أو مواقع أعمال أو شركات. تم إنشاء السمة خصيصًا لتجار السيارات وبائعي السيارات ومحطات خدمة السيارات وورش الميكانيكا وتجار السيارات بالتجزئة.
        div(class="content")
            div(class="row")
                div(class="col-lg-3 col-md-6")
                    div(class="welcome-box")
                        div(class="icon")
                            img(data-src="images/welcome/01.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان النص 1
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="col-lg-3 col-md-6")
                    div(class="welcome-box")
                        div(class="icon")
                            img(data-src="images/welcome/02.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان النص 1
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="col-lg-3 col-md-6")
                    div(class="welcome-box")
                        div(class="icon")
                            img(data-src="images/welcome/03.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان النص 1
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="col-lg-3 col-md-6")
                    div(class="welcome-box")
                        div(class="icon")
                            img(data-src="images/welcome/04.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عنوان النص 1
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
//welcome

//cta
section(class="cta")
    div(class="content")
        div(class="image")
            img(data-src="images/welcome/car1.jpg", alt="")
        div(class="call")
            div(class="icon")
                img(data-src="images/icons/person.webp", alt="")
            div(class="text")
                p هل لديك سؤالاً؟
                a(href="tel:(+966) 123 456 7890" dir="ltr") (+966) 123 456 7890
        div(class="image")
            img(data-src="images/welcome/car2.jpg", alt="")
//cta


//feature
section(class="feature")
    div(class="container")
        div(class="main-title")
            span(class="top-title") تحقق من سياراتنا المميزة
            h2 سيارات مميزة
            div(class="separator")
        div(class="content")
            div(class="feature-carousel owl-carousel owl-theme")
                div(class="feature-box")
                    div(class="image")
                        img(data-src="images/feature/01.webp" class="img-fluid")
                        div(class="overlay")
                            div(class="icons")
                                a(href="images/feature/01.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                    i(class="bi bi-arrows-fullscreen")
                                a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                    i(class="bi bi-link-45deg")
                        ul(class="details")
                            li 
                                i(class="bi bi-calendar")
                                | 2021
                            li 
                                i(class="bi bi-speedometer")
                                | 885442
                    div(class="text")
                        a(href="car.html") 
                            h3(class="title") 2013 Toyota Tacoma
                        div(class="separator")
                        p(class="price") 23,900.00
                            sup ر.س
                div(class="feature-box")
                    div(class="image")
                        img(data-src="images/feature/02.webp" class="img-fluid")
                        div(class="overlay")
                            div(class="icons")
                                a(href="images/feature/02.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                    i(class="bi bi-arrows-fullscreen")
                                a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                    i(class="bi bi-link-45deg")
                        ul(class="details")
                            li 
                                i(class="bi bi-calendar")
                                | 2021
                            li 
                                i(class="bi bi-speedometer")
                                | 885442
                    div(class="text")
                        a(href="car.html") 
                            h3(class="title") 2013 Toyota Tacoma
                        div(class="separator")
                        p(class="price") 23,900.00
                            sup ر.س
                div(class="feature-box")
                    div(class="image")
                        img(data-src="images/feature/03.webp" class="img-fluid")
                        div(class="overlay")
                            div(class="icons")
                                a(href="images/feature/03.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                    i(class="bi bi-arrows-fullscreen")
                                a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                    i(class="bi bi-link-45deg")
                        ul(class="details")
                            li 
                                i(class="bi bi-calendar")
                                | 2021
                            li 
                                i(class="bi bi-speedometer")
                                | 885442
                    div(class="text")
                        a(href="car.html") 
                            h3(class="title") 2013 Toyota Tacoma
                        div(class="separator")
                        p(class="price") 23,900.00
                            sup ر.س
                div(class="feature-box")
                    div(class="image")
                        img(data-src="images/feature/04.webp" class="img-fluid")
                        div(class="overlay")
                            div(class="icons")
                                a(href="images/feature/04.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                    i(class="bi bi-arrows-fullscreen")
                                a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                    i(class="bi bi-link-45deg")
                        ul(class="details")
                            li 
                                i(class="bi bi-calendar")
                                | 2021
                            li 
                                i(class="bi bi-speedometer")
                                | 885442
                    div(class="text")
                        a(href="car.html") 
                            h3(class="title") 2013 Toyota Tacoma
                        div(class="separator")
                        p(class="price") 23,900.00
                            sup ر.س
                div(class="feature-box")
                    div(class="image")
                        img(data-src="images/feature/05.webp" class="img-fluid")
                        div(class="overlay")
                            div(class="icons")
                                a(href="images/feature/05.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                    i(class="bi bi-arrows-fullscreen")
                                a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                    i(class="bi bi-link-45deg")
                        ul(class="details")
                            li 
                                i(class="bi bi-calendar")
                                | 2021
                            li 
                                i(class="bi bi-speedometer")
                                | 885442
                    div(class="text")
                        a(href="car.html") 
                            h3(class="title") 2013 Toyota Tacoma
                        div(class="separator")
                        p(class="price") 23,900.00
                            sup ر.س
                div(class="feature-box")
                    div(class="image")
                        img(data-src="images/feature/06.webp" class="img-fluid")
                        div(class="overlay")
                            div(class="icons")
                                a(href="images/feature/06.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                    i(class="bi bi-arrows-fullscreen")
                                a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                    i(class="bi bi-link-45deg")
                        ul(class="details")
                            li 
                                i(class="bi bi-calendar")
                                | 2021
                            li 
                                i(class="bi bi-speedometer")
                                | 885442
                    div(class="text")
                        a(href="car.html") 
                            h3(class="title") 2013 Toyota Tacoma
                        div(class="separator")
                        p(class="price") 23,900.00
                            sup ر.س
//feature

//offer
section(class="offer")
    div(class="container-fluid")
        div(class="content")
            div(class="row")
                div(class="col-lg-6 p-0")
                    div(class="offer-text")
                        h3(class="heading") عرض اليوم
                        p(class="sub-heading") احصل على سيارة بورش التي طالما رغبت بها
                        strong(class="price") 450
                            sup ر.س
                        span(class="per") شهريا
                        p العرض لفترة محدودة!
                        a(href="") معرفة المزيد 
                div(class="col-lg-6 p-0")
                    div(class="offer-image")
                        img(data-src="images/bgs/offer-bg.webp", class="img-fluid" alt="")
//offer

//contact us
//- section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4 p-0")
                    div(class="image")
                        img(data-src="images/bgs/contact.jpg", class="img-fluid" alt="")
                div(class="col-lg-8 p-0")
                    div(class="contact-form" data-wow-duration="1.3s" data-wow-delay=".2s")
                        div(class="main-title" data-wow-duration="1.3s" data-wow-delay="0s")
                            h2 تواصل معنا الآن
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") الاسم *
                                        input(type="text" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") الإيميل *
                                        input(type="email" class="form-control" placeholder="الإيميل" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") الهاتف *
                                        input(type="number" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") فم بالاختيار *
                                        select(class="form-select") 
                                            option(disabled, selected) عنوان الخيارات
                                            option(value="1") الخيار 01
                                            option(value="2") الخيار 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") رسالتك *
                                        textarea(class="form-control" rows="5" placeholder="اترك الهاتف هنا")
                            div(class="contact-btn")
                                button(class="btn" type="submit") أرسل الآن
//contact us

//recent vehicle
section(class="recent-vehicle")
    div(class="container")
        div(class="main-title")
            span(class="top-title") تحقق من سياراتنا الأخيرة
            h2 أحدث السيارات
            div(class="separator")
        div(class="content")
            ul(class="nav nav-pills", role="tablist")
                li(class="nav-item", role="presentation")
                    button(class="nav-link active", id="vehicle-1-tab" data-bs-toggle="pill", data-bs-target="#vehicle-1", type="button", role="tab", aria-controls="vehicle-1", aria-selected="true") الجميع
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="vehicle-2-tab" data-bs-toggle="pill", data-bs-target="#vehicle-2", type="button", role="tab", aria-controls="vehicle-2", aria-selected="false") تجارية
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="vehicle-3-tab" data-bs-toggle="pill", data-bs-target="#vehicle-3", type="button", role="tab", aria-controls="vehicle-3", aria-selected="false") عائلية
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="vehicle-4-tab" data-bs-toggle="pill", data-bs-target="#vehicle-4", type="button", role="tab", aria-controls="vehicle-4", aria-selected="false") سيدان
            div(class="tab-content")
                div(class="tab-pane fade show active", id="vehicle-1" role="tabpanel", aria-labelledby="vehicle-1-tab") 
                    div(class="images")
                        div(class="box")
                            img(data-src="images/feature/01.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/01.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/02.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/02.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/03.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/03.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/04.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/04.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/05.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/05.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/06.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/06.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                div(class="tab-pane fade", id="vehicle-2" role="tabpanel", aria-labelledby="vehicle-2-tab") 
                    div(class="images")
                        div(class="box")
                            img(data-src="images/feature/01.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/01.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/02.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/02.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                div(class="tab-pane fade", id="vehicle-3" role="tabpanel", aria-labelledby="vehicle-3-tab") 
                    div(class="images")
                        div(class="box")
                            img(data-src="images/feature/02.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/02.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/01.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/01.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                div(class="tab-pane fade", id="vehicle-4" role="tabpanel", aria-labelledby="vehicle-4-tab") 
                    div(class="images")
                        div(class="box")
                            img(data-src="images/feature/01.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/01.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
                        div(class="box")
                            img(data-src="images/feature/02.webp", class="img-fluid" alt="")
                            div(class="icon")
                                a(href="images/feature/02.webp" data-fancybox="gallery") 
                                    i(class="bi bi-plus")
                            div(class="details")
                                h3 2020 audi a4 prestige
//recent vehicle

//video
section(class="video" style="background-image: url(images/bgs/vid-big-bg.webp);")
    div(class="container")
        div(class="main-title")
            h2 تريد ان تعرف المزيد عنا؟ قم بتشغيل الفيديو الترويجي الآن!
        div(class="content")
            div(class="video-box")
                figure(class="video-image")
                    img(data-src="images/bgs/feature-bg.webp" alt="")
                a(href="https://www.youtube.com/embed/ZGjIF2oEEXA" data-fancybox="gallery" class="overlay-box")
                    i(class="bi bi-caret-right-fill")
//video

//facts
section(class="facts")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-3 col-md-6 col-12")
                    div(class="facts-box")
                        div(class="icon")
                            img(data-src="images/welcome/04.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 سيارات في المخازن
                        div(class="number")
                            sup +
                            span(class="counter") 240
                div(class="col-lg-3 col-md-6 col-12")
                    div(class="facts-box")
                        div(class="icon")
                            img(data-src="images/welcome/02.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 تقييمات العملاء
                        div(class="number")
                            sup +
                            span(class="counter") 240
                div(class="col-lg-3 col-md-6 col-12")
                    div(class="facts-box")
                        div(class="icon")
                            img(data-src="images/welcome/03.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 عملاء سعداء
                        div(class="number")
                            sup +
                            span(class="counter") 250
                div(class="col-lg-3 col-md-6 col-12")
                    div(class="facts-box")
                        div(class="icon")
                            img(data-src="images/welcome/01.png", class="img-fluid" alt="")
                        div(class="text")
                            h3 سيارات مباعة
                        div(class="number")
                            sup +
                            span(class="counter") 350
//facts

//testimonial
section(class="testimonial")
    div(class="container")
        div(class="main-title")
            span(class="top-title") ماذا يقول عملاؤنا السعداء عنا
            h2 آراء العملاء فيما نقدمه 
            div(class="separator")
        div(class="content")
            div(class="testimonial-carousel owl-carousel owl-theme")
                div(class="testimonial-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="images/icons/person.webp" alt="")
                    div(class="text")
                        h3 محمد أحمد
                    div(class="details")
                        img(data-src="images/icons/quote.svg", class="img-fluid quote")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                div(class="testimonial-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="images/icons/person.webp" alt="")
                    div(class="text")
                        h3 محمد أحمد
                    div(class="details")
                        img(data-src="images/icons/quote.svg", class="img-fluid quote" alt="")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                div(class="testimonial-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="images/icons/person.webp" alt="")
                    div(class="text")
                        h3 محمد أحمد
                    div(class="details")
                        img(data-src="images/icons/quote.svg", class="img-fluid quote" alt="")
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
//testimonial

//clients
section(class="clients")
    div(class="container")
        div(class="main-title")
            span(class="top-title") عملاء في جميع أنحاء العالم
            h2 عملائنا
            div(class="separator")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients