//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="products.html" class="btn") our products
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/02.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="products.html" class="btn") our products
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/03.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            a(href="products.html" class="btn") our products
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6 col-12 col")
                    div(class="image-box")
                        div(class="image")
                            img(data-src="images/about.jpg" class="img-fluid" alt="")
                div(class="col-lg-6 col-12 col")
                    div(class="text-box")
                        div(class="corner-top")
                        div(class="corner-bottom")
                        div(class="text")
                            h3 about us
                            p We are a Saudi company that is bent on laying a foundation for the Kingdom’s legacy and documenting it through tracing the legacy roots, decoding it, and grasping its meaning to finally display it in a creative mold and multi-products which embody the splendor, sublimity and depth of Saudi Culture.
                            a(href="about.html" class="btn") more about us
//about us

//new arrivals
section(class="new-arrivals")
    div(class="container")
        div(class="main-title")
            h2 new arrivals
            div(class="decore-title")
                img(data-src="images/favicon.png", alt="")
        div(class="content")
            div(class="arrivals-carousel owl-carousel owl-theme")
                div(class="arrivals-box")
                    div(class="image")
                        a(href="single-product.html") 
                            img(data-src="images/arrivals/01.jpg", class="img-fluid" alt="")
                        div(class="fav")
                            a(href="#!" class="btn") 
                                i(class="bi bi-heart")
                        div(class="layer")
                            a(href="#!" class="btn") add to cart
                    div(class="details")
                        div(class="title")
                            h3
                                a(href="single-product.html") this is product title
                        //- div(class="product-rating")
                            span(class="ratyli")
                div(class="arrivals-box")
                    div(class="image")
                        a(href="single-product.html") 
                            img(data-src="images/arrivals/02.jpg", class="img-fluid" alt="")
                        div(class="fav")
                            a(href="#!" class="btn") 
                                i(class="bi bi-heart")
                        div(class="layer")
                            a(href="#!" class="btn") add to cart
                    div(class="details")
                        div(class="title")
                            h3
                                a(href="single-product.html") this is product title
                div(class="arrivals-box")
                    div(class="image")
                        a(href="single-product.html") 
                            img(data-src="images/arrivals/03.jpg", class="img-fluid" alt="")
                        div(class="fav")
                            a(href="#!" class="btn") 
                                i(class="bi bi-heart")
                        div(class="layer")
                            a(href="#!" class="btn") add to cart
                    div(class="details")
                        div(class="title")
                            h3
                                a(href="single-product.html") this is product title
                div(class="arrivals-box")
                    div(class="image")
                        a(href="single-product.html") 
                            img(data-src="images/arrivals/04.jpg", class="img-fluid" alt="")
                        div(class="fav")
                            a(href="#!" class="btn") 
                                i(class="bi bi-heart")
                        div(class="layer")
                            a(href="#!" class="btn") add to cart
                    div(class="details")
                        div(class="title")
                            h3
                                a(href="single-product.html") this is product title
                div(class="arrivals-box")
                    div(class="image")
                        a(href="single-product.html") 
                            img(data-src="images/arrivals/05.jpg", class="img-fluid" alt="")
                        div(class="fav")
                            a(href="#!" class="btn") 
                                i(class="bi bi-heart")
                        div(class="layer")
                            a(href="#!" class="btn") add to cart
                    div(class="details")
                        div(class="title")
                            h3
                                a(href="single-product.html") this is product title
//new arrivals

//in depths
section(class="in-depths")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="depths-image")
                        img(data-src="images/depths.png" class="img-fluid" alt="")
                div(class="col-lg-6")
                    div(class="depths-text")
                        div(class="main-title")
                            h2 DIVING IN DEPTHS
                            p Those who are guided by stars in the pitch dark, enormously enjoy it while unearthing priceless treasures hidden underground. They relish what Time has left for us of inscriptions which date back to roots of legacy and dawn of history as a witness to legacy whose roots run deep in history and identity. Such legacy can be traced and seen in the form of now-buried people’s laughter at the corners of houses; such smiles have been maintained on doors and windows in the form of inscriptions which you can talk with if you wish to.
                            a(href="#!" class="btn") learn more
//in depths


//contact us
//- section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4 p-0")
                    div(class="image")
                        img(data-src="images/bgs/contact.jpg" class="img-fluid" alt="")
                div(class="col-lg-8 p-0")
                    div(class="contact-form")
                        div(class="main-title")
                            h2 contact us now
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your name *
                                        input(type="text" class="form-control" placeholder="Name" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your email *
                                        input(type="email" class="form-control" placeholder="Email" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") your number *
                                        input(type="number" class="form-control" placeholder="Phone" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") select thing *
                                        select(class="form-select") 
                                            option(disabled, selected) Select an option
                                            option(value="1") option 01
                                            option(value="2") option 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") your message *
                                        textarea(class="form-control" rows="5" placeholder="Leave a comment here")
                            div(class="contact-btn")
                                button(class="btn" type="submit") send now
//contact us

//subscribe
section(class="subscribe")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-12")
                    div(class="subscribe-form")
                        div(class="main-title")
                            h3(class="heading") call us now, 24/7 support
                            p(class="sub-title") Get exclusive deals you wont find anywhere else straight to your inbox!
                        div(class="icon")
                            a(href="tel:011")
                                i(class="bi bi-telephone-outbound") 
                        //- form(class="needs-validation" action="" method="" novalidate)
                            div(class="input-group")
                                input(class="form-control" type="text" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="subscribeBtn")
                                button(class="btn btn-outline-secondary" id="subscribeBtn" type="button") subscribe
//subscribe

//featured products
section(class="featured-products")
    div(class="container")
        div(class="main-title")
            h2 featured products
            div(class="decore-title")
                img(data-src="images/favicon.png", alt="")
        div(class="content")
            ul(class="nav nav-pills", role="tablist")
                li(class="nav-item", role="presentation")
                    button(class="nav-link active", id="products-1-tab" data-bs-toggle="pill", data-bs-target="#products-1", type="button", role="tab", aria-controls="products-1", aria-selected="true") all
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="products-2-tab" data-bs-toggle="pill", data-bs-target="#products-2", type="button", role="tab", aria-controls="products-2", aria-selected="false") new arrivals
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="products-3-tab" data-bs-toggle="pill", data-bs-target="#products-3", type="button", role="tab", aria-controls="products-3", aria-selected="false") deal of the week
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="products-4-tab" data-bs-toggle="pill", data-bs-target="#products-4", type="button", role="tab", aria-controls="products-4", aria-selected="false") featured products
            div(class="tab-content")
                div(class="tab-pane fade show active", id="products-1" role="tabpanel", aria-labelledby="products-1-tab") 
                    div(class="products-content")
                        div(class="row")
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/01.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                                        //- div(class="product-rating")
                                            span(class="ratyli")
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/02.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart-fill")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/03.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart-fill")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/04.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart-fill")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/05.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart-fill")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                div(class="tab-pane fade", id="products-2" role="tabpanel", aria-labelledby="products-2-tab") 
                    div(class="products-content")
                        div(class="row")
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/01.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart-fill")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/02.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart-fill")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/03.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                div(class="tab-pane fade", id="products-3" role="tabpanel", aria-labelledby="products-3-tab") 
                    div(class="products-content")
                        div(class="row")
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/01.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
                div(class="tab-pane fade", id="products-4" role="tabpanel", aria-labelledby="products-4-tab") 
                    div(class="products-content")
                        div(class="row")
                            div(class="col-lg-3")
                                div(class="products-box")
                                    div(class="image")
                                        a(href="single-product.html") 
                                            img(data-src="images/products/01.jpg", class="img-fluid" alt="")
                                        div(class="fav")
                                            a(href="#!" class="btn") 
                                                i(class="bi bi-heart")
                                        div(class="layer")
                                            a(href="#!" class="btn") add to cart
                                    div(class="details")
                                        div(class="title")
                                            h3
                                                a(href="single-product.html") this is product title
//featured products

//blogs
//- section(class="blogs")
    div(class="container")
        div(class="main-title")
            h2 latest news
            div(class="decore-title")
                img(data-src="images/favicon.png", alt="")
        div(class="content")
            div(class="blogs-carousel owl-carousel owl-theme")
                div(class="blogs-box")
                    div(class="image")
                        img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | August 18, 2018
                            li(class="auther")
                                i(class="bi bi-pencil-square")
                                | by: Ahmed
                        h3(class="title")
                            a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                div(class="blogs-box")
                    div(class="image")
                        img(class="img-fluid" data-src="images/blogs/02.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | August 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                div(class="blogs-box")
                    div(class="image")
                        img(class="img-fluid" data-src="images/blogs/03.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | August 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                div(class="blogs-box")
                    div(class="image")
                        img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | August 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
//blogs


//clients
section(class="clients")
    div(class="container")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients
