//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            img(class="img-fluid" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h2(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span Get Started Now
        div(class="item")
            img(class="img-fluid" data-src="images/slider/02.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h2(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span Get Started Now
        div(class="item")
            img(class="img-fluid" data-src="images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h2(class="title") title of text section
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span Get Started Now
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        div(class="img1")
                            img(class="img-fluid" data-src="images/about/01.jpg" alt="")
                        div(class="img2")
                            img(class="img-fluid" data-src="images/about/02.jpg" alt="")
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="main-title")
                        span(class="top-title") we introduce better services
                        h2 office of justice
                    div(class="about-text")
                        p We are a member of FAlmotlak group, which has been established since 1982. The Group has several branches inside and outside the KSA. Our lawyers, consultants and arbitrators are always in duty to assist clients based on legal experienced and distinctive competencies through cooperation closely with a select group of law firms around the world in area of corporation law, international arbitration, contracts, investment law, establishing all type of companies, and other specialized legal services
                    div(class="about-btn")
                        div(class="outer-btn")
                            a(href="about.html" class="btn")
                                span read more
//about us

//services
section(class="services")
    div(class="container")
        div(class="main-title")
            h2 our services
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/01.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Real Estate Systems
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/02.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Real Estate Systems
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/03.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Real Estate Systems
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/04.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Real Estate Systems
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/05.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Real Estate Systems
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="images/services/06.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Real Estate Systems
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") details
            div(class="services-btn")
                div(class="outer-btn")
                    a(href="services.html" class="btn")
                        span more services 
//services

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            h2 our blogs
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            div(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            div(class="btns")
                                a(href="single-blog.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/blogs/02.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            div(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            div(class="btns")
                                a(href="single-blog.html" class="btn details-btn") details
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="images/blogs/03.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            div(class="title")
                                a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            div(class="btns")
                                a(href="single-blog.html" class="btn details-btn") details
            div(class="blogs-btn")
                div(class="outer-btn")
                    a(href="blogs.html" class="btn")
                        span more blogs 
//blogs

//contact us
section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="main-title")
                        h2 contact us now
                        p please fill these fields, You Can Send Messages To Us From Here
                div(class="col-lg-8")
                    div(class="contact-form")
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="text" class="form-control" placeholder="Name" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="email" class="form-control" placeholder="Email" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="number" class="form-control" placeholder="Phone" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        select(class="form-select")
                                            option(disabled, selected) Select an option
                                            option(value="1") option 01
                                            option(value="2") option 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        textarea(class="form-control" rows="5" placeholder="Leave a comment here")
                            div(class="contact-btn")
                                div(class="outer-btn")
                                    button(class="btn" type="submit")
                                        span send now
//contact us