//scripts
script(src="js/jquery.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/fontawesome.min.js")
script(src="js/dropkick.js")
script(src="js/slick.min.js")
script(src="js/bideo.js")
script(src="js/script.js")