script(src="vendor/jquery/jquery.min.js" type="text/javascript")
script(src="vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript")
script(src="vendor/slick/slick.min.js" type="text/javascript")
script(src="js/rocket-loader.min.js", defer type="text/javascript")
script(src="js/rater.min.js", defer type="text/javascript")
script(src="js/beacon.min.js" defer type="text/javascript")
script(src="js/jquery.fancybox.js" defer type="text/javascript")
script(src="js/flip.min.js" type="text/javascript")
script(src="js/pannellum.js" type="text/javascript")
script(src="js/osahan.js" type="text/javascript")
script(type="text/javascript").
    function handleTickInit(tick) {
        var nextYear = new Date().getFullYear() + 1;
            Tick.count.down(2021 + "-09-14 17:00:00").onupdate = function (value) {
            tick.value = value;
        };
    }
    
    function handleTickInitHome(tick) {
        var nextYear = new Date().getFullYear() + 1;
            Tick.count.down(2021 + "-09-15 17:00:00").onupdate = function (value) {
            tick.value = value;
        };
    }
    
    pannellum.viewer("panorama", {
        "autoRotate": -5,
        "autoLoad": true,
        "type": "equirectangular",
        "panorama": "https://raw.githubusercontent.com/taharehany/betamaxfiles/master/images/360.jpg",
        "autoLoad": true,
       
    });