script(src="vendor/js/bundle.min.js")
script(src="vendor/js/jquery.appear.js")
script(src="vendor/js/owl.carousel.min.js")
script(src="vendor/js/parallaxie.min.js")
script(src="vendor/js/jquery.cubeportfolio.min.js")
script(src="vendor/js/jquery.fancybox.min.js")
script(src="vendor/js/wow.min.js")
script(src="vendor/js/jquery-countTo.js")
script(src="vendor/js/tooltipster.min.js")
// Revolution SLider
script(src="vendor/js/jquery.themepunch.tools.min.js")
script(src="vendor/js/jquery.themepunch.revolution.min.js")
// SLIDER REVOLUTION 5.0 EXTENSIONS
script(src="vendor/js/extensions/revolution.extension.actions.min.js")
script(src="vendor/js/extensions/revolution.extension.carousel.min.js")
script(src="vendor/js/extensions/revolution.extension.kenburn.min.js")
script(src="vendor/js/extensions/revolution.extension.layeranimation.min.js")
script(src="vendor/js/extensions/revolution.extension.migration.min.js")
script(src="vendor/js/extensions/revolution.extension.navigation.min.js")
script(src="vendor/js/extensions/revolution.extension.parallax.min.js")
script(src="vendor/js/extensions/revolution.extension.slideanims.min.js")
script(src="vendor/js/extensions/revolution.extension.video.min.js")
// custom functions and script
script(src="logistic/js/functions.js")