link(href="logistic/images/favicon.ico", rel="icon")
link(rel="stylesheet", href="vendor/css/bundle.min.css")
link(rel="stylesheet", href="vendor/css/owl.carousel.min.css")
link(rel="stylesheet", href="vendor/css/jquery.fancybox.min.css")
link(rel="stylesheet", href="vendor/css/cubeportfolio.min.css")
link(rel="stylesheet", href="vendor/css/tooltipster.min.css")
link(rel="stylesheet", href="vendor/css/revolution-settings.min.css")
link(rel="stylesheet", href="logistic/css/revolution/navigation.css")
link(rel="stylesheet", href="logistic/css/style.css")
link(rel="stylesheet", href="logistic/css/over-style.css")
