extend index

block home_block
    div(class="container")
        div(class="text-center mt-5 mb-5 pt-5 pb-5")
            div(class="error mx-auto", data-text="404") 404
            p(class="lead text-gray-800 mb-5") Page Not Found
            p(class="text-gray-500 mb-0") Anim pariatur cliche reprehenderit, enim...
            a(href="index.html") ← Back to index

