extend index

block website_title
    title #{website_title} | خطأ 404

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 خطأ 404
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") صفحة غير موجودة
    //breadcrumb

    //error 404
    div(class="container")
        div(class="text-center mt-5 mb-5 pt-5 pb-5")
            div(class="error mx-auto") 
                h2 404
                p(class="lead text-gray-800 mb-5") صفحة غير موجودة
                a(href="index.html" class="back") ← العودة للرئيسية
    //error 404

