extend index
block website_title 
    title من نحن
block index    
    section#main-banner-page(class="position-relative page-header about-header parallax section-nav-smooth")
        div(class="overlay overlay-dark opacity-6")
        div(class="container")
            div(class="row")
                div(class="col-lg-6 offset-lg-3")
                    div(class="page-titles whitecolor text-center padding_top padding_bottom")
                        h2(class="font-xlight") من نحن
            div(class="gradient-bg title-wrap")
                div(class="row")
                    div(class="col-lg-12 col-md-12 whitecolor")
                        h3(class="float-left") عن الجازع
                        ul(class="breadcrumb top10 bottom10 float-right")
                            li(class="breadcrumb-item hover-light")
                                a(href="index.html") الرئيسية
                            li(class="breadcrumb-item hover-light") من نحن
    section#ourfaq(class="bglight position-relative padding")
        div(class="container")
            div(class="row")
                div(class="col-md-12 text-center animated wow fadeIn", data-wow-delay="300ms")
                    h2(class="heading bottom30 darkcolor font-light2") من 
                        span(class="font-normal") نحن
                        span(class="divider-center")
                    div(class="col-md-8 offset-md-2")
                        p(class="heading_space") من اعتقاد حازم في لعب دور هام في بناء البنية الصناعية للمملكة العربية السعودية ومنطقة الشرق الأوسط تأسست الجازع الصناعية وقد أثبتت مسيرتنا وعلي وجه قاطع أن الإخلاص في العمل والصدق في 
                h2(class="d-none") Tabs
                div(class="col-md-12 col-sm-12")
                    #accordion
                        div(class="card")
                            div(class="card-header")
                                a(class="card-link darkcolor", data-toggle="collapse", href="#collapseOne") رؤية الشركة
                            #collapseOne(class="collapse show", data-parent="#accordion")
                                div(class="card-body")
                                    p(class="bottom20") أن نكون من كبري الشركات المصنة في منطقة الشرق الأوسط
                        div(class="card")
                            div(class="card-header")
                                a(class="collapsed card-link darkcolor", data-toggle="collapse", href="#collapseTwo") مهمة الشركة
                            #collapseTwo(class="collapse", data-parent="#accordion")
                                div(class="card-body")
                                    p تطوير المجموعة من خلال الاستثمارات الاستراتيجية المناسبة ونمو شركات المجموعة وتطويرها أيضاً باستمرار من خلال تزويدها بأفضل الموارد المالية والإدارية بالإضافة إلي الاستثمار في منتجات جديدة لتعزيز قيمة الشركات والاستفادة من مزايا المجموعة التنافسية 
                        div(class="card")
                            div(class="card-header")
                                a(class="collapsed card-link darkcolor", data-toggle="collapse", href="#collapseThree") من نحن
                            #collapseThree(class="collapse", data-parent="#accordion")
                                div(class="card-body")
                                    p من اعتقاد حازم في لعب دور هام في بناء البنية الصناعية للمملكة العربية السعودية ومنطقة الشرق الأوسط تأسست الجازع الصناعية وقد أثبتت مسيرتنا وعلي وجه قاطع أن الإخلاص في العمل والصدق في التعامل وتقديم أفضل ما يمكن هي محددات أساسية لمسارات النجاح وإضاءات علي طريق التطور .
                                    p وقد اعتمدت الجازع الصناعية منذ انطلاقها علي قاعدتها الإستثمارية العريضة لتعزز بذلك مكانتها كإحدي أبرز المجموعات الصناعية علي المستويين المحلي والاقيلمي وواحدة من الشركات الوطنية الرائدة في مجال الاستثمارات الصناعية المتنوعة . ويدير المجموعة فريق متكامل من الإداريين ذوي الخبرات والكفاءات العالية في مختلف المجالات المتعلقة بالاستثمار الصناعي إدارياً ومالياً وفنياً .
                                    p بدأت مسيرتنا في الجازع الصناعية عام 1997م (1417هـ ) ومنذ انطلاقتها تمكنت الشركة من تبوء مركز تنافسي متميز محلياً وعربياً بتحقيقها لمعايير الامان والمحافظة علي البيئة , عن طريق طرحها منتجات متنوعة ذات جودة عالية ليتوسع نشاطها ليشمل العديد من الأنشطة الصناعية .
                                    p إن علمنا الإبداعي يرتكز إلي خبراتنا الطويلة في ابتكار الحلول العملية التي تساهم في تطوير الأعمال والارتقاء بها فإننا في الجازع الصناعية , نفخر باعتبارنا واحدة من أول الشركات الصناعية المتخصصة في مسبوكات المعادن المملوكة للقطاع الخاص في المملكة العربية السعودية , وهدفها الرئيسي هو الاستثمار في القطاع الخاص من أجل مستقبل أفضل لمساهميها ويتم ذلك عن طريق الاستفادة من الشركات الاستراتيجية من مختلف أنحاء العالم , وأيضاً عن طريق استخدام الأمثل لموارد المملكة الطبيعية واستغلال الميزة التنافسية المتوفرة . 
                                    p يستند نطاق عمل الجازع الصناعية علي منهجية متكاملة قائمة علي الاستفادة من خبراتها المتراكمة والممتدة لأكثر من 18 عاما في القطاع الصناعي وتوظيف قدراتها العالية علي تقديم محفظة شاملة من الخدمات والمنتجات المطابقة لأعلي المعايير العالمية تطوير البنية التحتية ومشاريع التنمية الصناعية والتجارية وغيرها الكثير .
                                    p كما تدير الجازع الصناعية عملياتها التشغيلية وفق استراتيجية متكاملة تهدف إلي ترسيخ مكانتها الريادية ضمن السوق المحلية والإقليمية وتوثيق علاقتها المتينة مع الشركاء والعملاء عبر التركيز علي تطوير المنتجات المحلية وإطلاق منتجات جديدة ومبتكرة وفق أعلي معايير الجودة العالمية فضلاً عن توسيع الطاقة الإنتاجية لتلبية الطلب المتزايد من العملاء في المملكة والخارج 
    // WOrk Process
    section#our-process(class="padding bgprimary")
        div(class="container")
            div(class="row")
                div(class="col-md-12 col-sm-12 text-center")
                    div(class="heading-title whitecolor wow fadeInUp", data-wow-delay="300ms")
                        span لوريم إيبسوم عربي
                        h2(class="font-normal") الية سير العمل
            div(class="row")
                ul(class="process-wrapp")
                    li(class="whitecolor wow fadeIn", data-wow-delay="300ms")
                        span(class="pro-step bottom20") 01
                        p(class="fontbold bottom20") الخطوة الأولى
                        p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                    li(class="whitecolor wow fadeIn", data-wow-delay="400ms")
                        span(class="pro-step bottom20") 02
                        p(class="fontbold bottom20") الخطوة الثانية
                        p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                    li(class="whitecolor wow fadeIn active", data-wow-delay="500ms")
                        span(class="pro-step bottom20") 03
                        p(class="fontbold bottom20") الخطوة الثالثة
                        p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                    li(class="whitecolor wow fadeIn", data-wow-delay="600ms")
                        span(class="pro-step bottom20") 04
                        p(class="fontbold bottom20") الخطوة الرابعة
                        p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                    li(class="whitecolor wow fadeIn", data-wow-delay="700ms")
                        span(class="pro-step bottom20") 05
                        p(class="fontbold bottom20") الخطوة الخامسة
                        p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
    // WOrk Process ends
    // Partners
    section#our-partners(class="padding_bottom padding_top bglight")
        div(class="container")
            div(class="row")
                div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                    h2(class="heading bottom30 darkcolor font-light2")
                        span(class="font-weight-normal") المنظمات الدولية  
                        span(class="divider-center")
                    div(class="col-md-8 offset-md-2")
                        p(class="mb-n3") عضو في أكبر المنظمات والهيئات الدولية المتخصصة في مجال الشحن الجوي والبحري والخدمات اللوجستية
            div(class="row")
                div(class="col-md-12 col-sm-12")
                    #partners-slider(class="owl-carousel")
                        div(class="item")
                            div(class="logo-item")
                                img(alt="", src="../logistic/images/member/01.png")
                        div(class="item")
                            div(class="logo-item")
                                img(alt="", src="../logistic/images/member/02.png")
                        div(class="item")
                            div(class="logo-item")
                                img(alt="", src="../logistic/images/member/03.png")
                        div(class="item")
                            div(class="logo-item")
                                img(alt="", src="../logistic/images/member/04.png")
    // Partners ends