extends index

block website_title
    title #{website_title} | من نحن

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 من نحن
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") من نحن
    //breadcrumb

    //about
    section(class="about-page")
        div(class="container")
            div(class="about-content")
                img(src="../images/bgs/01.png", class="left-pos" class="img-fluid" alt="")
                img(src="../images/bgs/02.png", class="right-pos" class="img-fluid" alt="")
                div(class="about-box")
                    div(class="main-title")
                        h2 نحن
                            span(class="diff-color") منذ 25 السنوات
                            | في هذا المجال
                            span(class="line")
                        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي
                    div(class="about-btn")
                        a(class="btn btn-danger" href="contact.html") تواصل معنا
    //about

    //instagram images
    section(class="instagram")
        div(class="container")
            div(class="instagram-content")
                div(class="row justify-content-center")
                    div(class="box col-lg-4 col-md-6 col-sm-6")
                        div(class="instagram-box")
                            a(href="#!") 
                                div(class="image")
                                    img(src="../images/insta/01.jpg", class="img-fluid" alt="")
                                div(class="icon")
                                    i(class="bi bi-instagram")
                    div(class="box col-lg-4 col-md-6 col-sm-6")
                        div(class="instagram-box")
                            a(href="#!") 
                                div(class="image")
                                    img(src="../images/insta/02.jpg", class="img-fluid" alt="")
                                div(class="icon")
                                    i(class="bi bi-instagram")
                    div(class="box col-lg-4 col-md-6 col-sm-6")
                        div(class="instagram-box")
                            a(href="#!") 
                                div(class="image")
                                    img(src="../images/insta/03.jpg", class="img-fluid" alt="")
                                div(class="icon")
                                    i(class="bi bi-instagram")
                    div(class="box col-lg-4 col-md-6 col-sm-6")
                        div(class="instagram-box")
                            a(href="#!") 
                                div(class="image")
                                    img(src="../images/insta/04.jpg", class="img-fluid" alt="")
                                div(class="icon")
                                    i(class="bi bi-instagram")
                    div(class="box col-lg-4 col-md-6 col-sm-6")
                        div(class="instagram-box")
                            a(href="#!") 
                                div(class="image")
                                    img(src="../images/insta/05.jpg", class="img-fluid" alt="")
                                div(class="icon")
                                    i(class="bi bi-instagram")
                    div(class="box col-lg-4 col-md-6 col-sm-6")
                        div(class="instagram-box")
                            a(href="#!") 
                                div(class="image")
                                    img(src="../images/insta/06.jpg", class="img-fluid" alt="")
                                div(class="icon")
                                    i(class="bi bi-instagram")
    //instagram images