extend index

block website_title
    title #{website_title} | من نحن

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 من نحن
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") من نحن
    //breadcrumb
    
    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-6 box")
                        div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                            h2 رسالتنا
                        div(class="text wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                            p ترتبط المحاماة بالحياة القانونية ، كما تعيش في المحاكم وفي المجتمع ويقع على المحامي واجب خماسي الأبعاد: واجبه نحو موكله ، وواجب نحو خصمه ، وواجب نحو المحكمة ، وواجب تجاه نفسه ، وواجبه تجاه النظام القانوني في الدولة.
                            p  ولكن الواجب الأعلى والأسمى الذي يقع على المحامي هو واجبه وولاؤه للعدل والحق . أنه من الخطأ أن نعتبر المحامي لسان موكله ، والناطق باسمه فقط يقول ما يريد موكله ، وأنه أداته لما يرشده إليه ، إن المحامي ليس كذلك وإنما هو مدين بالولاء والإخلاص للقضية الأهم وهي قضية العدالة والحق.
                            ul
                                li عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة
                                li عند موافقه العميل المبدئيه على التصميم يتمويقول البعض ان وضع النصوص التجريبية
                    div(class="col-lg-6")
                        div(class="image wow zoomInDown" data-wow-duration="1.3s" data-wow-delay=".1s")
                            img(class="img-fluid", src="../images/about/about-img1.jpg", alt="about-img")
                div(class="row")
                    div(class="col-lg-6 box")
                        div(class="text wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                            p ومع إنتشار الشركات التجارية والصناعية وتشابك المصالح وتعدد المنازعات خاصة مع كثرة القوانين ، باتت الحاجة ماسة إلى وجود مكاتب قانونية متكاملة ومتخصصة تقوم بتقديم الخدمات القانونية المتنوعة بدءً من تقديم المشورة القانونية لحفظ الحقوق وصيانة المصالح ، وإعداد الدراسات والأبحاث القانونية المتنوعة ، وانتهاء بتمثيل الخصوم أمام الجهات القضائية المختلفة للدفاع عن المصالح . لذا فنحن في مكتب حكم العدالة بما نضمه من نخبة من المحامين والمستشارين القانونين ، نشكل فريق عمل جيد وكفء في مختلف التخصصات القانونية ، وقادرين_ بإذن الله تعالى_ على تقديم أفضل الخدمات القانونية لعملائنا .
                    div(class="col-lg-6")
                        div(class="image wow zoomInDown" data-wow-duration="1.3s" data-wow-delay=".1s")
                            img(class="img-fluid", src="../images/about/about-img2.jpg", alt="about-img")
    //about page