extend index

block website_title
    title #{website_title} | من نحن

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/bg_crumb.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 من نحن
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") من نحن
    //breadcrumb

    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="about-image")
                    img(class="img-fluid" data-src="../images/about/img-about2.jpg" alt="")
                div(class="main-title")
                    span(class="top-title") عن الشرق الأوسط للمزاد العلني
                    h2 ننطلق في كل الأتجاهات ... وغايتنا أرضائكم
                div(class="about-text")
                    p شركة الشرق الأوسط للمزاد العلني شركة سعودية ذات مسئولية محدودة سجل تجاري رقم 1010083418 صادر من الرياض.
                    p تأسست الشركة بتاريخ 4/11/ 1411 ه الموافق 17 /11 /1991 م وهي شركة رائدة في مجال المزادات العلنية الغير مقيدة بسلعة معينة .
                    p تقوم الشركة بعمل المزادات العلنية الغير مقيدة لبيع المعدات والأليات والسيارات وذلك بالمزاد العلني .
                    p قامت الشركة بعمل أكثر من 150 مزاد علني خلال هذه الفترة وذلك للشركات والمؤسسات داخل المملكة وخارجها .لدي الشركة فريق متخصص ومتكامل في تثمين أصول الشركات والمؤسسات من معدات وأليات وسيارات .
                    p كما يوجد لدي الشركة فريق عمل متكامل متخصص في أقامة المزادات العلنية في الشرق الأوسط من ترتيب وتنظيم لبيع االمعدات والأليات والسيارات .
                    h2 عن المزاد
                    h3 ماذا يستطيع مزاد علنى عالمى أن يقدم لك ؟
                    ul 
                        li المزادات العلنية : هى أسرع وأقوى الطرق المؤثرة من حيث تصفية الفائض من معداتكم وألياتكم وبضائعكم و ........الخ

                        li المزادات العلنية : هى أبسط الوسائل للتخلص من ممتلكاتكم الزائدة عن الحاجة وهى أنفع الوسائل واكثرها فائدة فى جميع المجالات التى تتسم بالضخامة وتعتمدها اكبر الشركات العالمية .

                        li المزادات العلنية : سوف تساعدكم على تخفيض التزاماتكم لأن بيع الأصول " الألات والمعدات والأجهزة...الخ"

                        li سيتم بدون أى كفالات أو ضمانات بمعنى ان تباع بحالتها الراهنة وأينما تكون .

                        li المزادات العلنية : سوف تساعدكم على تخفيض أعبائكم " النفقات والتكاليف " لأن البنود التى ستباع ستوفر لكم سيولة نقدية سريعة جداًُ .

                        li المزادات العلنية : تعرض السلع والبضائع لأكبر عدد من الناس المهتمين بالمزادات مما ينتج عنه عدد كبير من المشترين وذلك بطبيعة الحال يخلق نوع من التسابق مما يجعل العائد أكبر.

                        li المزادات العلنية : هى الطريق الحقيقى الوحيد لخلق سوق تجارى ذو قيمة وأى انتقادات محتملة من جانبكم تكاد تكون منعدمة وذلك بسبب ان البيع سيتم من خلال مزاد عام مفتوح مما يحفظ للمالك حقوقة المالية.

                        li المزادات العلنية : تقوم ببيع كافة انواع المعروض من البضائع على اختلاف انواعها وتصفيتها .

                        li فإذا كنت من المهتمين بذلك وتمتلك بضاعة وترغب فى بيعها . فاتصل بنا فنحن نرحب بكم ويسرنا تقديم المشورة والنصح لكم بالإضافة الى سرية تعاملنا .
    //about page