extends index

block website_title
    title عقاري | من نحن

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/backgrounds/broad.jpg')")
        div(class="container")
            ol(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active" aria-current="page") من نحن
    //breadcrumb

    // about
    section(class="about")
        div(class="container")
            div(class="about-content")
                div(class="row")
                    div(class="col-md-12 col-lg-6")
                        div(class="about-box")
                            i(class="bi bi-eye")
                            div(class="main-title")
                                h2 رؤيتنا
                                    span(class="line")
                                p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                    div(class="col-md-12 col-lg-6")
                        div(class="about-box")
                            i(class="bi bi-building")
                            div(class="main-title")
                                h2 مهمتنا
                                    span(class="line")
                                p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
    // about 