extend index 

block website_title 
    title events | Chating

block home_block
    section(class="py-4 bg-light  inner-header")
        div(class="container")
            div(class="row d-flex align-items-center")
                div(class="col-lg-6 col-md-6")
                    h4(class="mt-0 mb-0 text-dark")
                        | Chating
                div(class="col-lg-6 col-md-6 text-right")
                    div(class="breadcrumbs")
                        p(class="mb-0")
                            a(href="#")
                                i(class="icofont-ui-home")
                                | Home
                                | /
                                span Chating
    .chat-content
        .container
            .top_heading
                .title 
                    h3 supporting
                .create
                    button(type='button' class="btn btn-primary hvr-sweep-to-top")
                        i(class="far fa-plus-square")
                        | create new
            .messaging
                .inbox_msg.shadow 
                    .inbox_people
                        .headind_srch
                            .srch_bar
                                .stylish-input-group
                                    input.search-bar(type='text' placeholder='Search for ticket' class="")
                                    span.input-group-addon
                                        button(type='button')
                                            i.fa.fa-search(aria-hidden='true')
                            .create
                                button(type='button' class="btn btn-primary hvr-sweep-to-top")
                                    i(class="far fa-plus-square")
                                    | create new ticket
                                p tickets 
                                    span (1200)
                        .inbox_chat
                            .chat_list.active_chat
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                            .chat_list
                                .chat_people
                                    .chat_ib
                                        span.slug slug
                                        h5 messgae id
                                            span 25145365
                                            button.open open
                                        p message body text
                                        span.date 12 dec 2020
                        nav(aria-label='Page navigation example')
                            ul.pagination
                                li.page-item
                                    a.page-link(href='#' aria-label='Previous')
                                        span(aria-hidden='true') «
                                        span.sr-only Previous
                                li.page-item.active
                                    a.page-link(href='#') 1
                                li.page-item
                                    a.page-link(href='#') 2
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link(href='#' aria-label='Next')
                                        span(aria-hidden='true') »
                                        span.sr-only Next
                    .mesgs
                        .heading 
                            .chat_ib_inside
                                h5 messgae id
                                    span 25145365
                                    button.close 
                                        i(class="fas fa-sign-out-alt")
                                        | close
                        .msg_history
                            .information 
                                .start 
                                    h3 start chatting
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                            .incoming_msg
                                .incoming_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .received_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    .received_withd_msg
                                        p في انتظار message body text
                            .outgoing_msg
                                .outgoing_msg_img
                                    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
                                .sent_msg
                                    .details
                                        span.name Ahmed Mohamed
                                        span.time_date  11:01 AM | Today
                                    p Test which is a new approach to have all solutions
                        .type_msg
                            .input_msg_write
                                textarea.write_msg(style="max-width: 550px;" rows="2" placeholder='Type Your Message')
                                input(type='file' id="file-input" value="" hidden)
                                label.msg_attatch_btn(for="file-input")
                                    i.fa.fa-paperclip(aria-hidden='true')
                                button.msg_send_btn(type='button')
                                    i.fa.fa-paper-plane(aria-hidden='true')