extend index
block website_title 
    title الشركات   
block index
    section#main-banner-page(class="pposition-relative page-header service-detail-header section-nav-smooth parallax")
        div(class="overlay overlay-dark opacity-7 z-index-1")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 offset-lg-2")
                    div(class="page-titles whitecolor text-center padding_top padding_bottom")
                        h2(class="font-bold") الشركات
                        h2(class="font-xlight") شركات تابعة
            div(class="gradient-bg title-wrap mt-n5")
                div(class="row")
                    div(class="col-lg-12 col-md-12 whitecolor")
                        h3(class="float-left") الشركات
                        ul(class="breadcrumb top10 bottom10 float-right")
                            li(class="breadcrumb-item hover-light")
                                a(href="index.html") الرئيسية
                            li(class="breadcrumb-item hover-light") الشركات
    section#our-services(class="padding bglight")
        div(class="container")
            div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms")
                h2(class="heading bottom30 darkcolor font-light2")
                    span(class="font-weight-normal") شركات تابعة
                    span(class="divider-center")
                div(class="col-md-8 offset-md-2")
                    p(class="mb-n3") الشركات التابعة لمجموعة الجازع الصناعية 
            div(class="services-container")
                div(class="row")
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="../logistic/images/companies/07.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") مصنع جدف لمسبوكات الدكتايل 
                                p(class="bottom15")
                                    | بدأ مصنع جدف لمسبوكات الدكتايل في العام 1997 حيث يعتبر نواة مصانع الجازع الصناعية وكجزء من رؤية الجازع الصناعية لتلبية حاجات السوق من منتجات حديد الزهر والدكتايل ذات الجودة العالية وفق أفضل معايير الانتاج في العالم لانتاج مجموعة واسعة من مسبوكات الدكتايل التي معايير تتميز بخصائصها الميكانيكية الممتازة إضافة إلي متانتها وقوتها , مما يجعلها مثالية لاستخدامات الضغط العالي . والقدرة علي تحمل  مختلف الظروف البيئية , حيث يتم إنتاج هذه المواد الخاصة بأقطار وتركيبات مختلفة حسب ما يتم طلبة لتلبية كافة احتياجات مشاريع البنية التحتية 
                                a(href="comp-details.html", class="button-readmore") معرفة المزيد
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="../logistic/images/companies/05.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") مصنع الجازع للكيماويات الانشائية 
                                p(class="bottom15")
                                    | تماشياً مع التطور العمراني والحضاري في المملكة ودول المنطقة بالإضافة الي رؤية الجازع الصناعية في تنويع محفظتها الصناعية فقد تم تأسيس مصنع الجازع للكيمياويات في عام 2007 لإنتاج وتصنيع كيماويات البناء باستخدام أفضل المعدات والات الإنتاج الصناعي علي اعلي مستوي من التكنولوجيا وتطبيق للمعايير الدولية 
                                a(href="comp-details.html", class="button-readmore") معرفة المزيد
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="../logistic/images/companies/02.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") مصنع القوة الفعالية للكهرباء 
                                p(class="bottom15")
                                    | تأسس مصنع القوة الفعالية للكهرباء في العام 2014م لتغطية الحاجة الملحة لوجود مصانع سعودية تعمل في قطاع الصناعات الكهربائية في ظل الجهود الحثيثة المبذولة من قبل فريق عمل من الخبراء والمهنيين ذوي الكفاءات .العالية والخبرات الواسعة في الصناعة الكهربائية وشبكات توزيع الطاقة 
                                a(href="comp-details.html", class="button-readmore") معرفة المزيد
                div(class="row")
                    div(class="col-sm-12")
                        // Pagination
                        ul(class="pagination justify-content-center top55 mb-4 mb-md-0 mb-sm-3")
                            li(class="page-item")
                                a(class="page-link disabled", href="#.")
                                    i(class="fa fa-angle-left")
                            li(class="page-item active")
                                a(class="page-link", href="#.") 1
                            li(class="page-item")
                                a(class="page-link", href="#.") 2
                            li(class="page-item")
                                a(class="page-link", href="#.") 3
                            li(class="page-item")
                                a(class="page-link", href="#.")
                                    i(class="fa fa-angle-right")