doctype html
html(lang="ar" dir="rtl")
    head
        // Meta Tags
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1, shrink-to-fit=no", name="viewport")
        // Author
        meta(name="author", content="")
        // description
        meta(name="description", content="")
        // keywords
        meta(name="keywords", content="")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;800&amp;display=swap", rel="stylesheet")
        // Page Title
        block website_title
            title Aljazea
        include includes/sytles
    body
        // PreLoader
        div(class="loader")
            div(class="loader-spinner")
        // PreLoader Ends
        // header
        include includes/header
        block index
            section#main-banner-area(class="position-relative")
                div(id="revo_main_wrapper", class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark", data-alias="classic4export", data-source="gallery")
                    // START REVOLUTION SLIDER 5.4.1 fullwidth mode
                    div(id="rev_main", class="rev_slider fullwidthabanner white", data-version="5.4.1")
                        ul
                            // SLIDE 1
                            li(data-index="rs-01", data-transition="fade", data-slotamount="default", data-easein="Power100.easeIn", data-easeout="Power100.easeOut", data-masterspeed="2000", data-fsmasterspeed="1500", data-param1="01")
                                // MAIN IMAGE
                                img(src="../logistic/images/banner1-1.jpg", alt="", data-bgposition="center center", data-bgfit="cover", data-bgrepeat="no-repeat", data-bgparallax="10", class="rev-slidebg", data-no-retina)
                                // LAYER NR. 1
                                div(class="overlay overlay-dark opacity-6")
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-130','-130','-110','-80']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") شركة الجازع
                                // LAYER NR. 2
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-70','-70','-50','-20']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-bold whitecolor text-center") من اعتقاد حازم في لعب دور هام
                                // LAYER NR. 3
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-10','-10','10','40']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1500", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") حول العالم
                                // LAYER NR. 4
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['40','40','60','90']", data-width="none", data-height="none", data-whitespace="nowrap", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="2000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h4(class="whitecolor font-xlight text-center") من اعتقاد حازم في لعب دور هام في بناء البنية الصناعية
                            // SLIDE 2
                            li(data-index="rs-02", data-transition="fade", data-slotamount="default", data-easein="Power3.easeInOut", data-easeout="Power3.easeInOut", data-masterspeed="2000", data-fsmasterspeed="1500", data-param1="02")
                                // MAIN IMAGE
                                img(src="../logistic/images/banner1-2.jpg", alt="", data-bgposition="center center", data-bgfit="cover", data-bgrepeat="no-repeat", data-bgparallax="10", class="rev-slidebg", data-no-retina)
                                // LAYER NR. 1
                                div(class="overlay overlay-dark opacity-7")
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-130','-130','-110','-80']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") من اعتقاد حازم في لعب دور هام 
                                // LAYER NR. 2
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-70','-70','-50','-20']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-bold whitecolor text-center") بالطريقة الصحيحة
                                // LAYER NR. 3
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-10','-10','10','40']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1500", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") من اعتقاد حازم في لعب دور هام
                                // LAYER NR. 4
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['40','40','60','90']", data-width="none", data-height="none", data-whitespace="nowrap", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="2000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h4(class="whitecolor font-xlight text-center") اعتمدت الجازع الصناعية منذ انطلاقها علي قاعدتها الإستثمارية العريضة لتعزز بذلك مكانتها كإحدي أبرز المجموعات الصناعية 
                ul(class="social-icons-simple revicon white")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="facebook")
                            i(class="fab fa-facebook-f")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="twitter")
                            i(class="fab fa-twitter")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="linkedin")
                            i(class="fab fa-linkedin-in")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="insta")
                            i(class="fab fa-instagram")
            // Main Slider ends
            // about us
            section#about(class="single-feature padding mt-n5")
                div(class="container")
                    div(class="row d-flex align-items-center")
                        div(class="col-lg-6 text-justify wow fadeInLeft", data-wow-delay="300ms")
                            div(class="heading-title mb-4")
                                h2(class="darkcolor font-normal bottom30") من   
                                    span(class="defaultcolor") نحن
                            p(class="bottom35") من اعتقاد حازم في لعب دور هام في بناء البنية الصناعية للمملكة العربية السعودية ومنطقة الشرق الأوسط تأسست الجازع الصناعية وقد أثبتت مسيرتنا وعلي وجه قاطع أن الإخلاص في العمل والصدق في التعامل وتقديم أفضل ما يمكن هي محددات أساسية لمسارات النجاح وإضاءات علي طريق التطور . 
                            p(class="bottom35") وقد اعتمدت الجازع الصناعية منذ انطلاقها علي قاعدتها الإستثمارية العريضة لتعزز بذلك مكانتها كإحدي أبرز المجموعات الصناعية علي المستويين المحلي والاقيلمي وواحدة من الشركات الوطنية الرائدة في مجال الاستثمارات الصناعية المتنوعة . ويدير المجموعة فريق متكامل من الإداريين ذوي الخبرات والكفاءات العالية في مختلف المجالات المتعلقة بالاستثمار الصناعي إدارياً ومالياً وفنياً .
                            a(href="about.html", class="button gradient-btn mb-sm-0 mb-4") معرفة المزيد
                        div(class="col-lg-6 wow fadeInRight", data-wow-delay="300ms")
                            div(class="image")
                                img(alt="SEO", src="../logistic/images/awesome-feature.jpg")
            // about us ends
            // WOrk Process
            section#our-process(class="padding bgprimary")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 col-sm-12 text-center")
                            div(class="heading-title whitecolor wow fadeInUp", data-wow-delay="300ms")
                                span لوريم إيبسوم عربي
                                h2(class="font-normal") الية سير العمل
                    div(class="row")
                        ul(class="process-wrapp")
                            li(class="whitecolor wow fadeIn", data-wow-delay="300ms")
                                span(class="pro-step bottom20") 01
                                p(class="fontbold bottom20") الخطوة الأولى
                                p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                            li(class="whitecolor wow fadeIn", data-wow-delay="400ms")
                                span(class="pro-step bottom20") 02
                                p(class="fontbold bottom20") الخطوة الثانية
                                p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                            li(class="whitecolor wow fadeIn active", data-wow-delay="500ms")
                                span(class="pro-step bottom20") 03
                                p(class="fontbold bottom20") الخطوة الثالثة
                                p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                            li(class="whitecolor wow fadeIn", data-wow-delay="600ms")
                                span(class="pro-step bottom20") 04
                                p(class="fontbold bottom20") الخطوة الرابعة
                                p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
                            li(class="whitecolor wow fadeIn", data-wow-delay="700ms")
                                span(class="pro-step bottom20") 05
                                p(class="fontbold bottom20") الخطوة الخامسة
                                p(class="mt-n2 mt-sm-0") لوريم إيبسوم عربي هو نص يتم كتابته بديلا عن النص الحقيقي
            // WOrk Process ends
            // Mobile Apps
            section#our-apps(class="padding")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                            h2(class="heading bottom30 darkcolor font-light2")
                                span(class="font-weight-normal") قيم نعتمد عليها
                                span(class="divider-center")
                    #app-feature(class="row d-flex align-items-center")
                        div(class="col-lg-12 col-md-12 col-sm-12")
                            div(class="text-center mt-3 mb-5")
                                div(class="feature-item mt-1 wow fadeInRight", data-wow-delay="200ms")
                                    div(class="icon")
                                        i(class="fas fa-truck-moving")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") الالتزام بالجودة
                                        p توثيق العلاقة مع العملاء الحاليين بتلبية طلباتهم والحفاظ في ذات الوقت علي اعلي معايير الجودة من تقديم  منتجات وخدمات عالية الجودة مما يميزنا علي منافسينا من خلال تركيزنا المستمر علي أرضاء العملاء .
                        div(class="col-lg-4 col-md-4 col-sm-12")
                            div(class="text-center")
                                div(class="feature-item mt-1 wow fadeInLeft", data-wow-delay="200ms")
                                    div(class="icon")
                                        i(class="fas fa-cog")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") التركيز علي النتائج 
                                        p القيام بالاستفادة من الموارد بالشكل الأكثر فعالية لتحقيق أفضل النتائج من خلال زيادة الطاقات الإنتاجية الحالية لبعض المتنتجات و إضافة منتجات جديدة مع العمل علي دخول أسواق إضافية مختارة علي مستوي المملكة والشرق الأوسط .
                                div(class="feature-item mt-5 wow fadeInLeft", data-wow-delay="250ms")
                                    div(class="icon")
                                        i(class="fas fa-edit")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") التطوير
                                        p من خلال قياداتنا المسؤولة وبتركيزنا الواضح علي ضرورة تحقيق أهدافنا فإننا نقوم بأستمرار بتطوير ادائنا ومواصلة تحسين العمليات التشغيلية من خلال ترشيد التكاليف ورفع كفاءة استخدام مصادر الشركة .
                        div(class="col-lg-4 col-md-4 col-sm-12 text-center")
                            div(class="image feature-item d-inline-block wow fadeIn my-5 my-md-0", data-wow-delay="400ms")
                                img(src="../logistic/images/mobile.png", alt="mobile phones")
                        div(class="col-lg-4 col-md-4 col-sm-12")
                            div(class="text-center text-md-right")
                                div(class="feature-item mt-1 wow fadeInRight", data-wow-delay="200ms")
                                    div(class="icon")
                                        i(class="fas fa-truck-moving")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") الالتزام بالجودة
                                        p توثيق العلاقة مع العملاء الحاليين بتلبية طلباتهم والحفاظ في ذات الوقت علي اعلي معايير الجودة من تقديم  منتجات وخدمات عالية الجودة مما يميزنا علي منافسينا من خلال تركيزنا المستمر علي أرضاء العملاء .
                                div(class="feature-item mt-5 wow fadeInRight", data-wow-delay="250ms")
                                    div(class="icon")
                                        i(class="fas fa-map-marked-alt")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") التمكين والمسؤولية 
                                        p تسعي المجموعة لاستقطاب الكفاءات والمواهب العالية وتمكينهم من القيام بأعمالهم ومسؤولياتهم علي أفضل صورة . مما يمكنهم بالتالي لأن يكونوا مسؤولون بشكل كامل علي النتائج التي يحرزونها . 
            // Mobile Apps ends
            // Counters
            section#bg-counters(class="padding bg-counters parallax" style="padding-bottom: 12rem")
                div(class="container")
                    div(class="row align-items-center text-center")
                        div(class="overlay overlay-dark opacity-6 z-index-0")
                        div(class="col-lg-4 col-md-4 col-sm-4 bottom10")
                            div(class="counters whitecolor  top10 bottom10")
                                span(class="count_nums font-light", data-to="1994", data-speed="2500")
                            h3(class="font-light whitecolor top20") منذ بدأنا
                        div(class="col-lg-4 col-md-4 col-sm-4")
                            h2(class="bottom30 whitecolor font-normal text-center") شركاؤنا
                        div(class="col-lg-4 col-md-4 col-sm-4 bottom10")
                            div(class="counters whitecolor top10 bottom10")
                                span(class="count_nums font-light", data-to="1395", data-speed="2500")
                            h3(class="font-light whitecolor top20") عملاء 
            // Counters ends
            // Some Services
            div(class="container")
                div(class="row")
                    div(class="col-md-12")
                        #services-slider(class="owl-carousel")
                            div(class="item")
                                div(class="service-box")
                                    img(src="../logistic/images/partners/01.png", class="img-responsive" alt="")
                            div(class="item")
                                div(class="service-box")
                                    img(src="../logistic/images/partners/02.png", class="img-responsive" alt="")
                            div(class="item")
                                div(class="service-box")
                                    img(src="../logistic/images/partners/03.png", class="img-responsive" alt="")
                            div(class="item")
                                div(class="service-box")
                                    img(src="../logistic/images/partners/04.png", class="img-responsive" alt="")
            // Some Services ends
            // Our companies
            section#our-services(class="padding bglight")
                div(class="container")
                    div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                        h2(class="heading bottom30 darkcolor font-light2")
                            span(class="font-weight-normal") شركات تابعة
                            span(class="divider-center")
                        div(class="col-md-8 offset-md-2")
                            p(class="mb-n3") الشركات التابعة لمجموعة الجازع الصناعية 
                    div(class="services-container")
                        div(class="row")
                            div(class="col-lg-4 col-md-6")
                                div(class="services-main")
                                    div(class="image bottom10")
                                        div(class="image")
                                            img(alt="SEO", src="../logistic/images/companies/07.png")
                                        div(class="overlay")
                                            a(href="comp-details.html", class="overlay_center border_radius")
                                                i(class="fa fa-eye")
                                    div(class="services-content brand")
                                        h3(class="bottom10 darkcolor")
                                            a(href="comp-details.html") مصنع جدف لمسبوكات الدكتايل 
                                        p(class="bottom15")
                                            | بدأ مصنع جدف لمسبوكات الدكتايل في العام 1997 حيث يعتبر نواة مصانع الجازع الصناعية وكجزء من رؤية الجازع الصناعية لتلبية حاجات السوق من منتجات حديد الزهر والدكتايل ذات الجودة العالية وفق أفضل معايير الانتاج في العالم لانتاج مجموعة واسعة من مسبوكات الدكتايل التي معايير تتميز بخصائصها الميكانيكية الممتازة إضافة إلي متانتها وقوتها , مما يجعلها مثالية لاستخدامات الضغط العالي . والقدرة علي تحمل  مختلف الظروف البيئية , حيث يتم إنتاج هذه المواد الخاصة بأقطار وتركيبات مختلفة حسب ما يتم طلبة لتلبية كافة احتياجات مشاريع البنية التحتية 
                                        a(href="comp-details.html", class="button-readmore") معرفة المزيد
                            div(class="col-lg-4 col-md-6")
                                div(class="services-main")
                                    div(class="image bottom10")
                                        div(class="image")
                                            img(alt="SEO", src="../logistic/images/companies/05.png")
                                        div(class="overlay")
                                            a(href="comp-details.html", class="overlay_center border_radius")
                                                i(class="fa fa-eye")
                                    div(class="services-content brand")
                                        h3(class="bottom10 darkcolor")
                                            a(href="comp-details.html") مصنع الجازع للكيماويات الانشائية 
                                        p(class="bottom15")
                                            | تماشياً مع التطور العمراني والحضاري في المملكة ودول المنطقة بالإضافة الي رؤية الجازع الصناعية في تنويع محفظتها الصناعية فقد تم تأسيس مصنع الجازع للكيمياويات في عام 2007 لإنتاج وتصنيع كيماويات البناء باستخدام أفضل المعدات والات الإنتاج الصناعي علي اعلي مستوي من التكنولوجيا وتطبيق للمعايير الدولية 
                                        a(href="comp-details.html", class="button-readmore") معرفة المزيد
                            div(class="col-lg-4 col-md-6")
                                div(class="services-main")
                                    div(class="image bottom10")
                                        div(class="image")
                                            img(alt="SEO", src="../logistic/images/companies/02.png")
                                        div(class="overlay")
                                            a(href="comp-details.html", class="overlay_center border_radius")
                                                i(class="fa fa-eye")
                                    div(class="services-content brand")
                                        h3(class="bottom10 darkcolor")
                                            a(href="comp-details.html") مصنع القوة الفعالية للكهرباء 
                                        p(class="bottom15")
                                            | تأسس مصنع القوة الفعالية للكهرباء في العام 2014م لتغطية الحاجة الملحة لوجود مصانع سعودية تعمل في قطاع الصناعات الكهربائية في ظل الجهود الحثيثة المبذولة من قبل فريق عمل من الخبراء والمهنيين ذوي الكفاءات .العالية والخبرات الواسعة في الصناعة الكهربائية وشبكات توزيع الطاقة 
                                        a(href="comp-details.html", class="button-readmore") معرفة المزيد
                            div(class="col-12 text-center")
                                a(href="companies.html", class="button gradient-btn mb-sm-0 mb-4") المزيد من الشركات ..
            // Partners
            section#our-partners(class="padding_bottom bglight")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                            h2(class="heading bottom30 darkcolor font-light2")
                                span(class="font-weight-normal") المنظمات الدولية  
                                span(class="divider-center")
                            div(class="col-md-8 offset-md-2")
                                p(class="mb-n3") عضو في أكبر المنظمات والهيئات الدولية المتخصصة في مجال الشحن الجوي والبحري والخدمات اللوجستية
                    div(class="row")
                        div(class="col-md-12 col-sm-12")
                            #partners-slider(class="owl-carousel")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="../logistic/images/member/01.png")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="../logistic/images/member/02.png")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="../logistic/images/member/03.png")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="../logistic/images/member/04.png")
            // Partners ends
        include includes/footer    
        include includes/scripts
