extends index

block website_title
    title عقاري | عمل إعلان

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/backgrounds/broad.jpg')")
        div(class="container")
            ol(class="breadcrumb")
                //- li(class="breadcrumb-item")
                    a(href="index.html") Home
                li(class="breadcrumb-item active" aria-current="page") عمل إعلان
    //breadcrumb

    //make property
    section(class="make-property")
        div(class="container")
            div(class="make-property-area")
                div(class="make-property-box")
                    div(class="make-property-content")
                        form(class="g-3 needs-validation" action="" novalidate)
                            div(class="row")
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") الاسم
                                        div(class="input-group flex-nowrap")
                                            i(class="input-group-text bi bi-person")
                                            input(type="text" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") الهاتف
                                        div(class="input-group flex-nowrap")
                                            i(class="input-group-text bi bi-telephone")
                                            input(type="number" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") الإيميل
                                        div(class="input-group flex-nowrap has-validation")
                                            i(class="input-group-text bi bi-envelope")
                                            input(type="email" class="form-control" placeholder="الإيميل" required)
                                            div(class="invalid-tooltip")
                                                | خطأ
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") اختر منطقة الإعلان
                                        div(class="input-group input-group flex-nowrap has-validation")
                                            select(class="form-control select" placeholder="select", required)
                                                option(value="" disabled selected) اختر منطقة
                                                option(value="") الخيار 1
                                                option(value="") الخيار 2 
                                                option(value="") الخيار 3
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") مساحة العقار
                                        div(class="input-group flex-nowrap")
                                            i(class="input-group-text bi bi-building")
                                            input(type="number" class="form-control" placeholder="مساحة العقار بالمتر المربع" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") اخنر صورا للعقار
                                        div(class="input-group flex-nowrap has-validation")
                                            input(type="file", multiple maxlength="2" class="form-control" required)
                                            div(class="invalid-tooltip")
                                                | يجب اختيار صورة واحدة على الأقل
                                div(class="col-lg-12 text-center")
                                    div(class="form-group")
                                        button(class="btn btn-danger hvr-sweep-to-top" type="submit") إرسال الآن
    //make property