extends index

block website_title
    title عقاري | الإشعارات

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/backgrounds/broad.jpg')")
        div(class="container")
            ol(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") الرئيسية
                li(class="breadcrumb-item active" aria-current="page") الإشعارات
    //breadcrumb

    // notifications
    section(class="notifications")
        div(class="container")
            div(class="notifications-content")
                div(class="notifications-box")
                    div(class="alert alert-light alert-dismissible fade show", role="alert")
                        div(class="image")
                            img(src="../images/property/01.jpg", class="img-fluid" alt="")
                        div
                            h4 عند موافقه العميل المبدئيه على التصميم يتم
                            p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            span(class="time") منذ 10 دقائق
                        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box")
                    div(class="alert alert-light alert-dismissible fade show", role="alert")
                        div(class="image")
                            img(src="../images/property/01.jpg", class="img-fluid" alt="")
                        div
                            h4 عند موافقه العميل المبدئيه على التصميم يتم
                            p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            span(class="time") منذ 10 دقائق
                        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box")
                    div(class="alert alert-light alert-dismissible fade show", role="alert")
                        div(class="image")
                            img(src="../images/property/01.jpg", class="img-fluid" alt="")
                        div
                            h4 عند موافقه العميل المبدئيه على التصميم يتم
                            p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            span(class="time") منذ 10 دقائق
                        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box")
                    div(class="alert alert-light alert-dismissible fade show", role="alert")
                        div(class="image")
                            img(src="../images/property/01.jpg", class="img-fluid" alt="")
                        div
                            h4 عند موافقه العميل المبدئيه على التصميم يتم
                            p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            span(class="time") منذ 10 دقائق
                        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box")
                    div(class="alert alert-light alert-dismissible fade show", role="alert")
                        div(class="image")
                            img(src="../images/property/01.jpg", class="img-fluid" alt="")
                        div
                            h4 عند موافقه العميل المبدئيه على التصميم يتم
                            p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            span(class="time") منذ 10 دقائق
                        button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                h4(class="nothing") لا توجد إشعارات !
    // notifications 