extends index

block website_title
    title #{website_title} | الإشعارات

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 الإشعارات
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") Home
                    li(class="breadcrumb-item active", aria-current="page") الإشعارات
    //breadcrumb

    //notifications
    section(class="notifications")
        div(class="container")
            div(class="notifications-content")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="../images/profile.png", class="img-fluid" alt="")
                    div
                        h4 هنا عنوان الإشعار
                        p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        span(class="time") دقائق 10 منذ
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                h4(class="nothing")  لا توجد إشعارات !
    //notifications 