extends index

block website_title
    title عقاري | جميع العقارات

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/backgrounds/broad.jpg')")
        div(class="container")
            ol(class="breadcrumb")
                //- li(class="breadcrumb-item")
                    a(href="index.html") Home
                li(class="breadcrumb-item active", aria-current="page")  جميع العقارات
    //breadcrumb

    //properties
    section(class="properties properties-page")
        div(class="container")
            div(class="property-content")
                div(class="row")
                    div(class="col-md-4 col-lg-3")
                        div(class="filter-properties")
                            form(action="" method="") 
                                div(class="type")
                                    div(class="subtitle") 
                                        h3 نوع العقار
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyTypeRadio1" type="radio", name="propertyTypeRadio")
                                        label(class="form-check-label", for="propertyTypeRadio1")
                                            | الخيار 1
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyTypeRadio2" type="radio", name="propertyTypeRadio")
                                        label(class="form-check-label", for="propertyTypeRadio2")
                                            | الخيار 2
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyTypeRadio3" type="radio", name="propertyTypeRadio")
                                        label(class="form-check-label", for="propertyTypeRadio3")
                                            | الخيار 3
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyTypeRadio4" type="radio", name="propertyTypeRadio", checked)
                                        label(class="form-check-label", for="propertyTypeRadio4")
                                            | الخيار 4
                                hr
                                div(class="checkboxs")
                                    div(class="subtitle") 
                                        h3 اختر
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyCheckBox1" type="checkbox", value="" checked)
                                        label(class="form-check-label", for="propertyCheckBox1")
                                            | علامة 1
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyCheckBox2" type="checkbox", value="")
                                        label(class="form-check-label", for="propertyCheckBox2")
                                            | علامة 2
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyCheckBox3" type="checkbox", value="")
                                        label(class="form-check-label", for="propertyCheckBox3")
                                            | علامة 3
                                    div(class="form-check")
                                        input(class="form-check-input", id="propertyCheckBox4" type="checkbox", value="")
                                        label(class="form-check-label", for="propertyCheckBox4")
                                            | علامة 4
                                    hr
                                    div(class="property-dropdowns")
                                        div(class="subtitle") 
                                            h3 قائمة منسدلة
                                        div(class="form-group position-relative")
                                            div(class="input-group has-validation")
                                                select(class="select", placeholder="select", required)
                                                    option(value="" disabled selected) عنوان القائمة المنسدلة
                                                    option(value="") الخيار 1
                                                    option(value="") الخيار 2 
                                                    option(value="") الخيار 3
                                    div(class="property-buttons")
                                        button(class="btn" class="submit" type="submit")
                                            i(class="bi bi-search")
                                            | بحث
                                        button(class="btn btn-outline-light" class="reset" type="reset")
                                            | إعادة ضبط
                    div(class="col-md-8 col-lg-9")
                        div(class="row")
                            div(class="col-md-12 col-lg-4")
                                div(class="property-box")
                                    div(class="property-image")
                                        img(src="../images/backgrounds/hero.jpg", alt="")
                                        span(class="images-number") 
                                            i(class="bi bi-images")
                                            | 2
                                    div(class="property-details")
                                        a(href="#!")
                                            h2(class="title") لوريم
                                            p(class="location")
                                                i(class="bi-pin")
                                                | القاهرة، مصر
                                            p(class="price") 150000 ج.م
                                        a(href="single-property.html" class="btn") عرض
                                        //- a(href="#!" class="btn" class="fav")
                                            i(class="bi bi-heart")
                            div(class="col-md-12 col-lg-4")
                                div(class="property-box")
                                    div(class="property-image")
                                        img(src="../images/property/02.jpg", alt="")
                                        span(class="images-number") 
                                            i(class="bi bi-images")
                                            | 10
                                    div(class="property-details")
                                        a(href="#!")
                                            h2(class="title") وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية 
                                            p(class="location")
                                                i(class="bi-pin")
                                                | القاهرة، مصر
                                            p(class="price") 150000 ج.م
                                        a(href="single-property.html" class="btn") عرض
                            div(class="col-md-12 col-lg-4")
                                div(class="property-box")
                                    div(class="property-image")
                                        img(src="../images/property/03.jpg", alt="")
                                        span(class="images-number") 
                                            i(class="bi bi-images")
                                            | 5
                                    div(class="property-details")
                                        a(href="#!")
                                            h2(class="title") وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                                            p(class="location")
                                                i(class="bi-pin")
                                                | القاهرة، مصر
                                            p(class="price") 150000 ج.م
                                        a(href="single-property.html" class="btn") عرض
                            div(class="col-md-12 col-lg-4")
                                div(class="property-box")
                                    div(class="property-image")
                                        img(src="../images/property/04.jpg", alt="")
                                        span(class="images-number") 
                                            i(class="bi bi-images")
                                            | 25
                                    div(class="property-details")
                                        a(href="#!")
                                            h2(class="title") وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                                            p(class="location")
                                                i(class="bi-pin")
                                                | القاهرة، مصر
                                            p(class="price") 150000 ج.م
                                        a(href="single-property.html" class="btn") عرض
                            div(class="col-md-12 col-lg-4")
                                div(class="property-box")
                                    div(class="property-image")
                                        img(src="../images/property/01.jpg", alt="")
                                        span(class="images-number") 
                                            i(class="bi bi-images")
                                            | 21
                                    div(class="property-details")
                                        a(href="#!")
                                            h2(class="title") وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                                            p(class="location")
                                                i(class="bi-pin")
                                                | القاهرة، مصر
                                            p(class="price") 150000 ج.م
                                        a(href="single-property.html" class="btn") عرض
                            div(class="col-md-12 col-lg-4")
                                div(class="property-box")
                                    div(class="property-image")
                                        img(src="../images/property/02.jpg", alt="")
                                        span(class="images-number") 
                                            i(class="bi bi-images")
                                            | 15
                                    div(class="property-details")
                                        a(href="#!")
                                            h2(class="title") وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية
                                            p(class="location")
                                                i(class="bi-pin")
                                                | القاهرة، مصر
                                            p(class="price") 150000 ج.م
                                        a(href="single-property.html" class="btn") عرض
                            div(class="col-12")
                                nav(aria-label="Page navigation" class="navigation")
                                    ul(class="pagination")
                                        li(class="page-item")
                                            a(class="page-link arr", href="#!", aria-label="Previous")
                                                span(aria-hidden="true") &laquo;
                                        li(class="page-item active")
                                            a(class="page-link", href="#!") 1
                                        li(class="page-item")
                                            a(class="page-link", href="#!") 2
                                        li(class="page-item")
                                            a(class="page-link", href="#!") 3
                                        li(class="page-item")
                                            a(class="page-link", href="#!") 4
                                        li(class="page-item")
                                            a(class="page-link", href="#!") 5
                                        li(class="page-item")
                                            a(class="page-link", href="#!") 6
                                        li(class="page-item")
                                            a(class="page-link arr", href="#!", aria-label="Next")
                                                span(aria-hidden="true") &raquo;
    //properties