extend index

block website_title
    title #{website_title} | الخدمات

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 الخدمات
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") الخدمات
    //breadcrumb
    
    //services
    section(class="services-in-page")
        div(class="container")
            div(class="main-title")
                span(class="top-title") خدماتنا
                h2 خدمات العائلة أولاً
                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
            div(class="content")
                div(class="row")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                            //- div(class="trending-label")
                                i(class="bi bi-star-fill")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/01.jpg" alt="")
                            div(class="details")
                                h3(class="title")
                                    a(href="single-service.html") عنوان الخدمة 1
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                                div(class="btns")
                                    a(href="single-service.html" class="btn details-btn") معرفة المزيد
                                        i(class="bi bi-chevron-double-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                            div(class="trending-label")
                                i(class="bi bi-star-fill")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/02.jpg" alt="")
                            div(class="details")
                                h3(class="title")
                                    a(href="single-service.html") عنوان الخدمة 2
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                                div(class="btns")
                                    a(href="single-service.html" class="btn details-btn") معرفة المزيد
                                        i(class="bi bi-chevron-double-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                            //- div(class="trending-label")
                                i(class="bi bi-star-fill")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/03.jpg" alt="")
                            div(class="details")
                                h3(class="title")
                                    a(href="single-service.html") عنوان الخدمة 3
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                                div(class="btns")
                                    a(href="single-service.html" class="btn details-btn") معرفة المزيد
                                        i(class="bi bi-chevron-double-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                            //- div(class="trending-label")
                                i(class="bi bi-star-fill")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/04.jpg" alt="")
                            div(class="details")
                                h3(class="title")
                                    a(href="single-service.html") عنوان الخدمة 4
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                                div(class="btns")
                                    a(href="single-service.html" class="btn details-btn") معرفة المزيد
                                        i(class="bi bi-chevron-double-right")
    //services