extend index

block website_title
    title #{website_title} | services

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/breadcrumb.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 services
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") services
    //breadcrumb
    
    //services
    section(class="services-in-page")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box" data-aos="fade-up")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/01.jpg" alt="image_alt")
                            div(class="details")
                                div(class="title")
                                    a(href="single-service.html") Injury with car and others
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                                div(class="btns")
                                    a(href="single-service.html" class="details-btn" aria-label="service link")
                                        i(class="bi bi-chevron-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box" data-aos="fade-up")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/02.jpg" alt="image_alt")
                            div(class="details")
                                div(class="title")
                                    a(href="single-service.html") Injury with car and others
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                                div(class="btns")
                                    a(href="single-service.html" class="details-btn" aria-label="service link")
                                        i(class="bi bi-chevron-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box" data-aos="fade-up")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/03.jpg" alt="image_alt")
                            div(class="details")
                                div(class="title")
                                    a(href="single-service.html") Injury with car and others
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                                div(class="btns")
                                    a(href="single-service.html" class="details-btn" aria-label="service link")
                                        i(class="bi bi-chevron-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box" data-aos="fade-up")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/04.jpg" alt="image_alt")
                            div(class="details")
                                div(class="title")
                                    a(href="single-service.html") Injury with car and others
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                                div(class="btns")
                                    a(href="single-service.html" class="details-btn" aria-label="service link")
                                        i(class="bi bi-chevron-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box" data-aos="fade-up")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/05.jpg" alt="image_alt")
                            div(class="details")
                                div(class="title")
                                    a(href="single-service.html") Injury with car and others
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                                div(class="btns")
                                    a(href="single-service.html" class="details-btn" aria-label="service link")
                                        i(class="bi bi-chevron-right")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="service-box" data-aos="fade-up")
                            div(class="image")
                                a(href="single-service.html") 
                                    img(class="img-fluid" data-src="../images/services/06.jpg" alt="image_alt")
                            div(class="details")
                                div(class="title")
                                    a(href="single-service.html") Injury with car and others
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                                div(class="btns")
                                    a(href="single-service.html" class="details-btn" aria-label="service link")
                                        i(class="bi bi-chevron-right")
                //pagination
                nav(aria-label="Page navigation" class="navigation")
                    ul(class="pagination")
                        li(class="page-item")
                            a(class="page-link arrow", href="#!", aria-label="Previous")
                                span(aria-hidden="true") &laquo;
                        li(class="page-item active")
                            a(class="page-link", href="#!") 1
                        li(class="page-item")
                            a(class="page-link", href="#!") 2
                        li(class="page-item")
                            a(class="page-link", href="#!") 3
                        li(class="page-item")
                            a(class="page-link", href="#!") 4
                        li(class="page-item")
                            a(class="page-link arrow", href="#!", aria-label="Next")
                                span(aria-hidden="true") &raquo;
    //services