extend index

block website_title
    title #{website_title} | تفاصيل الوصفة

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 تفاصيل الوصفة
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") تفاصيل الوصفة
    //breadcrumb

    //single recipe page
    section(class="single-recipe-page")
        div(class="container")
            div(class="single-recipe-content")
                div(class="row")
                    div(class="col-lg-9")
                        div(class="single-recipe-box")
                            div(class="image")
                                img(src="../images/recipes/01.jpg", class="img-fluid" alt="")
                            div(class="text")
                                h3(class="subtitle") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                                p(class="details") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 25/1/2021
                                div(class="single")
                                    i(class="bi bi-check2")
                                    span 25 مشاهدة
                            hr
                            div(class="ingredients")
                                h3(class="subtitle") المكونات
                                ul(class="ct-list")
                                    li 2 كوب من الدقيق
                                    li ¼ لصفحة ما سيلهي القارئ عن التركيز على الشكل
                                    li 4 لصفحة ما سيلهي القارئ عن التركيز
                                    li ¼ توضع الفقرات في الصفحة التي يقرأها
                                    li ½ توضع الفقرات في الصفحة التي يقرأها
                                    li 1 توضع الفقرات في الصفحة التي يقرأها
                                    li ¼ كوب زبدة
                                    li 2 توضع الفقرات في الصفحة التي يقرأها
                                    li 1 بيض
                                    li 1 توضع الفقرات في الصفحة التي يقرأها
                            div(class="instructions")
                                h3(class="subtitle") الخطوات
                                div(class="step")
                                    h4 خطوة 1
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                                div(class="step")
                                    h4 خطوة 2
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                                div(class="step")
                                    h4 خطوة 3
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                                div(class="step")
                                    h4 خطوة 4
                                    p ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                                div(class="step")
                                    h4 خطوة 5
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                            hr
                            div(class="comments-list")
                                h3(class="subtitle") 2 تعليقات
                                ul
                                    li(class="comment-item")
                                        img(src="../images/comments/person.jpg", alt="comment author")
                                        div(class="comment-body")
                                            h5 خالد محمد
                                            span تم النشر: 15/1/2021 
                                            p ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ
                                            a(href="#!", class="reply-link") رد
                                    li(class="comment-item")
                                        img(src="../images/comments/person.jpg", alt="comment author")
                                        div(class="comment-body")
                                            h5 خالد محمد
                                            span تم النشر: 15/1/2021
                                            p ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
                                            a(href="#!", class="reply-link") رد
                            div(class="comment-form")
                                h3(class="subtitle") اترك تعليقا
                                form(method="" action="")
                                    div(class="row")
                                        div(class="col-md-6 form-group")
                                            input(type="text", class="form-control", placeholder="الاسم", name="fname", value="")
                                        div(class="col-md-6 form-group")
                                            input(type="email", class="form-control", placeholder="الإيميل", name="email", value="")
                                        div(class="col-md-12 form-group")
                                            textarea(class="form-control", placeholder="اكتب تعليقا", name="comment", rows="7")
                                    button(type="submit", class="btn-form primary", name="button") إرسال
                    div(class="col-lg-3")
                        div(class="sidebar-widget")
                            div(class="relative-recipes")
                                div(class="relative-recipe-box")
                                    div(class="image")
                                        img(src="../images/recipes/01.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                                            p(class="details") ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَquia id.
                                div(class="relative-recipe-box")
                                    div(class="image")
                                        img(src="../images/recipes/01.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                                            p(class="details") ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَquia id.
                                div(class="relative-recipe-box")
                                    div(class="image")
                                        img(src="../images/recipes/01.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                                            p(class="details") ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَquia id.
                                div(class="relative-recipe-box")
                                    div(class="image")
                                        img(src="../images/recipes/01.jpg", class="img-fluid" alt="")
                                    div(class="text")
                                        a(href="#!") 
                                            h3(class="subtitle") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ 
                                            p(class="details") ضع 1⁄4 هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَquia id.
                            div(class="tags")
                                div(class="subtitle") 
                                    h3 كلمات دلالية
                                a(href="#") طعام
                                a(href="#") دجاج
                                a(href="#") لحم
                                a(href="#") صحي
                                a(href="#") خضروات
                                a(href="#") أكلات سريعة
                                a(href="#") فواكه
                                a(href="#") عصائر
    //single recipe page