extend index

block website_title
    title #{website_title} | صفحة المقال

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('../images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 صفحة المقال
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") صفحة المقال
    //breadcrumb
    
    //single blog
    section(class="single-blog")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-8")
                        div(class="blog-box")
                            div(class="image")
                                img(class="img-fluid" data-src="../images/blogs/02.jpg" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 نظام ديوان المظالم
                                div(class="text")
                                    p المادة الأولى : ديوان المظالم هيئة قضاء إداري مستقلة ، يرتبط مباشرة بالملك ، ويكون مقره مدينة الرياض .ويتمتع قضاء الديوان وقضاته بالضمانات المنصوص عليها في نظام القضاء ، ويلتزمون بالواجبات المنصوص عليها فيه .المادة الثانية : يتألف ديوان المظالم من رئيس بمرتبة وزير ، ونائب رئيس أو أكثر ، وعدد كاف من القضاة ، ويلحق به العدد اللازم من الباحثين والفنيين والإداريين ونحوهم.المادة الثالثة : يتم تعيين نواب رئيس الديوان بأمر ملكي ممن تتوفر فيهم شروط شغل درجة رئيس محكمة استئناف.
                                    p المادة الخامسة عشرة : مع عدم الإخلال بما ورد في المادة السابعة والعشرين من نظام القضاء ، إذ رفعت دعوى عن موضوع واحد أمام إحدى محاكم الديوان وأمام أي جهة أخرى ، تختص بالفصل في بعض المنازعات ولم تتخل إحداهما عن نظرها أو تخلتا كلتاهما ؛ فيرفع طلب تعيين الجهة المختصة إلى لجنة الفصل في تنازع الاختصاص التي تؤلف من ثلاثة أعضاء : عضو من المحكمة الإدارية العليا يختاره رئيس المحكمة ، وعضو من الجهة الأخرى يختاره رئيس الجهة ، وعضو من مجلس القضاء الإداري يختاره رئيس المجلس ويكون رئيساً لهذه اللجنة ، كما تختص هذه اللجنة بالفصل في النزاع الذي يقوم بشأن تنفيذ حكمين نهائيين متناقضين صادر أحدهما من محاكم الديوان والآخر من الجهة الأخرى ، وتفصل في هذه الدعاوى وفقاً للأحكام والإجراءات الواردة في نظام القضاء
                                    p المادة الأولى : ديوان المظالم هيئة قضاء إداري مستقلة ، يرتبط مباشرة بالملك ، ويكون مقره مدينة الرياض .ويتمتع قضاء الديوان وقضاته بالضمانات المنصوص عليها في نظام القضاء ، ويلتزمون بالواجبات المنصوص عليها فيه .المادة الثانية : يتألف ديوان المظالم من رئيس بمرتبة وزير ، ونائب رئيس أو أكثر ، وعدد كاف من القضاة ، ويلحق به العدد اللازم من الباحثين والفنيين والإداريين ونحوهم.المادة الثالثة : يتم تعيين نواب رئيس الديوان بأمر ملكي ممن تتوفر فيهم شروط شغل درجة رئيس محكمة استئناف.
                                    h4 هنا عنوان فرعي 1
                                    ul 
                                        li المادة الخامسة عشرة : مع عدم الإخلال بما ورد في المادة السابعة والعشرين من نظام القضاء ، إذ رفعت دعوى عن موضوع واحد أمام إحدى محاكم الديوان وأمام أي جهة أخرى ، تختص بالفصل في بعض المنازعات ولم تتخل إحداهما عن نظرها أو تخلتا كلتاهما ؛ فيرفع طلب تعيين الجهة المختصة إلى لجنة الفصل في تنازع الاختصاص التي تؤلف من ثلاثة أعضاء : عضو من المحكمة الإدارية العليا يختاره رئيس المحكمة ، وعضو من الجهة الأخرى يختاره رئيس الجهة ، وعضو من مجلس القضاء الإداري يختاره رئيس المجلس ويكون رئيساً لهذه اللجنة ، كما تختص هذه اللجنة بالفصل في النزاع الذي يقوم بشأن تنفيذ حكمين نهائيين متناقضين صادر أحدهما من محاكم الديوان والآخر من الجهة الأخرى ، وتفصل في هذه الدعاوى وفقاً للأحكام والإجراءات الواردة في نظام القضاء
                                        li المادة الخامسة عشرة : مع عدم الإخلال بما ورد في المادة السابعة والعشرين من نظام القضاء ، إذ رفعت دعوى عن موضوع واحد أمام إحدى محاكم الديوان وأمام أي جهة أخرى ، تختص بالفصل في بعض المنازعات ولم تتخل إحداهما عن نظرها أو تخلتا كلتاهما ؛ فيرفع طلب تعيين الجهة المختصة إلى لجنة الفصل في تنازع الاختصاص التي تؤلف من ثلاثة أعضاء : عضو من المحكمة الإدارية العليا يختاره رئيس المحكمة ، وعضو من الجهة الأخرى يختاره رئيس الجهة ، وعضو من مجلس القضاء الإداري يختاره رئيس المجلس ويكون رئيساً لهذه اللجنة ، كما تختص هذه اللجنة بالفصل في النزاع الذي يقوم بشأن تنفيذ حكمين نهائيين متناقضين صادر أحدهما من محاكم الديوان والآخر من الجهة الأخرى ، وتفصل في هذه الدعاوى وفقاً للأحكام والإجراءات الواردة في نظام القضاء
                                        li المادة الخامسة عشرة : مع عدم الإخلال بما ورد في المادة السابعة والعشرين من نظام القضاء ، إذ رفعت دعوى عن موضوع واحد أمام إحدى محاكم الديوان وأمام أي جهة أخرى ، تختص بالفصل في بعض المنازعات ولم تتخل إحداهما عن نظرها أو تخلتا كلتاهما ؛ فيرفع طلب تعيين الجهة المختصة إلى لجنة الفصل في تنازع الاختصاص التي تؤلف من ثلاثة أعضاء : عضو من المحكمة الإدارية العليا يختاره رئيس المحكمة ، وعضو من الجهة الأخرى يختاره رئيس الجهة ، وعضو من مجلس القضاء الإداري يختاره رئيس المجلس ويكون رئيساً لهذه اللجنة ، كما تختص هذه اللجنة بالفصل في النزاع الذي يقوم بشأن تنفيذ حكمين نهائيين متناقضين صادر أحدهما من محاكم الديوان والآخر من الجهة الأخرى ، وتفصل في هذه الدعاوى وفقاً للأحكام والإجراءات الواردة في نظام القضاء
                                        li المادة الخامسة عشرة : مع عدم الإخلال بما ورد في المادة السابعة والعشرين من نظام القضاء ، إذ رفعت دعوى عن موضوع واحد أمام إحدى محاكم الديوان وأمام أي جهة أخرى ، تختص بالفصل في بعض المنازعات ولم تتخل إحداهما عن نظرها أو تخلتا كلتاهما ؛ فيرفع طلب تعيين الجهة المختصة إلى لجنة الفصل في تنازع الاختصاص التي تؤلف من ثلاثة أعضاء : عضو من المحكمة الإدارية العليا يختاره رئيس المحكمة ، وعضو من الجهة الأخرى يختاره رئيس الجهة ، وعضو من مجلس القضاء الإداري يختاره رئيس المجلس ويكون رئيساً لهذه اللجنة ، كما تختص هذه اللجنة بالفصل في النزاع الذي يقوم بشأن تنفيذ حكمين نهائيين متناقضين صادر أحدهما من محاكم الديوان والآخر من الجهة الأخرى ، وتفصل في هذه الدعاوى وفقاً للأحكام والإجراءات الواردة في نظام القضاء
                                    h4 هنا عنوان فرعي 2
                                    p المادة الخامسة عشرة : مع عدم الإخلال بما ورد في المادة السابعة والعشرين من نظام القضاء ، إذ رفعت دعوى عن موضوع واحد أمام إحدى محاكم الديوان وأمام أي جهة أخرى ، تختص بالفصل في بعض المنازعات ولم تتخل إحداهما عن نظرها أو تخلتا كلتاهما ؛ فيرفع طلب تعيين الجهة المختصة إلى لجنة الفصل في تنازع الاختصاص التي تؤلف من ثلاثة أعضاء : عضو من المحكمة الإدارية العليا يختاره رئيس المحكمة ، وعضو من الجهة الأخرى يختاره رئيس الجهة ، وعضو من مجلس القضاء الإداري يختاره رئيس المجلس ويكون رئيساً لهذه اللجنة ، كما تختص هذه اللجنة بالفصل في النزاع الذي يقوم بشأن تنفيذ حكمين نهائيين متناقضين صادر أحدهما من محاكم الديوان والآخر من الجهة الأخرى ، وتفصل في هذه الدعاوى وفقاً للأحكام والإجراءات الواردة في نظام القضاء
                    div(class="col-lg-4")
                        div(class="side-widget")
                            div(class="other-services")
                                div(class="title")
                                    h4 جميع الخدمات
                                ul 
                                    li 
                                        a(href="#!") هنا عنوان الخدمة 01
                                    li 
                                        a(href="#!") هنا عنوان الخدمة 02
                                    li 
                                        a(href="#!") هنا عنوان الخدمة 03
                                    li 
                                        a(href="#!") هنا عنوان الخدمة 04
                            div(class="help")
                                div(class="title")
                                    h4 كيف يمكننا مساعدتك!
                                p ترتبط المحاماة بالحياة القانونية ، كما تعيش في المحاكم وفي المجتمع ويقع على المحامي واجب خماسي الأبعاد: واجبه نحو موكله ، وواجب نحو خصمه ، وواجب نحو المحكمة ، وواجب تجاه نفسه ، وواجبه تجاه النظام القانوني في الدولة.
                                a(class="btn", href="contact.html") تواصل معنا
    //single blog 