@import "includes/global";

.heading-title,
.heading_space {
	h2 {
		text-transform: capitalize;
	}
}
.defaultcolor {
	margin-left: 5px;
}
#app-feature .feature-item:hover,
.feature-item.image {
	cursor: unset;
}

#app-feature .feature-item {
	.text {
		max-width: 750px;
		margin: auto;
	}
}

.price-toggle-wrapper .Pricing-toggle-button.month::before,
.team-content::before,
.gradient-btn {
	background-image: none;
	background-color: $main_color;
	// -webkit-background-size: 200% auto;
	// background-size: 200% auto;
	// background-image: -webkit-gradient(linear, left top, right top, from($main_color), color-stop(51%, $second_color), to($main_color));
	// background-image: -webkit-linear-gradient(left, $main_color 0%, $second_color 51%, $main_color 100%);
	// background-image: -moz-linear-gradient(left, $main_color 0%, $second_color 51%, $main_color 100%);
	// background-image: -o-linear-gradient(left, $main_color 0%, $second_color 51%, $main_color 100%);
	// background-image: linear-gradient(to right, $main_color 0%, $second_color 51%, $main_color 100%);
}

.gradient-bg {
	background-image: none;
	background-color: $main_color;
	// -webkit-background-size: 200% auto;
	// background-size: 200% auto;
	// background-image: -webkit-gradient(linear, left top, right top, from($main_color), color-stop(51%, $second_color), to($main_color));
	// background-image: -webkit-linear-gradient(left, $main_color 0%, $second_color 51%, $main_color 100%);
	// background-image: -moz-linear-gradient(left, $main_color 0%, $second_color 51%, $main_color 100%);
	// background-image: -o-linear-gradient(left, $main_color 0%, $second_color 51%, $main_color 100%);
	// background-image: linear-gradient(to right, $main_color 0%, $second_color 51%, $main_color 100%);
}

::selection {
	background: $main_color !important;
}

.back-top {
	background-color: $second_color;
	background-image: none;
}
.feature-item.image {
	img {
		@include borderRadius(15px);
	}
}

#services-slider {
	.owl-item {
		img {
			max-width: 200px;
			margin: auto;
		}
		&.center {
			.service-box {
				background-color: #f2f2f2;
			}
		}
	}
}

.single_post span,
.webcats li,
.webcats li a,
.webtags li a,
.btn_reply {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

//services
#services-slider {
	.owl-item {
		.service-box {
			background-color: #fff;
			h4 {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			p {
				-webkit-line-clamp: 2;
				min-height: 45px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
			}
		}
		&.active {
			&.center {
				.service-box {
					p {
						// -webkit-line-clamp: 4;
						// min-height: 90px;
					}
				}
			}
		}
	}
}

.services-container {
	.services-main {
		margin-bottom: 30px;
	}
}

.services-main {
	.image {
		height: 240px;
		padding: 20px;
		padding-bottom: 20%;
		background-color: rgba(19, 55, 91, 0.05);
		img {
			object-fit: contain;
			-o-object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	.services-content {
		h3 {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		p {
			-webkit-line-clamp: 4;
			min-height: 92px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
		&:hover {
			h3 {
				color: $second_color;
				background-image: none;
				-webkit-text-fill-color: unset;
			}
		}
	}
}
.button-readmore::after {
	background-image: none;
	background-color: $main_color;
}
//services

//counters
.bg-counters {
	background: url(../images/slider2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
}
//counters

//companies
.team-content {
	height: 130px;

	h4.darkcolor {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	p {
		-webkit-line-clamp: 2;
		min-height: 45px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}
//companies
#about {
	.image {
		img {
			@include borderRadius(15px);
		}
	}
}
#partners-slider .logo-item {
	width: auto;
	height: auto;
	overflow: hidden;
	> img {
		width: 100%;
		position: static;
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
		transform: translate(0);
	}
}
.page-titles {
	h2 {
		text-transform: capitalize;
	}
}
.heading {
	text-transform: capitalize;
}
.heading .divider-left,
.heading .divider-center {
	background-color: $second_color;
	background-image: none;
}

.main-form {
	max-width: 800px;
	margin: auto;
}
.contact-box {
	padding: 40px 20px;
	height: 255px;
	h4 {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	p:first-of-type {
		-webkit-line-clamp: 2;
		min-height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}

.news_desc {
	.certificates {
		// display: flex;
		img  {
			max-width: 120px;
			display: inline-block;
		}
	}
}

//video
section.video {
	padding: 70px 0;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 1;
	clear: both;
	height: 500px;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #0c0c0c;
		opacity: 0.4;
		z-index: -1;
	}

	.content {
		.video-box {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			text-align: center;
			overflow: hidden;
			line-height: 45px;
			@include transition(all ease 0.3s);

			&::before {
				position: absolute;
				content: "";
				left: 0px;
				top: 0px;
				right: 0px;
				bottom: 0px;
				z-index: 10;
				background-color: $main_color;
				opacity: 0.1;
			}

			.icon {
				position: relative;
				display: inline-block;
				position: absolute;
				width: 80px;
				height: 80px;
				line-height: 80px;
				left: 50%;
				top: 50%;
				z-index: 10;
				color: #000;
				font-size: 35px;
				text-align: center;
				border-radius: 50%;
				display: inline-block;
				margin-top: -35px;
				margin-left: -35px;
				@include transition(all ease 0.3s);
				outline-offset: 8px;
				background-color: #ffffff;

				i {

					&:hover {
						background-color: $dark_color;
						color: #fff;
					}
				}


				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					@include transform(translate(-50%, -50%));
					@include borderRadius(50%);
					@include boxshadow(0 0 0 0 rgba(255, 255, 255, .6));
					@include animation(ripple 3s infinite);
				}

				&::before {
					@include animationDelay(0.9s);
				}
			}
		}
	}
}

@-webkit-keyframes ripple {
	70% {
		box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
	}
}

@keyframes ripple {
	70% {
		box-shadow: 0 0 0 70px rgba(253, 167, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
	}
}

//video
footer {
	.footer_logo {
		width: auto;
	}
	.footer_panel {
		h3 {
			text-transform: capitalize;
		}
		.footer_logo + {
			p {
				-webkit-line-clamp: 4;
				min-height: 90px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
			}
		}
	}
	ul.latest_news li a {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.footer_logo > img {
	width: 100%;
	max-width: 200px;
}

@import "includes/style-rtl";
