extend index

block website_title
    title #{website_title} | خطأ

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/bread.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 خطأ 404
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") خطأ 404
    //breadcrumb

    //error 404
    div(class="error")
        div(class="container")
            div(class="text-center mx-auto") 
                h2 4
                    span(class="diff-color") 
                        span(class="num") 0
                    | 4
                p(class="lead text-gray-800 mb-4") صفحة غير موجودة
                a(href="index.html" class="btn back") الرئيسية
    //error 404