extend index

block website_title
    title #{website_title} | about us

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/breadcrumb.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 about us
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") about us
    //breadcrumb
    
    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="image")
                    img(class="img-fluid", data-src="images/about/abl.jpg", alt="image_alt")
                div(class="text")
                    div(class="main-title")
                        h2 Take it as simple is that,
                        p When you’re ready to try a new restaurant, you might ask your friends for recommendations, read a good review, or check out the menu before you spend your money and time there. If you enjoy your first meal, you’ll return again and again, but if your thoughts was less than great, then first visit will also be your last. Finding the suitable gym is a lot like finding new restaurant. A good gym will fit your own personality and motivate you to come back and exercise on a regular basis.
                    ul
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li Proin sit amet diam et elit dictum sodales.
                        li Suspendisse tempus felis a libero mollis ultrices.
                        li Duis quis odio quis dui sagittis laoreet.
                        li Suspendisse tempus felis a libero mollis ultrices.
                div(class="clearfix")
    //about page