extend index

block website_title
    title #{website_title} | about

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 about
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") about
    //breadcrumb
    
    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-6 col-md-12")
                        div(class="text")
                            div(class="main-title")
                                h2 Take it as simple is that,
                                p When you’re ready to try a new restaurant, you might ask your friends for recommendations, read a good review, or check out the menu before you spend your money and time there. If you enjoy your first meal, you’ll return again and again, but if your thoughts was less than great, then first visit will also be your last. Finding the suitable gym is a lot like finding new restaurant. A good gym will fit your own personality and motivate you to come back and exercise on a regular basis.
                                p When considering a particular gym, please set up a tour around everything inside that gym and bring out a list of questions you need answers for it.Try to set up this tour during the time you usually exercise. More often than not, the staff will give you a free 3 days pass so you can try out the equipment, classes, and nutrition Tips that match your body composition. Other than a free service, there are key criteria to consider before you sign a long-term contract. Keep these questions in mind as you begin your research.
                            ul
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                li Proin sit amet diam et elit dictum sodales.
                                li Suspendisse tempus felis a libero mollis ultrices.
                                li Duis quis odio quis dui sagittis laoreet.
                                li Suspendisse tempus felis a libero mollis ultrices.
                    div(class="col-lg-6 col-md-12")
                        div(class="image")
                            img(class="img-fluid", src="images/about/about-img1.jpg", alt="about-img")
                    div(class="col-lg-6 col-md-12")
                        div(class="image")
                            img(class="img-fluid", src="images/about/about-img2.jpg", alt="about-img")
                    div(class="col-lg-6")
                        div(class="text")
                            p When considering a particular gym, please set up a tour around everything inside that gym and bring out a list of questions you need answers for it.Try to set up this tour during the time you usually exercise. More often than not, the staff will give you a free 3 days pass so you can try out the equipment, classes, and nutrition Tips that match your body composition. Other than a free service, there are key criteria to consider before you sign a long-term contract. Keep these questions in mind as you begin your research.
                    div(class="col-12")
                        div(class="more-text")
                            div(class="sub-title")
                                h3 1. Location
                                p If you choose a gym on the other side of town, will you really go there consistently to work out? Actually, the gym located somewhere near your home, office or school is always the best to choose specially on the days you’re really tied in time. Having a gym close to you will make life easier on organizing your schedule. Second, the good workout is supposed to decrease down your stress level, not increase it.
                        div(class="more-text")
                            div(class="sub-title")
                                h3 2. Hours
                            p Is the gym open by the time you’ll workout? Well, some gyms are open 24 hours a day, others are closed on weekends and Whether you workout early morning or late at night, so make sure you fit your schedule, or you’ll be paying for something you can’t access.
                        div(class="more-text")
                            div(class="sub-title")
                                h3 3. Members
                            p Everyone responds differently to those around them. You should feel relaxed in your exercise environment and not embarrassed. Some gyms are mixed, while some are same-sex only. Others attract individuals of certain age groups. Will you be comfortable exercising around the current members? On your tour, does the gym seem overly crowded?
                        div(class="more-text")
                            div(class="sub-title")
                                h3 4. Staff
                            p The staff members of the gym should be supportive and helpful, ready to answer questions or to assist you if needed, trainers should be focused with each single person in workout area as spotting or correcting technical forms while making the most of your workouts. Before selecting a gym, ask about the certifications of the staff members. Are they qualified to guide you through your fitness goal? If you need a trainer, what are their qualifications and rates?
                        div(class="more-text")
                            div(class="sub-title")
                                h3 5. Cleanliness
                            p keep your eyes peeled. Make sure that house keeping are available to wipe off the equipment after each use. Also, look to see if staff members also meets this standard of hygiene. Get into the locker rooms and showers, especially if you’ll be using these often. Look at the toilets, sinks, and showers themselves to see that they’re properly maintained.
                        div(class="more-text")
                            div(class="sub-title")
                                h3 6. Equipment
                            p Take a good look around. Are there enough of the "popular" machines to go around, or do members have to wait in line to use them? Find out if there is a sign-up sheet or a time limit on cardio equipment. If you run on a treadmill for an hour, then a 30-minute time limit won’t really suit you. Make sure that there are a wide variety of machines, but don’t be intimidated by new ones. Notice whether or not instructions and pictures are posted on the machines, or if staff is available to help you. Be focused of the word (out-of-order) machines; this might be indicative of a poorly maintained gym.
                        div(class="more-text")
                            div(class="sub-title")
                                h3 7. Classes
                            p Ask to see the schedule of group exercise studio offered at the gym. Make sure that the classes you love to attend are offered at the time of your visit. Find out if you need to show up early to reserve a spot. High-energy classes like spinning might interest you. If group classes are the staple of your exercise program, find out if the gym charges extra for classes before you join. Decide whether or not these fees are affordable before you join, or you might be paying for a membership that you don’t really use.
                        div(class="more-text")
                            div(class="sub-title")
                                h3 8. fees
                            p Cost is probably the deciding factor when choosing a gym.Take a look at the payment schedule. Do you pay each month, or do you have to commit yourself to an entire year as a member? Can you cancel without penalty? And ultimately, does a gym fit into your budget? When it comes down to joining a fitness center, you may feel like you’re signing your life away—if you aren’t informed and prepared. Be picky! Shop around, talk to friends, and take the tours until you find a place that meets all or most of your expectations and needs at a reasonable price. After all, finding the right gym can be the key to a healthy lifestyle!- I hope I have added some beneficial points to you as most of the people really don't focus that much to these points and they end up gaining nothing at the end of the track- with all respect- Transformer Fitness Center-Sherif Fooshang.
    //about page

    //clients
    section(class="clients pt-0")
        div(class="container")
            div(class="content")
                div(class="clients-carousel owl-carousel owl-theme")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
    //clients