extend index

block website_title 
    title events | About

block home_block
    section(class="py-4 bg-light inner-header")
        div(class="container")
            div(class="row d-flex align-items-center")
                div(class="col-lg-6 col-md-6")
                    h4(class="mt-0 mb-0 text-dark")
                        | about
                div(class="col-lg-6 col-md-6 text-right")
                    div(class="breadcrumbs")
                        p(class="mb-0")
                            a(href="#")
                                i(class="icofont-ui-home")
                                | Home
                            | /
                            span about
    section(class="py-5 about-us bg-white")
        div(class="container")
            div(class="row")
                div(class="col-lg-7 text-left")
                    h2(class="mt-1 mb-1 text-dark") What is 
                        b &quot;Middle East Events&quot;
                        | ?
                    p(class="mb-3 mt-3 h5 text-dark")
                        | It is a long established fact that a reader will be distracted by
                        | the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                        | that it has a more.
                    p(class="text-dark")
                        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        | roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                        | Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                        | the more obscure Latin words, consectetur, from a Lorem Ipsum passage
                    div(class="mt-5 pb-3")
                        div(class="p-3 shadow rounded mission-vission")
                            div(class="icon") 
                                i(class="icofont-bulb-alt")
                            div(class="text")
                                h5(class="text-dark mt-0") Our Vision
                                p(class="text-dark mb-0")
                                    | When looking at its layout. The point of using Lorem Ipsum is
                                    | that it has a more-or-less normal distribution
                        div(class="p-3 shadow rounded mission-vission")
                            div(class="icon") 
                                i(class="icofont-bullseye")
                            div(class="text")
                                h5(class="text-dark mt-0") Our Mission
                                p(class="text-dark mb-0")
                                    | It is a long established fact that a of using Lorem Ipsum is
                                    | that it has a more-or-less normal distribution
                div(class="col-lg-5") 
                    div(class="video-icon") 
                        div(class="about-image") 
                            img(src="img/video-img-2.jpg", alt="")
                        div(class="about-video") 
                            div(class="about-icon") 
                                a(data-fancybox="" href="https://youtu.be/3018MySNqp0") 
                                    i(class="fas fa-play fa-2x")
    section(class="pt-5 pb-4 pbc-5 box-provide bg-light text-center")
        div(class="section-title text-center mb-4")
            h2(class="text-dark") Quick Facts
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        div(class="container mb-3")
            div(class="row")
                div(class="col-lg-4 col-md-4 px-5")
                    div(class="mt-4 mb-4")
                        i(class="fas fa-users fa-7x")
                    h2(class="mt-3 mb-2") 30 Million+
                    p CUSTOMERS
                div(class="col-lg-4 col-md-4 px-5")
                    div(class="mt-4 mb-4")
                        i(class="fas fa-globe-asia fa-7x")
                    h2(class="mb-2") 264
                    p COUNTRIES
                div(class="col-lg-4 col-md-4 px-5")
                    div(class="mt-4 mb-4")
                        i(class="fas fa-city fa-7x")
                    h2(class="mt-3 mb-2") 650+
                    p TOWNS AND CITIES
    section(class="py-5 bg-warning")
        div(class="section-title text-center mb-5 text-white")
            h2 Our Team
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        div(class="container")
            div(class="row mb-3")
                div(class="col-lg-4 col-md-4")
                    div(class="team-card text-center bg-white p-5 shadow rounded")
                        img(class="img-fluid mb-4 rounded-circle", src="img/avatar.jpg", alt="")
                        p(class="mb-4 over-text-3")
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            | Ipsum has been.
                        h6(class="mb-0 text-info") - Stave Martin
                        small Manager
                div(class="col-lg-4 col-md-4")
                    div(class="team-card text-center bg-white p-5 shadow rounded")
                        img(class="img-fluid mb-4 rounded-circle", src="img/avatar.jpg", alt="")
                        p(class="mb-4 over-text-3")
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            | Ipsum has been.
                        h6(class="mb-0 text-info") - Mark Smith
                        small Designer
                div(class="col-lg-4 col-md-4")
                    div(class="team-card text-center bg-white p-5 shadow rounded")
                        img(class="img-fluid mb-4 rounded-circle", src="img/avatar.jpg", alt="")
                        p(class="mb-4 over-text-3")
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            | Ipsum has been.
                        h6(class="mb-0 text-info") - Ryan Printz
                        small Marketing
