extend index

block website_title
    title #{website_title} | about

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/bg_crumb.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 about
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") about
    //breadcrumb

    //about page
    section(class="about-in-page")
        div(class="container")
            div(class="content")
                div(class="about-image")
                    img(class="img-fluid" data-src="images/about/img-about2.jpg" alt="")
                div(class="main-title")
                    span(class="top-title") About the company
                    h2 Middle East auction Saudi firm solidarity Commercial Registration No. 1010083418 issued from Riyadh .
                div(class="about-text clearfix")
                    p The company was founded on 11/04/1411 H corresponding to 17/11/1991 AD a leading company in the field of auctions unrestricted particular commodity .
                    p The company makes unrestricted auctions for the sale of equipment and machinery , cars and so a public auction .
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p The company was founded on 11/04/1411 H corresponding to 17/11/1991 AD a leading company in the field of auctions unrestricted particular commodity. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    p The company was founded on 11/04/1411 H corresponding to 17/11/1991 AD a leading company in the field of auctions unrestricted particular commodity. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    h2 about auction
                    h3 What can a global auction offer you?
                    p The company was founded on 11/04/1411 H corresponding to 17/11/1991 AD a leading company in the field of auctions unrestricted particular commodity. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    ul 
                        li Public Auctions: It is the fastest and most effective way in terms of liquidating the surplus of your equipment, machinery, goods and ........etc.
                        li Public Auctions: It is the simplest way to get rid of your redundant possessions, and it is the most useful and most beneficial means in all fields that are huge and are adopted by the largest international companies.
                        li Public auctions: will help you reduce your obligations because the sale of assets "machines, equipment, devices ... etc."
                        li It will be without any guarantees or warranties, meaning that it will be sold in its current condition and wherever it is.
                        li Public Auctions: It will help you reduce your burdens "expenditures and costs" because the items that will be sold will provide you with very fast cash flow.
                        li Public auctions: goods and merchandise are offered to the largest number of people interested in auctions, which results in a large number of buyers. This naturally creates a kind of competition, which makes the return greater.
                        li Public Auctions: It is the only real way to create a valuable commercial market, and any potential criticism on your part is almost non-existent, because the sale will take place through an open public auction, which preserves the owner's financial rights.
                        li Public Auctions: Sells and liquidates all types of offered merchandise.
                        li If you are interested in that and own goods and want to sell them. Contact us, we welcome you and we are pleased to provide advice and advice to you, in addition to the confidentiality of our dealings.
    //about page