extend index

block website_title
    title #{website_title} | blogs

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 blogs
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") blogs
    //breadcrumb
    
    //blogs page
    section(class="blogs-in-page")
        div(class="container")
            div(class="main-title")
                h2 our blogs
            div(class="content")
                div(class="row")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="blogs-box wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".1s")
                            div(class="image")
                                a(href="single-blog.html") 
                                    img(class="img-fluid" data-src="images/blogs/01.jpg" alt="")
                            div(class="details")
                                ul(class="meta")
                                    li(class="date")
                                        i(class="bi bi-calendar")
                                        | August 18, 2018
                                div(class="title")
                                    a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                div(class="btns")
                                    a(href="single-blog.html" class="btn details-btn") details
                    div(class="col-lg-4 col-md-6 box")
                        div(class="blogs-box wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".2s")
                            div(class="image")
                                a(href="single-blog.html") 
                                    img(class="img-fluid" data-src="images/blogs/02.jpg" alt="")
                            div(class="details")
                                ul(class="meta")
                                    li(class="date")
                                        i(class="bi bi-calendar")
                                        | August 18, 2018
                                div(class="title")
                                    a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                div(class="btns")
                                    a(href="single-blog.html" class="btn details-btn") details
                    div(class="col-lg-4 col-md-6 box")
                        div(class="blogs-box wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".3s")
                            div(class="image")
                                a(href="single-blog.html") 
                                    img(class="img-fluid" data-src="images/blogs/03.jpg" alt="")
                            div(class="details")
                                ul(class="meta")
                                    li(class="date")
                                        i(class="bi bi-calendar")
                                        | August 18, 2018
                                div(class="title")
                                    a(href="single-blog.html") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                div(class="btns")
                                    a(href="single-blog.html" class="btn details-btn") details
                //pagination
                nav(aria-label="Page navigation" class="navigation")
                    ul(class="pagination")
                        li(class="page-item")
                            a(class="page-link arrow", href="#!", aria-label="Previous")
                                span(aria-hidden="true") &laquo;
                        li(class="page-item active")
                            a(class="page-link", href="#!") 1
                        li(class="page-item")
                            a(class="page-link", href="#!") 2
                        li(class="page-item")
                            a(class="page-link", href="#!") 3
                        li(class="page-item")
                            a(class="page-link", href="#!") 4
                        li(class="page-item")
                            a(class="page-link", href="#!") 5
                        li(class="page-item")
                            a(class="page-link", href="#!") 6
                        li(class="page-item")
                            a(class="page-link", href="#!") 7
                        li(class="page-item")
                            a(class="page-link", href="#!") 8
                        li(class="page-item")
                            a(class="page-link arrow", href="#!", aria-label="Next")
                                span(aria-hidden="true") &raquo;
    //blogs page