extend index
block website_title 
    title  company details  
block index 
    section#main-banner-page(class="position-relative page-header section-nav-smooth parallax gallery-detail-header")
        div(class="overlay overlay-dark opacity-6 z-index-1")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 offset-lg-2")
                    div(class="page-titles whitecolor text-center padding_top padding_bottom")
                        h2(class="font-bold") company details
                        h3(class="font-light pt-2") Aljazea Ductile Fitting Factory 
            div(class="gradient-bg title-wrap")
                div(class="row")
                    div(class="col-lg-12 col-md-12 whitecolor")
                        h3(class="float-left") company details
                        ul(class="breadcrumb top10 bottom10 float-right")
                            li(class="breadcrumb-item hover-light")
                                a(href="index.html") Home
                            li(class="breadcrumb-item hover-light") company details
    section#our-blog(class="bglight padding_top padding_bottom_half")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 col-md-7")
                    div(class="news_item shadow-equal")
                        div(class="image")
                            img(src="logistic/images/blogfull4.jpg", alt="Latest News", class="img-responsive")
                        div(class="news_desc")
                            h3(class="text-capitalize font-normal darkcolor") Aljazea Ductile Fitting Factory 
                            ul(class="meta-tags top20 bottom20")
                                li
                                    a(href="#.")
                                        i(class="fas fa-calendar-alt")
                                        | Feb 14
                            p(class="bottom35") In line with urban and cultural development in the Kingdom and the region as well as the vision Aljazea industrial to diversify its Industrial portfolio, we have established Aljazea construction chemical plant (JCC) in 2007 for the produc- tion and manufacture of construction chemicals using the best equipment and industrial production at the highest level of technology and the of international standards, so as to meet the needs of the local and international markets. The availability of raw materials economically in the Kingdom has helped to estab- lish this kind of industries. Though, due to the market urgent needs for products contend with imported products we have established Aljazea construction chemical plant (JCC), on the basis of providing the required levels of quality with competitive price. The factory has achieved rapid growth to become one of the most important producers of construction chemicals and a major produc- er of concrete additives, waterproofing systems, epoxy paints and cement, as well as adhesives and glue, beside the concrete injection materials. 
                            p(class="bottom35") The company’s products that have gained excellent reputation as a result of the high quality and continuous development to production inputs are: • Special- ized hospitals, medical centers, water tanks paints. • Chemical additives to improve the concrete. • Chemical additives to improve the final surface treat- ment of concrete. • Chemical additives for the treatment of concrete cracks. • Chemical additives for flooring factories to give it strength and high hardness. • Chemical products specialized in iron paint that protects it and treatment it from the rust. • Chemical products for the treatment and prevention of leakage in permeability reservoirs and swimming pools. Special material for the treat- ment of salts and waterproofing. 
                            p(class="darkcolor") Aljazea construction chemical plant (1CC) is committed to institutional and professional vision, which helped us to achieve the highest levels of customer satisfaction by offering products and services of with high level of efficiency and apply best manufacturing practices with the highest international stan- dards , as a result the factory has been qualified the for Total Quality Certificate (ISO 9001: 2000 ). 
                            ul(class="rounded heading_space text-left")
                                li Aljazea construction chemical plant (1CC) is committed to institutional 
                                li Special material for the treat- ment of salts and waterproofing. 
                                li Special- ized hospitals, medical centers, water tanks paints.
                                li Chemical products specialized in iron paint that protects
                                li achieve the highest levels of customer satisfaction by offering products and services of with high level of efficiency and apply best
                            //certificates
                            div(class="certificates")
                                div(class="heading-title heading_small")
                                    h4(class="text-capitalize darkcolor bottom35") certificates:
                                img(src="logistic/images/cert/01.png", class="img-responsive" alt="")
                                img(src="logistic/images/cert/02.png", class="img-responsive" alt="")
                                img(src="logistic/images/cert/03.png", class="img-responsive" alt="")
                            hr 
                            //contact info
                            div(class="row")
                                div(class="col-md-6 col-sm-6 mb-4")
                                    div(class="contact-meta px-2")
                                        div(class="heading-title heading_small")
                                            h4(class="darkcolor font-normal mb-3") Our contacts:
                                        p(class="bottom5") phone: 
                                            a(href="tel:+966 22 2222 222") +966 11 1111 111
                                        p(class="bottom5") phone: 
                                            a(href="tel:+966 22 2222 222") +966 22 2222 222
                                        p(class="bottom5") fax: 01115412451
                                        p(class="bottom5") email: 
                                            a(href="mailto:polpo@MegaOneagency.co.uk") test@aljazea.com
                                        p(class="bottom5") work: Sun-Fri: 9am-5pm
                                        p(class="bottom5") PO box: 3323552 Riyadh 11125448 
                                        p(class="bottom5") website: test@test.com
                                div(class="col-md-6 col-sm-6 mb-4")
                                    div(class="contact-meta px-2")
                                        div(class="heading-title heading_small")
                                            h4(class="darkcolor font-normal mb-3") Our Locations:
                                        p(class="bottom5") Address: Kingdom Saudi Arabia
                                        p(class="bottom5") Sun-Fri: 9am-5pm
                                div(class="col-12")
                                    ul(class="social-icons mt-4 mb-4 mb-sm-0 wow fadeInUp no-border darkcolor", data-wow-delay="300ms")
                                        li
                                            a(href="javascript:void(0)", class="facebook")
                                                i(class="fab fa-facebook-f")
                                        li
                                            a(href="javascript:void(0)", class="twitter")
                                                i(class="fab fa-twitter")
                                        li
                                            a(href="javascript:void(0)", class="linkedin")
                                                i(class="fab fa-linkedin-in")
                                        li
                                            a(href="javascript:void(0)", class="insta")
                                                i(class="fab fa-instagram")
                                        li
                                            a(href="javascript:void(0)", class="whatsapp")
                                                i(class="fab fa-whatsapp")
                                        li
                                            a(href="javascript:void(0)")
                                                i(class="far fa-envelope")
                            hr
                            div(class="post-comment")
                                h4(class="text-capitalize darkcolor bottom35") contact us now:
                            form#post-a-comment(class="getin_form")
                                div(class="row")
                                    div(class="col-md-6 col-sm-6")
                                        div(class="form-group bottom35")
                                            label(for="first_name1", class="d-none")
                                            input(class="form-control", type="text", placeholder="Name", required, id="first_name1")
                                    div(class="col-md-6 col-sm-6")
                                        div(class="form-group bottom35")
                                            label(for="email1", class="d-none")
                                            input#email1(class="form-control", type="email", placeholder="Email", required)
                                    div(class="col-md-12 col-sm-12")
                                        div(class="form-group bottom35")
                                            label(for="message", class="d-none")
                                            textarea#message(class="form-control", placeholder="Message")
                                    div(class="col-sm-12 bottom5 text-sm-left text-center")
                                        button(type="submit", class="button gradient-btn") submit request
                div(class="col-lg-4 col-md-5")
                    aside(class="sidebar whitebox mt-5 mt-md-0")
                        div(class="widget shadow-equal heading_space_half")
                            h4(class="text-capitalize darkcolor bottom20") search By Keyword
                            form(class="widget_search")
                                div(class="input-group")
                                    label(for="searchInput", class="d-none")
                                    input#searchInput(type="search", class="form-control", placeholder="search...", required)
                                    button(type="submit", class="input-group-addon")
                                        i(class="fa fa-search")
                        div(class="widget shadow-equal heading_space_half")
                            h4(class="text-capitalize darkcolor bottom20") All Companies
                            ul(class="webcats")
                                li
                                    a(href="#.") Aljazea Construction Chemical Plant [JCC]  
                                li
                                    a(href="#.") Effective Power Factory  
                                li
                                    a(href="#.") Aljazea Polyethylene Pips Factory  
                                li
                                    a(href="#.") Aljazea Construction Chemical Plant [JCC]  
                                li
                                    a(href="#.") Effective Power Factory  
                                li
                                    a(href="#.") Aljazea Polyethylene Pips Factory 