extend index
block website_title 
    title companies   
block index
    section#main-banner-page(class="position-relative page-header service-detail-header section-nav-smooth parallax")
        div(class="overlay overlay-dark opacity-7 z-index-1")
        div(class="container")
            div(class="row")
                div(class="col-lg-8 offset-lg-2")
                    div(class="page-titles whitecolor text-center padding_top padding_bottom")
                        h2(class="font-bold") companies
                        h2(class="font-xlight") Elevate Your Business
            div(class="gradient-bg title-wrap mt-n5")
                div(class="row")
                    div(class="col-lg-12 col-md-12 whitecolor")
                        h3(class="float-left") companies
                        ul(class="breadcrumb top10 bottom10 float-right")
                            li(class="breadcrumb-item hover-light")
                                a(href="index.html") Home
                            li(class="breadcrumb-item hover-light") companies
    section#our-services(class="padding bglight")
        div(class="container")
            div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms")
                h2(class="heading bottom30 darkcolor font-light2") Our companies
                    span(class="divider-center")
                div(class="col-md-8 offset-md-2")
                    p(class="mb-n3") Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?
            div(class="services-container")
                div(class="row")
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="logistic/images/companies/07.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") Aljazea Ductile Fitting Factory 
                                p(class="bottom15")
                                    | In line with urban and cultural development in the Kingdom and the region as well as the vision Aljazea industrial to diversify its Industrial portfolio, we have established Aljazea construction chemical plant (JCC) in 2007 for the produc- tion and manufacture of construction chemicals 
                                a(href="comp-details.html", class="button-readmore") Learn More
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="logistic/images/companies/05.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") Aljazea Construction Chemical Plant [JCC] 
                                p(class="bottom15")
                                    | In line with urban and cultural development in the Kingdom and the region as well as the vision Aljazea industrial to diversify its Industrial portfolio, we have established Aljazea construction chemical plant (JCC) in 2007 for the produc- tion and manufacture of construction chemicals using the best equipment and industrial production at the highest level of technology and the of international standards
                                a(href="comp-details.html", class="button-readmore") Learn More
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="logistic/images/companies/02.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") Effective Power Factory 
                                p(class="bottom15")
                                    | Effective power for electrical panels and transformers Co. (EPEPTCO) is a Saudi owned Company, which was granted License by the %100 Ministry of Industry and Electricity in the year 2014 to manufacture abd assemble L.V Switchgears, Industrial Automation, including SCADA, BMS and instru- ment control systems. 
                                a(href="comp-details.html", class="button-readmore") Learn More
                    div(class="col-lg-4 col-md-6")
                        div(class="services-main")
                            div(class="image bottom10")
                                div(class="image")
                                    img(alt="SEO", src="logistic/images/companies/09.png")
                                div(class="overlay")
                                    a(href="comp-details.html", class="overlay_center border_radius")
                                        i(class="fa fa-eye")
                            div(class="services-content brand")
                                h3(class="bottom10 darkcolor")
                                    a(href="comp-details.html") Aljazea Polyethylene Pips Factory 
                                p(class="bottom15")
                                    | Water is considered a vital to the welfare of society in general and steady economic growth of all countries in particular. Therefore, the water supply for people requires the establishment of an effective distribution network to ensure that it has been delivered to the right place. 
                                a(href="comp-details.html", class="button-readmore") Learn More
                div(class="row")
                    div(class="col-sm-12")
                        // Pagination
                        ul(class="pagination justify-content-center top55 mb-4 mb-md-0 mb-sm-3")
                            li(class="page-item")
                                a(class="page-link disabled", href="#.")
                                    i(class="fa fa-angle-left")
                            li(class="page-item active")
                                a(class="page-link", href="#.") 1
                            li(class="page-item")
                                a(class="page-link", href="#.") 2
                            li(class="page-item")
                                a(class="page-link", href="#.") 3
                            li(class="page-item")
                                a(class="page-link", href="#.")
                                    i(class="fa fa-angle-right")