extends index

block website_title
    title #{website_title} | contact

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 contact
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") Home
                    li(class="breadcrumb-item active", aria-current="page") contact
    //breadcrumb

    //contact
    section(class="contact")
        div(class="container")
            div(class="info-area")
                div(class="row")
                    div(class="col-md-4 col-lg-4")
                        div(class="info-box")
                            i(class="bi bi-envelope") 
                            h4 email
                            a(href="mailto:") mail@yahoo.com
                    div(class="col-md-4 col-lg-4")   
                        div(class="info-box")
                            i(class="bi bi-telephone")
                            h4 phone
                            a(href="tel:" dir="ltr") +201988209222
                    div(class="col-md-4 col-lg-4")
                        div(class="info-box")
                            i(class="bi bi-pin-map")
                            h4 location
                            span 6th of October city
            div(class="form-area")
                div(class="main-title")
                    h2 contact us now!
                        span(class="line")
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat consequuntur quia iure sed, suscipit nihil libero dignissimos fuga debitis
                div(class="contact-box")
                    div(class="form-content")
                        form(class="g-3 needs-validation", action="" novalidate)
                            div(class="row")
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        input(type="text", class="form-control", placeholder="Name" required)
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        input(type="number", class="form-control", placeholder="Number" required)
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        div(class="input-group has-validation")
                                            input(type="email", class="form-control", placeholder="Email" required)
                                            div(class="invalid-tooltip")
                                                | email error
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        textarea(rows="6" placeholder="Type your message" class="form-control" required)
                                div(class="col-lg-12 text-center")
                                    div(class="form-group position-relative")
                                        button(class="btn btn-danger hvr-sweep-to-top" type="submit") Send
                                div(class="col-lg-12")
                                    div(class="text-center")
                                        p(class="successfully") Message Sent Successfully 
    //contact 