extend index 

block website_title 
    title Events | Contact
    
block home_block
    div(class="cover-pic")
        img(src="img/cover.jpg", class="img-fluid", alt="...")
    div(class="container mb-4 pb-2 list-bp")
        div(class="row")
            div(class="col-xl-12 col-lg-12")
                div(class="bg-white info-header eheader shadow rounded mb-4")
                    div(class="d-flex align-items-center justify-content-between py-3 px-4 border-bottom")
                        div(class="eheader-title")
                            h3(class="text-gray-900 mb-1 mt-0 font-weight-bold") The 3rd Saudi Conference on Nutrition among Medicine & Life 
                            p(class="mb-0")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-fw fa-sm mr-1")
                                    | Saudi, Qaseem
                        div(class="eheader-btn")
                            //- a(href="#", class="d-sm-inline-block btn btn-primary mr-2 shadow-sm")
                            //-     i(class="fas fa-share-alt")
                            a(href="payment.html", class="d-sm-inline-block btn btn-danger shadow-sm")
                                | Subscribe 250 S.R
                    div(class="d-flex align-items-center justify-content-between py-3 px-4")
                        div
                            p(class="mb-0 text-gray-900")
                                i(class="fas fa-calendar-alt fa-sm fa-fw mr-1")
                                | Sun 15 Dec at 4:00 PM
                        div
                            div(class="tick", data-did-init="handleTickInit")
                                div(class="tick-content" data-repeat="true", data-layout="horizontal center fit", data-transform="preset(d, h, m, s) -> delay")
                                    div(class="tick-group")
                                        div(data-key="value", data-repeat="true", data-transform="pad(00) -> split -> delay")
                                            span(data-view="flip")
                                        //- span(data-key="label", data-view="text", class="tick-label")
                        div(class="d-flex")
                            a(href="#", class="btn btn-sm btn-primary btn-circle")
                                i(class="fab fa-facebook-f")
                            a(href="#", class="btn btn-sm btn-danger btn-circle")
                                i(class="fab fa-youtube")
                            a(href="#", class="btn btn-sm btn-warning btn-circle")
                                i(class="fab fa-snapchat-ghost")
                            a(href="#", class="btn btn-sm btn-info btn-circle")
                                i(class="fab fa-twitter")
        div(class="row")
            div(class="col-xl-3 col-lg-3")
                div(class="bg-white p-3 widget shadow rounded mb-4 event-detals-scroll")
                    h3(class="h6 mb-2 mt-0 font-weight-bold text-gray-900") Lecturers 
                        span(class="small") (The first day)
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Maha Bushra
                                div(class="small text-gray-600") Dysphagia
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Maha Bushra
                                div(class="small text-gray-600") Dysphagia
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Maha Bushra
                                div(class="small text-gray-600") Dysphagia
                    //accordion lecturers area
                    div(class="accordion accordion-lecturers" id="accordionLecturers1")
                        div(class="card")
                            div(class="card-header" id="accordionHeading1")
                                h2(class="mb-0")
                                    button(class="btn btn-danger btn-link", type="button", data-toggle="collapse", data-target="#collapseLecturers1", aria-expanded="true", aria-controls="collapseLecturers1")
                                        i(class="fas fa-plus fa-sm")
                            div(class="collapse", id="collapseLecturers1" aria-labelledby="accordionHeading1", data-parent="#accordionLecturers1")
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                div(class="bg-white p-3 widget shadow rounded mb-4 event-detals-scroll")
                    h3(class="h6 mb-2 mt-0 font-weight-bold text-gray-900") Lecturers 
                        span(class="small") (The first day)
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Maha Bushra
                                div(class="small text-gray-600") Dysphagia
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Maha Bushra
                                div(class="small text-gray-600") Dysphagia
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Maha Bushra
                                div(class="small text-gray-600") Dysphagia
                                
                    //accordion lecturers area 2
                    div(class="accordion accordion-lecturers" id="accordionLecturers2")
                        div(class="card")
                            div(class="card-header" id="accordionHeading2")
                                h2(class="mb-0")
                                    button(class="btn btn-danger btn-link", type="button", data-toggle="collapse", data-target="#collapseLecturers2", aria-expanded="true", aria-controls="collapseLecturers2")
                                        i(class="fas fa-plus fa-sm")
                            div(class="collapse", id="collapseLecturers2" aria-labelledby="accordionHeading2", data-parent="#accordionLecturers2")
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                                div(class="artist-list mb-3")
                                    a(class="d-flex align-items-center", href="#")
                                        div(class="dropdown-list-image mr-3")
                                            img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                            div(class="status-indicator bg-success")
                                        div(class="font-weight-bold")
                                            div(class="text-truncate") Dr. Maha Bushra
                                            div(class="small text-gray-600") Dysphagia
                div(class="bg-white p-3 widget shadow rounded mb-4 event-detals-scroll")
                    h3(class="h6 mb-2 mt-0 font-weight-bold text-gray-900") Lecturers 
                        span(class="small") (The second day)
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Dr. Hammam Kandil
                                div(class="small text-gray-600") Short Bowel Syndrome
                    div(class="artist-list mb-3")
                        a(class="d-flex align-items-center", href="#")
                            div(class="dropdown-list-image mr-3")
                                img(class="rounded-circle", src="img/avatar.jpg", alt="")
                                div(class="status-indicator bg-success")
                            div(class="font-weight-bold")
                                div(class="text-truncate") Ms. Razaz Garout
                                div(class="small text-gray-600") Metabolic Disease
                div(class="bg-white p-3 widget shadow rounded mb-4")
                    h3(class="h6 mb-3 mt-0 font-weight-bold text-gray-900") Rate
                    div(class="artist-list")
                        div(class="font-weight-bold")
                            div(class="rating" data-rate-value="2")
                            input(type="text" class="rating_input" value="")
            div(class="col-xl-6 col-lg-6")
                div(class="bg-white p-3 widget shadow rounded mb-4")
                    ul#myTab(class="nav nav-tabs", role="tablist")
                        li(class="nav-item")
                            a#home-tab(class="nav-link active", data-toggle="tab", href="#home", role="tab", aria-controls="home", aria-selected="true") Summary
                        li(class="nav-item")
                            a#profile-tab(class="nav-link", data-toggle="tab", href="#profile", role="tab", aria-controls="profile", aria-selected="false")
                                | Date And Time
                        li(class="nav-item")
                            a#contact-tab(class="nav-link", data-toggle="tab", href="#contact", role="tab", aria-controls="contact", aria-selected="false") FAQ
                    #myTabContent(class="tab-content")
                        #home(class="tab-pane fade show active", role="tabpanel", aria-labelledby="home-tab")
                            h6(class="mt-0 mb-3") The 3rd Saudi Conference on Nutrition among Medicine & Life
                            p Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year&apos;s Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.
                            p Join us as we ring in the New Year with a dazzling display over Boston Harbor. Public viewing is free and available from the Harborwalk of these suggested viewing locations:
                            ul
                                li Christopher Columbus Park, North End
                                li Fan Pier, Seaport District
                                li East Boston Harborwalk
                            p(class="mb-2") The show will begin promptly at midnight.
                            p(class="mb-0") Register here for a reminder and updates about the harbor fireworks and other waterfront public programs as they become available. Be the first to be notified for popular waterfront New Year&apos;s Eve public activities.

                            div(class="artist-list mt-3 mb-3")
                                div(class="d-flex align-items-center")
                                    div(class="dropdown-list-image mr-2")
                                        img(class="rounded-circle", src="https://me-events.me/storage/avatar_674-1630927575.jpg", alt="Professor Lex Doyle")
                                        div(class="status-indicator bg-success")
                                    div(class="font-weight-bold")
                                        div(class="text-truncate")  
                                            h6(class="mt-0 mb-3") this is title
                                p(class="mt-2") Join us as we ring in the New Year with a dazzling display over Boston Harbor. Public viewing is free and available from the Harborwalk of these suggested viewing locations:

                            //video 
                            div(class="video")
                                div(class="embed-responsive embed-responsive-16by9")
                                    iframe(class="embed-responsive-item", src="https://www.youtube.com/embed/mkggXE5e2yk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        #profile(class="tab-pane fade", role="tabpanel", aria-labelledby="profile-tab")
                            h5(class="mt-0 mb-3") Mon, Dec 31, 2018, 11:59 PM –
                            p Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year&apos;s Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.
                            h5(class="mt-0 mb-3")
                                | Tue, Jan 1, 2019, 12:19 AM EST
                            p Boston Harbor Now in partnership with the Friends of Christopher Columbus Park, the Wharf District Council and the City of Boston is proud to announce the New Year&apos;s Eve Midnight Harbor Fireworks! This beloved nearly 40-year old tradition is made possible by the generous support of local waterfront organizations and businesses and the support of the City of Boston and the Office of Mayor Marty Walsh.
                        #contact(class="tab-pane fade", role="tabpanel", aria-labelledby="contact-tab")
                            #accordionExample(class="accordion")
                                div(class="card")
                                    #headingOne(class="card-header")
                                        h2(class="mb-0")
                                            button(class="btn btn-link", type="button", data-toggle="collapse", data-target="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
                                                | Collapsible Group Item #1
                                    #collapseOne(class="collapse show", aria-labelledby="headingOne", data-parent="#accordionExample")
                                        div(class="card-body")
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                                div(class="card")
                                    #headingTwo(class="card-header")
                                        h2(class="mb-0")
                                            button(class="btn btn-link collapsed", type="button", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo")
                                                | Collapsible Group Item #2
                                    #collapseTwo(class="collapse", aria-labelledby="headingTwo", data-parent="#accordionExample")
                                        div(class="card-body")
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
                                div(class="card")
                                    #headingThree(class="card-header")
                                        h2(class="mb-0")
                                            button(class="btn btn-link collapsed", type="button", data-toggle="collapse", data-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree")
                                                | Collapsible Group Item #3
                                    #collapseThree(class="collapse", aria-labelledby="headingThree", data-parent="#accordionExample")
                                        div(class="card-body")
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
            div(class="col-xl-3 col-lg-3")
                div(class="bg-white p-3 widget shadow rounded mb-4 event-info")
                    h3(class="h6 mb-3 mt-0 font-weight-bold text-gray-900") Information
                    p
                        b Type: 
                        | Include
                    p
                        b Section: 
                        | Conference
                    p
                        b Country: 
                        | Saudi
                    p
                        b City: 
                        | Qaseem
                    p
                        b Place: 
                        | Hotel
                    p
                        b Categories: 
                        span(class="badge badge-danger text-white") Doctors
                        span(class="badge badge-danger text-white") Students
                        span(class="badge badge-danger text-white") Doctors
                        span(class="badge badge-danger text-white") Students
                        span(class="badge badge-danger text-white") Doctors
                        span(class="badge badge-danger text-white") Students
                        span(class="badge badge-danger text-white") Doctors
                        span(class="badge badge-danger text-white") Students
                    p
                        b Hours: 
                        | Include
                    p
                        b From: 
                        | Include
                    p
                        b to: 
                        | Include
                    p
                        b Subscribe Fees: 
                        | Include
                    //- p(class="text-gray-600")
                    //-     i(class="fas fa-mobile fa-fw")
                    //-     | +00 12354 89564
                    //- p(class="mb-0 text-gray-600")
                    //-     i(class="fas fa-envelope-open fa-fw")
                    //-     a(href="", class="") email@email.com
                div(class="bg-white p-3 widget shadow rounded mb-4 text-center")
                    a(href="payment.html", class="d-sm-inline-block btn btn-danger shadow-sm")
                        | enter to event
