extend index

block website_title
    title #{website_title} | تمويل السيارات

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/offer-bg.webp')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 شركاء التمويل
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") شركاء التمويل
    //breadcrumb

    //finance
    section(class="finance")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/01.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/02.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/03.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/04.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/05.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/06.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/07.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/08.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/09.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/10.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/11.jpg" class="img-fluid")
                    div(class="col-lg-3 col-md-6")
                        div(class="box")
                            div(class="image")
                                img(data-src="images/finance/12.jpg" class="img-fluid")
                div(class="finance-btn")
                    a(href="form-request.html" class="btn") طلب سعر
    //finance