doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="preconnect", href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Tajawal:wght@500;700&amp;display=swap", rel="stylesheet")
		block website_title
			title Events | Home
		link(rel="icon", type="image/png", href="img/favicon.png")
		include ./includes/styles
	body
		block hedaer_block
			// Start of header section
			include ./includes/header
			//End of header section
			
		block home_block
			include ./includes/home
		
		block footer_block
			//Start of footer  section
			include ./includes/footer
			//End of footer  section
		
		// JS library
		include ./includes/scripts