doctype html
html(lang="en")
    head
        // Meta Tags
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1, shrink-to-fit=no", name="viewport")
        // Author
        meta(name="author", content="Themes Industry")
        // description
        meta(name="description", content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose studio and portfolio HTML5 template with 8 ready home page demos.")
        // keywords
        meta(name="keywords", content="Creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, studio, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, studio, masonry, grid, faq")
        // Page Title
        block website_title
            title Aljazea
        include includes/sytles
    body
        // PreLoader
        div(class="loader")
            div(class="loader-spinner")
        // PreLoader Ends
        // header
        include includes/header
        block index
            section#main-banner-area(class="position-relative")
                div(id="revo_main_wrapper", class="rev_slider_wrapper fullwidthbanner-container m-0 p-0 bg-dark", data-alias="classic4export", data-source="gallery")
                    // START REVOLUTION SLIDER 5.4.1 fullwidth mode
                    div(id="rev_main", class="rev_slider fullwidthabanner white", data-version="5.4.1")
                        ul
                            // SLIDE 1
                            li(data-index="rs-01", data-transition="fade", data-slotamount="default", data-easein="Power100.easeIn", data-easeout="Power100.easeOut", data-masterspeed="2000", data-fsmasterspeed="1500", data-param1="01")
                                // MAIN IMAGE
                                img(src="logistic/images/banner1-1.jpg", alt="", data-bgposition="center center", data-bgfit="cover", data-bgrepeat="no-repeat", data-bgparallax="10", class="rev-slidebg", data-no-retina)
                                // LAYER NR. 1
                                div(class="overlay overlay-dark opacity-6")
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-130','-130','-110','-80']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") We Provide Best
                                // LAYER NR. 2
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-70','-70','-50','-20']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-bold whitecolor text-center") Logistic Services
                                // LAYER NR. 3
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-10','-10','10','40']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1500", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") In World Wide
                                // LAYER NR. 4
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['40','40','60','90']", data-width="none", data-height="none", data-whitespace="nowrap", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="2000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h4(class="whitecolor font-xlight text-center") The Best Multipurpos Template in Market
                            // SLIDE 2
                            li(data-index="rs-02", data-transition="fade", data-slotamount="default", data-easein="Power3.easeInOut", data-easeout="Power3.easeInOut", data-masterspeed="2000", data-fsmasterspeed="1500", data-param1="02")
                                // MAIN IMAGE
                                img(src="logistic/images/banner1-2.jpg", alt="", data-bgposition="center center", data-bgfit="cover", data-bgrepeat="no-repeat", data-bgparallax="10", class="rev-slidebg", data-no-retina)
                                // LAYER NR. 1
                                div(class="overlay overlay-dark opacity-7")
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-130','-130','-110','-80']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") Doing It In
                                // LAYER NR. 2
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-70','-70','-50','-20']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-bold whitecolor text-center") The Right Way
                                // LAYER NR. 3
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-10','-10','10','40']", data-width="none", data-height="none", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="1500", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h2(class="text-capitalize font-xlight whitecolor text-center heading-title-small") Give Success
                                // LAYER NR. 4
                                div(class="tp-caption tp-resizeme", data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['40','40','60','90']", data-width="none", data-height="none", data-whitespace="nowrap", data-type="text", data-textAlign="['center','center','center','center']", data-responsive_offset="on", data-start="2000", data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]')
                                    h4(class="whitecolor font-xlight text-center") The Best Multipurpos Template in Market
                ul(class="social-icons-simple revicon white")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="facebook")
                            i(class="fab fa-facebook-f")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="twitter")
                            i(class="fab fa-twitter")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="linkedin")
                            i(class="fab fa-linkedin-in")
                    li(class="d-table")
                        a(href="javascript:void(0)", class="insta")
                            i(class="fab fa-instagram")
            // Main Slider ends
            // about us
            section#about(class="single-feature padding mt-n5")
                div(class="container")
                    div(class="row d-flex align-items-center")
                        div(class="col-lg-6 text-justify wow fadeInLeft", data-wow-delay="300ms")
                            div(class="heading-title mb-4")
                                h2(class="darkcolor font-normal bottom30") About
                                    span(class="defaultcolor") us
                            p(class="bottom35") Through the effort and continuous hard work of its team, Aljazea Industrial was able to achieve a quantum leap at the level of providing products and services con- formed to the highest quality and efficiency standards that are comparable to their counterparts from major international companies enhancing its position as a lead- ing industrial and economic group that enjoys reliability and excellence.
                            a(href="about.html", class="button gradient-btn mb-sm-0 mb-4") Learn More
                        div(class="col-lg-6 wow fadeInRight", data-wow-delay="300ms")
                            div(class="image")
                                img(alt="SEO", src="logistic/images/awesome-feature.jpg")
            // about us ends
            // WOrk Process
            section#our-process(class="padding bgprimary")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 col-sm-12 text-center")
                            div(class="heading-title whitecolor wow fadeInUp", data-wow-delay="300ms")
                                //- span Quisque tellus risus, adipisci 
                                h2(class="font-normal") Our Work Process 
                    div(class="row")
                        ul(class="process-wrapp")
                            li(class="whitecolor wow fadeIn", data-wow-delay="300ms")
                                span(class="pro-step bottom20") 01
                                p(class="fontbold bottom20") World Wide
                                p(class="mt-n2 mt-sm-0") Quisque tellus risus, adipisci viverra bibendum urna.
                            li(class="whitecolor wow fadeIn", data-wow-delay="400ms")
                                span(class="pro-step bottom20") 02
                                p(class="fontbold bottom20") Shipping
                                p(class="mt-n2 mt-sm-0") Quisque tellus risus, adipisci viverra bibendum urna.
                            li(class="whitecolor wow fadeIn active", data-wow-delay="500ms")
                                span(class="pro-step bottom20") 03
                                p(class="fontbold bottom20") Local Cargo
                                p(class="mt-n2 mt-sm-0") Quisque tellus risus, adipisci viverra bibendum urna.
                            li(class="whitecolor wow fadeIn", data-wow-delay="600ms")
                                span(class="pro-step bottom20") 04
                                p(class="fontbold bottom20") Air Freight
                                p(class="mt-n2 mt-sm-0") Quisque tellus risus, adipisci viverra bibendum urna.
                            li(class="whitecolor wow fadeIn", data-wow-delay="700ms")
                                span(class="pro-step bottom20") 05
                                p(class="fontbold bottom20") Ware Houses
                                p(class="mt-n2 mt-sm-0") Quisque tellus risus, adipisci viverra bibendum urna.
            // WOrk Process ends
            // Mobile Apps
            section#our-apps(class="padding")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                            h2(class="heading bottom30 darkcolor font-light2")
                                span(class="font-weight-normal") Our 
                                | value
                                span(class="divider-center")
                    #app-feature(class="row d-flex align-items-center")
                        div(class="col-lg-12 col-md-12 col-sm-12")
                            div(class="text-center mt-3 mb-5")
                                div(class="feature-item mt-1 wow fadeInRight", data-wow-delay="200ms")
                                    div(class="icon")
                                        i(class="fas fa-truck-moving")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") The Development
                                        p with our responsible leadership morals, and our clear vision on the need to achieve our goals, we will constantly improve our performance, and continue to improve operational processes through the rationalization of costs and process optimization. 
                        div(class="col-lg-4 col-md-4 col-sm-12")
                            div(class="text-center")
                                div(class="feature-item mt-1 wow fadeInLeft", data-wow-delay="200ms")
                                    div(class="icon")
                                        i(class="fas fa-cog")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") Focus on Results
                                        p To take advantage of the resources to achieve the best results by Expand capacity in certain products and add new products while working on entering into selected new markets within Saudi Arabia as well as within the Middle East.
                                div(class="feature-item mt-5 wow fadeInLeft", data-wow-delay="250ms")
                                    div(class="icon")
                                        i(class="fas fa-edit")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") Ethics and morals
                                        p We will continue to deal with customers, partners, employees and the authorities with the highest levels of integrity andrespectand to reflect the values of the founders
                        div(class="col-lg-4 col-md-4 col-sm-12 text-center")
                            div(class="image feature-item d-inline-block wow fadeIn my-5 my-md-0", data-wow-delay="400ms")
                                img(src="logistic/images/mobile.png", alt="mobile phones")
                        div(class="col-lg-4 col-md-4 col-sm-12")
                            div(class="text-center")
                                div(class="feature-item mt-1 wow fadeInRight", data-wow-delay="200ms")
                                    div(class="icon")
                                        i(class="fas fa-truck-moving")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") Quality assurance
                                        p Strengthen relationships with existing customers by addressing their demands and maintaining highest quality standards in the same time. 
                                div(class="feature-item mt-5 wow fadeInRight", data-wow-delay="250ms")
                                    div(class="icon")
                                        i(class="fas fa-map-marked-alt")
                                    div(class="text")
                                        h4(class="bottom15")
                                            span(class="d-inline-block") The positioning and responsibility
                                        p The Group seeks to attract highly qualified talents and enable them to do their work and responsibilities that reflects their best, to be fully responsible for their results.
            // Mobile Apps ends
            // Counters
            section#bg-counters(class="padding bg-counters parallax" style="padding-bottom: 12rem")
                div(class="container")
                    div(class="row align-items-center text-center")
                        div(class="overlay overlay-dark opacity-6 z-index-0")
                        div(class="col-lg-4 col-md-4 col-sm-4 bottom10")
                            div(class="counters whitecolor  top10 bottom10")
                                span(class="count_nums font-light", data-to="1994", data-speed="2500")
                            h3(class="font-light whitecolor top20") Since We Started
                        div(class="col-lg-4 col-md-4 col-sm-4")
                            h2(class="bottom30 whitecolor font-normal text-center") Partners
                        div(class="col-lg-4 col-md-4 col-sm-4 bottom10")
                            div(class="counters whitecolor top10 bottom10")
                                span(class="count_nums font-light", data-to="1395", data-speed="2500")
                            h3(class="font-light whitecolor top20") Happy Clients
            // Counters ends
            // Some Services
            div(class="container")
                div(class="row")
                    div(class="col-md-12")
                        #services-slider(class="owl-carousel")
                            div(class="item")
                                div(class="service-box")
                                    img(src="logistic/images/partners/01.png", class="img-responsive" alt="")
                            div(class="item")
                                div(class="service-box")
                                    img(src="logistic/images/partners/02.png", class="img-responsive" alt="")
                            div(class="item")
                                div(class="service-box")
                                    img(src="logistic/images/partners/03.png", class="img-responsive" alt="")
                            div(class="item")
                                div(class="service-box")
                                    img(src="logistic/images/partners/04.png", class="img-responsive" alt="")
            // Some Services ends
            // Our companies
            section#our-services(class="padding bglight")
                div(class="container")
                    div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                        h2(class="heading bottom30 darkcolor font-light2")
                            span(class="font-weight-normal") Our 
                            | companies
                            span(class="divider-center")
                        div(class="col-md-8 offset-md-2")
                            p(class="mb-n3") Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?
                    div(class="services-container")
                        div(class="row")
                            div(class="col-lg-4 col-md-6")
                                div(class="services-main")
                                    div(class="image bottom10")
                                        div(class="image")
                                            img(alt="SEO", src="logistic/images/companies/07.png")
                                        div(class="overlay")
                                            a(href="comp-details.html", class="overlay_center border_radius")
                                                i(class="fa fa-eye")
                                    div(class="services-content brand")
                                        h3(class="bottom10 darkcolor")
                                            a(href="comp-details.html") Aljazea Ductile Fitting Factory 
                                        p(class="bottom15")
                                            | In line with urban and cultural development in the Kingdom and the region as well as the vision Aljazea industrial to diversify its Industrial portfolio, we have established Aljazea construction chemical plant (JCC) in 2007 for the produc- tion and manufacture of construction chemicals 
                                        a(href="comp-details.html", class="button-readmore") Learn More
                            div(class="col-lg-4 col-md-6")
                                div(class="services-main")
                                    div(class="image bottom10")
                                        div(class="image")
                                            img(alt="SEO", src="logistic/images/companies/05.png")
                                        div(class="overlay")
                                            a(href="comp-details.html", class="overlay_center border_radius")
                                                i(class="fa fa-eye")
                                    div(class="services-content brand")
                                        h3(class="bottom10 darkcolor")
                                            a(href="comp-details.html") Aljazea Construction Chemical Plant [JCC] 
                                        p(class="bottom15")
                                            | In line with urban and cultural development in the Kingdom and the region as well as the vision Aljazea industrial to diversify its Industrial portfolio, we have established Aljazea construction chemical plant (JCC) in 2007 for the produc- tion and manufacture of construction chemicals using the best equipment and industrial production at the highest level of technology and the of international standards
                                        a(href="comp-details.html", class="button-readmore") Learn More
                            div(class="col-lg-4 col-md-6")
                                div(class="services-main")
                                    div(class="image bottom10")
                                        div(class="image")
                                            img(alt="SEO", src="logistic/images/companies/02.png")
                                        div(class="overlay")
                                            a(href="comp-details.html", class="overlay_center border_radius")
                                                i(class="fa fa-eye")
                                    div(class="services-content brand")
                                        h3(class="bottom10 darkcolor")
                                            a(href="comp-details.html") Effective Power Factory 
                                        p(class="bottom15")
                                            | Effective power for electrical panels and transformers Co. (EPEPTCO) is a Saudi owned Company, which was granted License by the %100 Ministry of Industry and Electricity in the year 2014 to manufacture abd assemble L.V Switchgears, Industrial Automation, including SCADA, BMS and instru- ment control systems. 
                                        a(href="comp-details.html", class="button-readmore") Learn More
                            div(class="col-12 text-center")
                                a(href="companies.html", class="button gradient-btn mb-sm-0 mb-4") More companies ..
            // Partners
            section#our-partners(class="padding_bottom bglight")
                div(class="container")
                    div(class="row")
                        div(class="col-md-12 text-center heading_space wow fadeIn", data-wow-delay="300ms", style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;")
                            h2(class="heading bottom30 darkcolor font-light2")
                                span(class="font-weight-normal") organisations 
                                span(class="divider-center")
                            div(class="col-md-8 offset-md-2")
                                p(class="mb-n3") A member of the largest international organizations and bodies specialized in the field of air and sea freight and logistics services
                    div(class="row")
                        div(class="col-md-12 col-sm-12")
                            #partners-slider(class="owl-carousel")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="logistic/images/member/01.png")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="logistic/images/member/02.png")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="logistic/images/member/03.png")
                                div(class="item")
                                    div(class="logo-item")
                                        img(alt="", src="logistic/images/member/04.png")
            // Partners ends
        include includes/footer    
        include includes/scripts
