extends index

block website_title
    title aqary | make property

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/backgrounds/broad.jpg')")
        div(class="container")
            ol(class="breadcrumb")
                //- li(class="breadcrumb-item")
                    a(href="index.html") Home
                li(class="breadcrumb-item active" aria-current="page") make property
    //breadcrumb

    //make property
    section(class="make-property")
        div(class="container")
            div(class="make-property-area")
                div(class="make-property-box")
                    div(class="make-property-content")
                        form(class="g-3 needs-validation" action="" novalidate)
                            div(class="row")
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") your name 
                                        div(class="input-group flex-nowrap")
                                            i(class="input-group-text bi bi-person")
                                            input(type="text" class="form-control" placeholder="Name" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") your number 
                                        div(class="input-group flex-nowrap")
                                            i(class="input-group-text bi bi-telephone")
                                            input(type="number" class="form-control" placeholder="Number" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") your email 
                                        div(class="input-group flex-nowrap has-validation")
                                            i(class="input-group-text bi bi-envelope")
                                            input(type="email" class="form-control" placeholder="Email" required)
                                            div(class="invalid-tooltip")
                                                | wrong email
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") choose area
                                        div(class="input-group input-group flex-nowrap has-validation")
                                            select(class="form-control select" placeholder="select", required)
                                                option(value="" disabled selected) choose area
                                                option(value="") optoin 1
                                                option(value="") optoin 2 
                                                option(value="") optoin 3
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") space of property
                                        div(class="input-group flex-nowrap")
                                            i(class="input-group-text bi bi-building")
                                            input(type="number" class="form-control" placeholder="space in numbers(meter)" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") choose images 
                                        div(class="input-group flex-nowrap has-validation")
                                            input(type="file", multiple maxlength="2" class="form-control" required)
                                            div(class="invalid-tooltip")
                                                | must choose one file at least
                                div(class="col-lg-12 text-center")
                                    div(class="form-group")
                                        button(class="btn btn-danger hvr-sweep-to-top" type="submit") send now
    //make property