extend index

block website_title 
    title events | Sports

block home_block
    section(class="py-4 bg-light inner-header")
        div(class="container")
            div(class="row d-flex align-items-center")
                div(class="col-lg-6 col-md-6")
                    h4(class="mt-0 mb-0 text-dark")
                        | Offers
                div(class="col-lg-6 col-md-6 text-right")
                    div(class="breadcrumbs")
                        p(class="mb-0")
                            a(href="#")
                                i(class="icofont-ui-home")
                                | Home 
                            | / 
                            span Offers
    div(class="container py-5")
        div(class="table-responsive table-area")
            table(class="table custom table-hover")
                thead
                    tr(data-aos="fade-down")
                        th Event
                        th Subscribe Fees
                        th Date 
                        th Type 
                tbody
                    tr.tr-shadow(data-aos="fade-down")
                        td The Role Of The Event Industry
                        td Room
                        td 2021-05-20 15:36:25
                        td test
                    tr.tr-shadow(data-aos="fade-down")
                        td The Role Of The Event Industry
                        td Room
                        td 2021-05-20 15:36:25
                        td test
                    tr.tr-shadow(data-aos="fade-down")
                        td The Role Of The Event Industry
                        td Room
                        td 2021-05-20 15:36:25
                        td test
                    tr.tr-shadow(data-aos="fade-down")
                        td The Role Of The Event Industry
                        td Room
                        td 2021-05-20 15:36:25
                        td test
                    tr.tr-shadow(data-aos="fade-down")
                        td The Role Of The Event Industry
                        td Room
                        td 2021-05-20 15:36:25
                        td test
                    tr.tr-shadow(data-aos="fade-down")
                        td The Role Of The Event Industry
                        td Room
                        td 2021-05-20 15:36:25
                        td test