extends index

block website_title
    title #{website_title} | notifications

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 notifications
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="#") Home
                    li(class="breadcrumb-item active", aria-current="page") notifications
    //breadcrumb

    //notifications
    section(class="notifications")
        div(class="container")
            div(class="notifications-content")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                div(class="notifications-box alert alert-light alert-dismissible fade show", role="alert")
                    div(class="image")
                        img(src="images/profile.png", class="img-fluid" alt="")
                    div
                        h4 An example alert with an icon
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores alias cum totam, asperiores ipsa amet nostrum quibusdam ipsam perferendis quam repellendus unde aspernatur esse, mollitia error at optio nobis illo!
                        span(class="time") 10 min ago
                    button(type="button", class="btn-close", data-bs-dismiss="alert", aria-label="Close")
                h4(class="nothing") no notifications !
    //notifications 