extend index

block website_title 
    title events | Sports

block home_block
    section(class="py-4 bg-light inner-header")
        div(class="container")
            div(class="row d-flex align-items-center")
                div(class="col-lg-6 col-md-6")
                    h4(class="mt-0 mb-0 text-dark")
                        | Offers
                div(class="col-lg-6 col-md-6 text-right")
                    div(class="breadcrumbs")
                        p(class="mb-0")
                            a(href="#")
                                i(class="icofont-ui-home")
                                | Home 
                            | / 
                            span Offers
    div(class="container")
        div(class="d-sm-flex align-items-center justify-content-between mt-5 mb-3")
        div(class="row list-bp")
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o1.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l1.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") SBI Signature/Elite Credit Card Offer 
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o2.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l2.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") Google Pay New User Offer 
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o3.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l3.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") HDFC Bank Times Card Offer
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o4.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l4.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") Visa Blockbuster Weekends Offer 
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o2.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l2.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") Google Pay New User Offer 
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o3.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l3.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") HDFC Bank Times Card Offer
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o4.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l4.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") Visa Blockbuster Weekends Offer 
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
            div(class="col-xl-3 col-md-4 mb-4")
                div(class="card offer-card shadow border-0")
                    a(href="#")
                        div(class="m-card-cover")
                            img(src="img/o1.jpg", class="card-img-top", alt="...")
                        div(class="card-body p-3")
                            img(src="img/l1.png", class="rounded-circle", alt="...")
                            p(class="card-text text-gray-900 mt-3 mb-1") SBI Signature/Elite Credit Card Offer 
                            p(class="card-text")
                                small(class="text-muted")
                                    i(class="fas fa-map-marker-alt fa-sm mr-1")
                                    | Valid till
                                    span(class="text-gray-700") 15 Oct 2019 23:59
        div(class="text-center mt-4 mb-5 col-12")
            div(class="spinner-border", role="status")
                span(class="sr-only") Loading...
