extends index

block website_title
    title aqary | all properties

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/backgrounds/broad.jpg')")
        div(class="container")
            ol(class="breadcrumb")
                li(class="breadcrumb-item")
                    a(href="index.html") Home
                li(class="breadcrumb-item active", aria-current="page") all properties
    //breadcrumb

    //properties
    section(class="properties properties-page")
        div(class="container")
            div(class="main-title")
                h2 All Properties
                    span(class="line")
            div(class="property-content")
                div(class="row")
                    div(class="col-md-6 col-lg-4")
                        div(class="property-box")
                            div(class="property-image")
                                img(src="images/backgrounds/hero.jpg", alt="")
                                span(class="images-number") 
                                    i(class="bi bi-images")
                                    | 2
                            div(class="property-details")
                                a(href="#!")
                                    h2(class="title") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    p(class="location")
                                        i(class="bi-pin")
                                        | Egypt, Cairo
                                    p(class="price") 150000 EGP
                                a(href="#!" class="btn") view
                                //- a(href="#!" class="btn" class="fav")
                                    i(class="bi bi-heart")
                    div(class="col-md-6 col-lg-4")
                        div(class="property-box")
                            div(class="property-image")
                                img(src="images/property/02.jpg", alt="")
                                span(class="images-number") 
                                    i(class="bi bi-images")
                                    | 10
                            div(class="property-details")
                                a(href="#!")
                                    h2(class="title") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    p(class="location")
                                        i(class="bi-pin")
                                        | Egypt, Cairo
                                    p(class="price") 150000 EGP
                                a(href="#!" class="btn") view
                    div(class="col-md-6 col-lg-4")
                        div(class="property-box")
                            div(class="property-image")
                                img(src="images/property/03.jpg", alt="")
                                span(class="images-number") 
                                    i(class="bi bi-images")
                                    | 5
                            div(class="property-details")
                                a(href="#!")
                                    h2(class="title") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    p(class="location")
                                        i(class="bi-pin")
                                        | Egypt, Cairo
                                    p(class="price") 150000 EGP
                                a(href="#!" class="btn") view
                    div(class="col-md-6 col-lg-4")
                        div(class="property-box")
                            div(class="property-image")
                                img(src="images/property/04.jpg", alt="")
                                span(class="images-number") 
                                    i(class="bi bi-images")
                                    | 25
                            div(class="property-details")
                                a(href="#!")
                                    h2(class="title") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    p(class="location")
                                        i(class="bi-pin")
                                        | Egypt, Cairo
                                    p(class="price") 150000 EGP
                                a(href="#!" class="btn") view
                    div(class="col-md-6 col-lg-4")
                        div(class="property-box")
                            div(class="property-image")
                                img(src="images/property/01.jpg", alt="")
                                span(class="images-number") 
                                    i(class="bi bi-images")
                                    | 21
                            div(class="property-details")
                                a(href="#!")
                                    h2(class="title") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    p(class="location")
                                        i(class="bi-pin")
                                        | Egypt, Cairo
                                    p(class="price") 150000 EGP
                                a(href="#!" class="btn") view
                    div(class="col-md-6 col-lg-4")
                        div(class="property-box")
                            div(class="property-image")
                                img(src="images/property/02.jpg", alt="")
                                span(class="images-number") 
                                    i(class="bi bi-images")
                                    | 15
                            div(class="property-details")
                                a(href="#!")
                                    h2(class="title") Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    p(class="location")
                                        i(class="bi-pin")
                                        | Egypt, Cairo
                                    p(class="price") 150000 EGP
                                a(href="#!" class="btn") view
                    div(class="col-12")
                        nav(aria-label="Page navigation" class="navigation")
                            ul(class="pagination")
                                li(class="page-item")
                                    a(class="page-link arr", href="#!", aria-label="Previous")
                                        span(aria-hidden="true") &laquo;
                                li(class="page-item active")
                                    a(class="page-link", href="#!") 1
                                li(class="page-item")
                                    a(class="page-link", href="#!") 2
                                li(class="page-item")
                                    a(class="page-link", href="#!") 3
                                li(class="page-item")
                                    a(class="page-link", href="#!") 4
                                li(class="page-item")
                                    a(class="page-link", href="#!") 5
                                li(class="page-item")
                                    a(class="page-link", href="#!") 6
                                li(class="page-item")
                                    a(class="page-link arr", href="#!", aria-label="Next")
                                        span(aria-hidden="true") &raquo;
    //properties