extend index

block website_title
    title #{website_title} | تفاصيل السيارة

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/offer-bg.webp')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 تفاصيل السيارة
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active" aria-current="page") تفاصيل السيارة
    //breadcrumb

    //single car
    section(class="single-car")
        div(class="container")
            div(class="main-title")
                h2 2007 FORD MUSTANG DELUXE
                p تاجر السيارات هو سمة ووردبريس المتميزة الأكثر جاذبية وإبداعًا وحداثة ومتعددة الأغراض. مناسبة لأي مواقع تجار سيارات أو مواقع أعمال أو شركات. تم إنشاء السمة خصيصًا لتجار السيارات وبائعي السيارات ومحطات خدمة السيارات وورش الميكانيكا وتجار السيارات بالتجزئة.
            div(class="content")
                div(class="share")
                    p مشاركة: 
                    a(href="#!")
                        i(class="bi bi-facebook")
                    a(href="#!")
                        i(class="bi bi-twitter")
                    a(href="#!")
                        i(class="bi bi-instagram")
                    a(href="#!")
                        i(class="bi bi-linkedin")
                div(class="row")
                    div(class="col-lg-7")
                        div(class="single-car-box")
                            div(class="single-car-images")
                                div(class="video-icon")
                                    a(href="https://www.youtube.com/watch?v=kxPCFljwJws" data-fancybox="gallery" class="overlay-box") 
                                        i(class="bi bi-eye")
                                        | عرض الفيديو 
                                div(class="slider-for")
                                    div(class="item")
                                        a(data-fancybox="demo" data-src="images/car/01.jpg" data-caption="")
                                            img(data-src="images/car/01.jpg" class="img-fluid" alt="")
                                    div(class="item")
                                        a(data-fancybox="demo" data-src="images/car/02.jpg" data-caption="")
                                            img(data-src="images/car/02.jpg" class="img-fluid" alt="")
                                    div(class="item")
                                        a(data-fancybox="demo" data-src="images/car/03.jpg" data-caption="")
                                            img(data-src="images/car/03.jpg" class="img-fluid" alt="")
                                    div(class="item")
                                        a(data-fancybox="demo" data-src="images/car/04.jpg" data-caption="")
                                            img(data-src="images/car/04.jpg" class="img-fluid" alt="")
                                div(class="slider-nav")
                                    div(class="item")
                                        img(data-src="images/car/01.jpg" class="img-fluid" alt="")
                                    div(class="item")
                                        img(data-src="images/car/02.jpg" class="img-fluid" alt="")
                                    div(class="item")
                                        img(data-src="images/car/03.jpg" class="img-fluid" alt="")
                                    div(class="item")
                                        img(data-src="images/car/04.jpg" class="img-fluid" alt="")                            
                            //features
                            div(class="single-car-features")
                                div(class="subtitle") 
                                    h3 مميزات
                                    span(class="line")
                                ul(class="m-0")
                                    li أضواء
                                    li كاميرا خلفية	
                                    li جناح خلفي	
                                    li جنوط ألمنيوم
                                    li مقبض الباب الخارجي
                                    li نظام كشف المنطقة العمياء
                                    li زر تشغيل و ايقاف المحرك
                                    li الشبك الأمامي
                                    li كشافات ضباب أمامية
                            //details
                            div(class="single-car-text")
                                div(class="subtitle") 
                                    h3 تفاصيل
                                    span(class="line")
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي. عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي. عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                    div(class="col-lg-5")
                        aside 
                            div(class="single-car-details")
                                div(class="subtitle") 
                                    h3 مواصفات السيارة
                                    span(class="line")
                                table(class="table")
                                    tbody
                                        tr
                                            td
                                                span الشبك الأمامي
                                            td
                                                span شبك أمامي كروم
                                        tr
                                            td
                                                span كشافات ضباب أمامية
                                            td
                                                span نعم
                                        tr
                                            td
                                                span أنوار أمامية
                                            td
                                                span LED
                                        tr
                                            td
                                                span أنوار أمامية نهارية
                                            td
                                                span نعم
                                        tr
                                            td
                                                span جنوط ألمنيوم
                                            td
                                                span 17 انش
                                        tr
                                            td
                                                span تعديل المرايا الخارجية الكترونيا
                                            td
                                                span نعم
                                        tr
                                            td
                                                span كاميرا خلفية
                                            td
                                                span لا
                                        tr
                                            td
                                                span أنوار خلفية
                                            td
                                                span LED
                                        tr
                                            td
                                                span جناح خلفي
                                            td
                                                span نعم
                                        tr
                                            td
                                                span مقبض الباب الخارجي
                                            td
                                                span لون السياره
                                        tr
                                            td
                                                span حساسات
                                            td
                                                span نعم
                                        tr
                                            td
                                                span نظام كشف المنطقة العمياء
                                            td
                                                span لا
                                        tr
                                            td
                                                span مرايا قابلة للطي الكترونيا
                                            td
                                                span نعم
                                        tr
                                            td
                                                span اشارة انعطاف جانبية
                                            td
                                                span نعم
                                        tr
                                            td
                                                span زر تشغيل و ايقاف المحرك
                                            td
                                                span لا
                                        tr
                                            td
                                                span دخول ذكي
                                            td
                                                span نعم
                div(class="btn-part")
                    a(href="form-request.html" class="btn") طلب سعر
                    a(href="contact.html" class="btn") تواصل معنا
    //single cars

    //related cars
    section(class="related-cars")
        div(class="container")
            div(class="main-title")
                h2 سيارات ذات صلة
            div(class="content")
                div(class="related-cars-carousel owl-carousel owl-theme")
                    div(class="related-cars-box")
                        div(class="image")
                            img(data-src="images/feature/01.webp" class="img-fluid")
                            div(class="overlay")
                                div(class="icons")
                                    a(href="images/feature/01.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                        i(class="bi bi-arrows-fullscreen")
                                    a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                        i(class="bi bi-link-45deg")
                            ul(class="details")
                                li 
                                    i(class="bi bi-calendar")
                                    | 2021
                                li 
                                    i(class="bi bi-speedometer")
                                    | 885442
                        div(class="text")
                            a(href="car.html") 
                                h3(class="title") 2013 Toyota Tacoma
                            div(class="separator")
                            p(class="price") 23,900.00
                                sup ر.س
                    div(class="related-cars-box")
                        div(class="image")
                            img(data-src="images/feature/02.webp" class="img-fluid")
                            div(class="overlay")
                                div(class="icons")
                                    a(href="images/feature/02.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                        i(class="bi bi-arrows-fullscreen")
                                    a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                        i(class="bi bi-link-45deg")
                            ul(class="details")
                                li 
                                    i(class="bi bi-calendar")
                                    | 2021
                                li 
                                    i(class="bi bi-speedometer")
                                    | 885442
                        div(class="text")
                            a(href="car.html") 
                                h3(class="title") 2013 Toyota Tacoma
                            div(class="separator")
                            p(class="price") 23,900.00
                                sup ر.س
                    div(class="related-cars-box")
                        div(class="image")
                            img(data-src="images/feature/03.webp" class="img-fluid")
                            div(class="overlay")
                                div(class="icons")
                                    a(href="images/feature/03.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                        i(class="bi bi-arrows-fullscreen")
                                    a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                        i(class="bi bi-link-45deg")
                            ul(class="details")
                                li 
                                    i(class="bi bi-calendar")
                                    | 2021
                                li 
                                    i(class="bi bi-speedometer")
                                    | 885442
                        div(class="text")
                            a(href="car.html") 
                                h3(class="title") 2013 Toyota Tacoma
                            div(class="separator")
                            p(class="price") 23,900.00
                                sup ر.س
                    div(class="related-cars-box")
                        div(class="image")
                            img(data-src="images/feature/04.webp" class="img-fluid")
                            div(class="overlay")
                                div(class="icons")
                                    a(href="images/feature/04.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                        i(class="bi bi-arrows-fullscreen")
                                    a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                        i(class="bi bi-link-45deg")
                            ul(class="details")
                                li 
                                    i(class="bi bi-calendar")
                                    | 2021
                                li 
                                    i(class="bi bi-speedometer")
                                    | 885442
                        div(class="text")
                            a(href="car.html") 
                                h3(class="title") 2013 Toyota Tacoma
                            div(class="separator")
                            p(class="price") 23,900.00
                                sup ر.س
                    div(class="related-cars-box")
                        div(class="image")
                            img(data-src="images/feature/05.webp" class="img-fluid")
                            div(class="overlay")
                                div(class="icons")
                                    a(href="images/feature/05.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                        i(class="bi bi-arrows-fullscreen")
                                    a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                        i(class="bi bi-link-45deg")
                            ul(class="details")
                                li 
                                    i(class="bi bi-calendar")
                                    | 2021
                                li 
                                    i(class="bi bi-speedometer")
                                    | 885442
                        div(class="text")
                            a(href="car.html") 
                                h3(class="title") 2013 Toyota Tacoma
                            div(class="separator")
                            p(class="price") 23,900.00
                                sup ر.س
                    div(class="related-cars-box")
                        div(class="image")
                            img(data-src="images/feature/06.webp" class="img-fluid")
                            div(class="overlay")
                                div(class="icons")
                                    a(href="images/feature/06.webp" data-fancybox="gallery" data-toggle="tooltip" data-placement="top" title="عرض") 
                                        i(class="bi bi-arrows-fullscreen")
                                    a(href="single-car.html" data-toggle="tooltip" data-placement="top" title="تفاصيل السيارة") 
                                        i(class="bi bi-link-45deg")
                            ul(class="details")
                                li 
                                    i(class="bi bi-calendar")
                                    | 2021
                                li 
                                    i(class="bi bi-speedometer")
                                    | 885442
                        div(class="text")
                            a(href="car.html") 
                                h3(class="title") 2013 Toyota Tacoma
                            div(class="separator")
                            p(class="price") 23,900.00
                                sup ر.س
    //feature