extend index

block website_title
    title #{website_title} | single services

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 single services
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") single services
    //breadcrumb
    
    //single services
    section(class="single-service")
        div(class="container")
            div(class="main-title")
                h2 our single service
            div(class="content")
                div(class="row")
                    div(class="col-lg-8")
                        div(class="service-box")
                            div(class="image")
                                img(class="img-fluid" data-src="images/services/01.jpg" alt="")
                            div(class="details")
                                div(class="title")
                                    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                div(class="text")
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae dolor maiores suscipit ex nesciunt est mollitia praesentium. Voluptates natus inventore corrupti consectetur temporibus quisquam quod, eveniet nostrum molestias eligendi iure!
                    div(class="col-lg-4")
                        div(class="side-widget")
                            div(class="other-services")
                                div(class="title")
                                    h4 All Services
                                ul 
                                    li 
                                        a(href="#!") this is title service 01
                                    li 
                                        a(href="#!") this is title service 02
                                    li 
                                        a(href="#!") this is title service 03
                                    li 
                                        a(href="#!") this is title service 04
                            div(class="help")
                                div(class="title")
                                    h4 How We Can Help You!
                                p labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                                a(class="btn", href="contact.html") Contact Us
    //single services   