extends index

block website_title
    title #{website_title} | عنوان الحادث

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb")
        div(class="container")
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item")
                        a(href="news.html") المقالات
                    li(class="breadcrumb-item active", aria-current="page") أحدث مقال
    //breadcrumb

    //single news
    div(class="single-news-page")
        div(class="container")
            div(class="single-news-content")
                div(class="row")
                    div(class="col-lg-9")
                        div(class="image")
                            img(data-src="images/trending/02.jpg", class="img-fluid" alt="")
                        div(class="single-news-box")
                            div(class="text")
                                h2(class="subtitle") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوب
                            div(class="meta")
                                div(class="single")
                                    i(class="bi bi-calendar-event")
                                    span 18 فبراير 2021 
                                    span 11:52 ص
                                div(class="single")
                                    i(class="bi bi-eye")
                                    span 25 مشاهدة
                            hr
                            p(class="details") قضت الدائرة الثانية برئاسة المستشار معتز خفاجى وعضوية المستشارين سامح سليمان ومحمد عمار، وأمانة سر سيد حجاج ومحمد السعيد، بالحبس سنة لمتهم في إعادة محاكمته بأحداث عنف المعادى. وأسندت النيابة إلى المتهمين، اتهامات عديدة، من بينها، القتل والشروع في قتل أفراد شرطة، وإتلاف ممتلكات عامة وخاصة، والتلويح بالعنف، واستعراض القوة على نحوٍ يؤدي إلى تكدير السلم العام.
                            div(class="list")
                                h3(class="subtitle") قائمة غير مرتبة
                                ul(class="ct-list")
                                    li عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة
                                    li عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من 
                                    li عند موافقه العميل المبدئيه على التصميم
                                    li عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة
                                    li عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع
                                    li عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من 
                            div(class="instructions")
                                div(class="step")
                                    h4 عنوان فرعي 1
                                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                div(class="step")
                                    h4 عنوان فرعي 2
                                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                div(class="step")
                                    h4 عنوان فرعي 3
                                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي. عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                div(class="step")
                                    h4 عنوان فرعي 4
                                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            div(class="share-social")
                                h3(class="share-title") مشاركة المقال
                                div(class="share-social-content")
                                    div(class="box box1")
                                        a(href="#" target="_blank") 
                                            i(class="bi bi-facebook")
                                    div(class="box box2")
                                        a(href="#" target="_blank") 
                                            i(class="bi bi-twitter")
                                    div(class="box box3")
                                        a(href="#" target="_blank") 
                                            i(class="bi bi-instagram")
                                    div(class="box box4")
                                        a(href="#" target="_blank") 
                                            i(class="bi bi-youtube")
                            div(class="comments-list")
                                div(class="main-title")
                                    h2 
                                        span(class="w-100") التعليقات
                                ul
                                    li(class="comment-item")
                                        img(data-src="images/comments/person.jpg", alt="comment author")
                                        div(class="comment-body")
                                            h5 خالد فتحي
                                            span 18 فبراير 2021  11:52 ص
                                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                                            a(href="#!", class="reply-link") رد 
                                    li(class="comment-item")
                                        img(data-src="images/comments/person.jpg", alt="comment author")
                                        div(class="comment-body")
                                            h5 خالد فتحي
                                            span 18 فبراير 2021  11:52 ص
                                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات
                                            a(href="#!", class="reply-link") رد 
                            div(class="comment-form")
                                div(class="main-title")
                                    h2 
                                        span(class="") اترك تعليقا
                                form(method="" action="")
                                    div(class="row")
                                        div(class="col-md-6 form-group")
                                            input(type="text", class="form-control", placeholder="الاسم", name="")
                                        div(class="col-md-6 form-group")
                                            input(type="email", class="form-control", placeholder="البريد الإلكتروني", name="")
                                        div(class="col-md-12 form-group")
                                            textarea(class="form-control", placeholder="التعليق", name="comment", rows="7")
                                    button(type="submit", class="btn-form primary", name="button") أرسل
                    //aside column
                    div(class="col-lg-3")
                        include includes/aside-column.pug
    //single news page