extend index

block website_title
    title #{website_title} | تفاصيل العرض

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/offer-bg.webp')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 تفاصيل العرض
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") تفاصيل العرض
    //breadcrumb

    //single offer
    section(class="single-offer")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-12")
                        div(class="single-offer-box")
                            div(class="image")
                                img(data-src="images/offers/01.jpg" class="img-fluid")
                            div(class="details")
                                div(class="tick-container")
                                    p ينتهى العرض بعد
                                    div(class="tick", data-did-init="handleTickInit1")
                                        div(class="tick-content" data-repeat="true", data-layout="horizontal center fit", data-transform="preset(d, h, m, s) -> delay")
                                            div(class="tick-group")
                                                div(data-key="value", data-repeat="true", data-transform="pad(00) -> split -> delay")
                                                    span(data-view="flip")
                                h3(class="title") عنوان العرض هنا
                                div(class="separator")
                                p هنا شرح للعرض باختصار
                                div(class="btn-part")
                                    a(href="form-request.html" class="btn") طلب سعر
    //single offer