extend index

block website_title
    title #{website_title} | single product

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/breadcrumb.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 single product 
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active" aria-current="page") single product 
    //breadcrumb

    //single product
    section(class="single-product")
        div(class="container")
            div(class="content")
                div(class="single-product-details")
                    div(class="row")
                        div(class="col-lg-5 col-md-6")
                            a(href="images/products/01.jpg" data-fancybox="gallery") 
                                div(class="image")
                                    img(data-src="images/products/01.jpg" class="img-fluid" alt="")
                        div(class="col-lg-7 col-md-6")
                            div(class="text")
                                h3 this is product title
                                span(class="badge") In Stock
                                p Roads are part of our life. They reflect our culture. The more our roads are beautiful, the more this would be reflected in our conduct and details of daily life. Our team thinks this way because they conjure up the history and culture of our old neighborhoods to place them in modern molds so as to infuse road users with joy and comfort, most probably without recognizing the reason behind their comfort and joy. When cozy rays of light deflect on the carved inscriptions, a bibelot is skillfully created and accordingly reflected on the surrounding walls  and floor. Because roads are an integral part of the daily trips of sportsmen and pedestrians and those looking for gentle breezes to enjoy,
                                div(class="btns")
                                    //- input(type="number" class="item-count form-control" min="0" max="10000" value="0")
                                    a(href="#!" class="btn cart-btn") 
                                        i(class="bi bi-cart")
                                        span add to cart
                                    a(href="#!" class="btn fav-btn") 
                                        i(class="bi bi-heart")
                                        span add to favorites
                                hr
                                div(class="categories")
                                    p 
                                        span Categories: 
                                        a(href="", rel="tag") Chairs &amp; Swivels
                                        | ,
                                        a(href="", rel="tag") Home Office
                                        | ,
                                        a(href="", rel="tag") Living Room
                                div(class="social-share")
                                    ul
                                        li
                                            a(href="" class="facebook" target="_blank")
                                                i(class="bi bi-facebook") 
                                        li
                                            a(href="" class="twitter" target="_blank")
                                                i(class="bi bi-twitter")
                                        li
                                            a(href="" class="pinterest" target="_blank")
                                                i(class="bi bi-pinterest")
                                        li
                                            a(href="" class="google" target="_blank")
                                                i(class="bi bi-google")
                                        li
                                            a(href="" class="whatsapp" target="_blank")
                                                i(class="bi bi-whatsapp")
    //single product

    //single product details
    section(class="single-product-tabs")
        div(class="container")
            div(class="content")
                ul(class="nav nav-pills", role="tablist")
                    li(class="nav-item", role="presentation")
                        button(class="nav-link active", id="single-1-tab" data-bs-toggle="pill", data-bs-target="#single-1", type="button", role="tab", aria-controls="single-1", aria-selected="true") Description
                    li(class="nav-item", role="presentation")
                        button(class="nav-link", id="single-2-tab" data-bs-toggle="pill", data-bs-target="#single-2", type="button", role="tab", aria-controls="single-2", aria-selected="false") Reviews (0)
                    li(class="nav-item", role="presentation")
                        button(class="nav-link", id="single-3-tab" data-bs-toggle="pill", data-bs-target="#single-3", type="button", role="tab", aria-controls="single-3", aria-selected="false") Vendor Info
                div(class="tab-content")
                    div(class="tab-pane fade show active", id="single-1" role="tabpanel", aria-labelledby="single-1-tab") 
                        div(class="products-content")
                            p Quisque varius diam vel metus mattis, id aliquam diam rhoncus. Proin vitae magna in dui finibus malesuada et at nulla. Morbi elit ex, viverra vitae ante vel, blandit feugiat ligula. Fusce fermentum iaculis nibh, at sodales leo maximus a. Nullam ultricies sodales nunc, in pellentesque lorem mattis quis. Cras imperdiet est in nunc tristique lacinia. Nullam aliquam mauris eu accumsan tincidunt. Suspendisse velit ex, aliquet vel ornare vel, dignissim a tortor.
                            p Morbi ut sapien vitae odio accumsan gravida. Morbi vitae erat auctor, eleifend nunc a, lobortis neque. Praesent aliquam dignissim viverra. Maecenas lacus odio, feugiat eu nunc sit amet, maximus sagittis dolor. Vivamus nisi sapien, elementum sit amet eros sit amet, ultricies cursus ipsum. Sed consequat luctus ligula. Curabitur laoreet rhoncus blandit. Aenean vel diam ut arcu pharetra dignissim ut sed leo. Vivamus faucibus, ipsum in vestibulum vulputate, lorem orci convallis quam, sit amet consequat nulla felis pharetra lacus. Duis semper erat mauris, sed egestas purus commodo vel.
                    div(class="tab-pane fade", id="single-2" role="tabpanel", aria-labelledby="single-2-tab") 
                        div(class="products-content")
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="reviews-form")
                                        h3(class="subtitle") Add a review
                                        //- p Your email address will not be published.
                                        div(class="product-rating")
                                            p rating: 
                                            span(class="ratyli")
                                        form(method="" action="")
                                            div(class="row")
                                                div(class="col-md-6 form-group")
                                                    input(type="text", class="form-control", placeholder="Name *", name="fname", value="")
                                                div(class="col-md-6 form-group")
                                                    input(type="email", class="form-control", placeholder="Email Address *", name="email", value="")
                                                div(class="col-md-12 form-group")
                                                    textarea(class="form-control", placeholder="Your review *", name="review", rows="7")
                                            div(class="btn-form")
                                                button(type="submit", class="btn primary", name="button") Post review
                                div(class="col-lg-6")
                                    div(class="reviews-content")
                                        h3(class="subtitle") reviews
                                        ul
                                            li(class="review-item")
                                                img(src="images/reviews/person.jpg", alt="review author")
                                                div(class="review-body")
                                                    div(class="product-rating")
                                                        span(class="ratyli")
                                                    h5 John Doe
                                                    span January 13 2020
                                                    p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                                            li(class="review-item")
                                                img(src="images/reviews/person.jpg", alt="review author")
                                                div(class="review-body")
                                                    h5 John Doe
                                                    span January 13 2020
                                                    p Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                    div(class="tab-pane fade", id="single-3" role="tabpanel", aria-labelledby="single-3-tab") 
                        div(class="products-content")
                            div(class="row")
                                div(class="col-lg-3")
                                    div(class="products-box")
                                        
    //single product details

    //related products
    section(class="related-products")
        div(class="container")
            div(class="main-title")
                h2 related products
                div(class="decore-title")
                    img(data-src="images/favicon.png", alt="")
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-6")
                        div(class="related-box")
                            div(class="image")
                                img(data-src="images/products/01.jpg", class="img-fluid" alt="")
                                div(class="fav")
                                    a(href="#!" class="btn") 
                                        i(class="bi bi-heart")
                                div(class="layer")
                                    a(href="#!" class="btn") add to cart
                            div(class="details")
                                div(class="title")
                                    h3
                                        a(href="single-product.html") this is product title
                    div(class="col-lg-3 col-md-6")
                        div(class="related-box")
                            div(class="image")
                                img(data-src="images/products/02.jpg", class="img-fluid" alt="")
                                div(class="fav")
                                    a(href="#!" class="btn") 
                                        i(class="bi bi-heart")
                                div(class="layer")
                                    a(href="#!" class="btn") add to cart
                            div(class="details")
                                div(class="title")
                                    h3
                                        a(href="single-product.html") this is product title
                    div(class="col-lg-3 col-md-6")
                        div(class="related-box")
                            div(class="image")
                                img(data-src="images/products/03.jpg", class="img-fluid" alt="")
                                div(class="fav")
                                    a(href="#!" class="btn") 
                                        i(class="bi bi-heart")
                                div(class="layer")
                                    a(href="#!" class="btn") add to cart
                            div(class="details")
                                div(class="title")
                                    h3
                                        a(href="single-product.html") this is product title
                    div(class="col-lg-3 col-md-6")
                        div(class="related-box")
                            div(class="image")
                                img(data-src="images/products/04.jpg", class="img-fluid" alt="")
                                div(class="fav")
                                    a(href="#!" class="btn") 
                                        i(class="bi bi-heart")
                                div(class="layer")
                                    a(href="#!" class="btn") add to cart
                            div(class="details")
                                div(class="title")
                                    h3
                                        a(href="single-product.html") this is product title
    //related products