extend index 

block website_title 
	title Events | sorry

block home_block 
	// sorry page
	div(class="sorry")
		div(class="container")
			div(class="thanks-content")
				i(class="far fa-sad-tear")
				h2 sorry
				p sorry, you cant register because you are registerded before ! 
				div(class="button")
					a(class="d-sm-inline-block btn btn-primary shadow-sm", href="index.html") home page