extend index

block website_title
    title #{website_title} | team

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/broad.jpg')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 team
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") Home
                    li(class="breadcrumb-item active", aria-current="page") team
    //breadcrumb
    
    //team page
    section(class="team-in-page")
        div(class="container")
            div(class="main-title")
                div(class="side-text") transformers
                h2 our team
            div(class="content")
                div(class="row")
                    div(class="col-lg-4 col-md-6 box")
                        div(class="team-box")
                            div(class="image")
                                a(href="#!") 
                                    img(class="img-fluid" data-src="images/team/01.jpg" alt="")
                            div(class="details")
                                span(class="title") Bodybuilding Coach
                                a(href="#!" class="name") Mohamed Abo El Ella
                    div(class="col-lg-4 col-md-6 box")
                        div(class="team-box")
                            div(class="image")
                                a(href="#!") 
                                    img(class="img-fluid" data-src="images/team/02.jpg" alt="")
                            div(class="details")
                                span(class="title") Bodybuilding Coach
                                a(href="#!" class="name") Mohamed Abo El Ella
                    div(class="col-lg-4 col-md-6 box")
                        div(class="team-box")
                            div(class="image")
                                a(href="#!") 
                                    img(class="img-fluid" data-src="images/team/03.jpg" alt="")
                            div(class="details")
                                span(class="title") Bodybuilding Coach
                                a(href="#!" class="name") Mohamed Abo El Ella
                    div(class="col-lg-4 col-md-6 box")
                        div(class="team-box")
                            div(class="image")
                                a(href="#!") 
                                    img(class="img-fluid" data-src="images/team/01.jpg" alt="")
                            div(class="details")
                                span(class="title") Bodybuilding Coach
                                a(href="#!" class="name") Mohamed Abo El Ella
                    div(class="col-lg-4 col-md-6 box")
                        div(class="team-box")
                            div(class="image")
                                a(href="#!") 
                                    img(class="img-fluid" data-src="images/team/02.jpg" alt="")
                            div(class="details")
                                span(class="title") Bodybuilding Coach
                                a(href="#!" class="name") Mohamed Abo El Ella
                    div(class="col-lg-4 col-md-6 box")
                        div(class="team-box")
                            div(class="image")
                                a(href="#!") 
                                    img(class="img-fluid" data-src="images/team/03.jpg" alt="")
                            div(class="details")
                                span(class="title") Bodybuilding Coach
                                a(href="#!" class="name") Mohamed Abo El Ella
    //team page

    //clients
    section(class="clients pt-0")
        div(class="container")
            div(class="content")
                div(class="clients-carousel owl-carousel owl-theme")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/01.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/02.png" alt="")
                    div(class="item")
                        img(class="img-fluid" data-src="images/clients/03.png" alt="")
    //clients