extend index 

block website_title 
	title Events | thanks

block home_block 
	// thanks page
	div(class="thanks")
		div(class="container")
			div(class="thanks-content")
				i(class="fas fa-check")
				h2 thank you
				p thank you so much for your registration in our website!
				div(class="button")
					a(class="d-sm-inline-block btn btn-primary shadow-sm", href="index.html") home page