extend index

block website_title
    title #{website_title} | أنواع السيارات

block home_block
    //breadcrumb
    nav(aria-label="breadcrumb" class="main-breadcrumb" style="background-image:url('images/bgs/offer-bg.webp')")
        div(class="container")
            div(class="breadcrumb-title")
                h2 أنواع السيارات
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="index.html") الرئيسية
                    li(class="breadcrumb-item active", aria-current="page") أنواع السيارات
    //breadcrumb

    //car type
    section(class="car-type")
        div(class="container")
            div(class="content")
                div(class="row")
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/01.webp" class="img-fluid")
                                div(class="number")
                                    span 1
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/02.webp" class="img-fluid")
                                div(class="number")
                                    span 2
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/03.webp" class="img-fluid")
                                div(class="number")
                                    span 3
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/none.jpg" class="img-fluid")
                                div(class="number")
                                    span 3
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/04.webp" class="img-fluid")
                                div(class="number")
                                    span 4
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/05.webp" class="img-fluid")
                                div(class="number")
                                    span 5
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 audi
                                div(class="image")
                                    img(data-src="images/types/06.webp" class="img-fluid")
                                div(class="number")
                                    span 6
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 bmw
                                div(class="image")
                                    img(data-src="images/types/08.webp" class="img-fluid")
                                div(class="number")
                                    span 8
                    div(class="col-lg-3 col-md-6")
                        div(class="car")
                            a(href="cars.html") 
                                div(class="title")
                                    h3 Mercedes-Benz
                                div(class="image")
                                    img(data-src="images/types/07.webp" class="img-fluid")
                                div(class="number")
                                    span 7
    //car type