//to top
div(id="toTop")
	button 
		i(class="bi bi-chevron-double-up")
//to top

//footer part
footer
	div(class="container")
		div(class="footer-content")
			div(class="row")
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						div(class="text")
							a(href="index.html" class="footer-logo") 
								img(data-src="../images/logo-footer.png", class="img-fluid mb-4" alt="")
							p شركة الشرق الأوسط للمزاد العلني شركة سعودية ذات مسئولية محدودة سجل تجاري رقم 1010083418 صادر من الرياض. تأسست الشركة بتاريخ 4/11/ 1411 ه الموافق 17 /11 /1991 م وهي شركة رائدة في مجال المزادات العلنية الغير مقيدة بسلعة معينة .
						div(class="social-links")
							h4 مواقع التواصل
							div(class="links")
								a(href="#", class="bi bi-facebook")
								a(href="#", class="bi bi-twitter")
								a(href="#", class="bi bi-instagram")
								a(href="#", class="bi bi-linkedin")
				div(class="col-lg-4 col-md-6")
					div(class="footer-box")
						h3 روابط ذات صلة
						ul(class="map-links")
							li
								a(href="#!") الرئيسية
							li
								a(href="about.html") من نحن
							li
								a(href="auctioneers.html") المزادات
							li
								a(href="certificates.html") الشهادات
							li
								a(href="videos.html") فيديوهات
							li
								a(href="contact.html") تواصل معنا
				div(class="col-lg-4 col-md-12")
					div(class="footer-box")
						h3 المزادات الأخيرة
						ul(class="map-links")
							li
								a(href="#!") تم الانتهاء من  مزاد شركة المراعي
							li
								a(href="#!") تم الانتهاء من  مزاد شركة بن دعجم
							li
								a(href="#!") تم الانتهاء من  مزاد شركة الصافي دانون
							li
								a(href="#!") تم الانتهاء من  مزاد شركة الوهيبي للتجارة والمقاولات
							li
								a(href="#!") تم الانتهاء من  المزاد العلني الكبير الرياض السلي
		div(class="copyright")
			div(class="copy-text")
				p جميع الحقوق محفوظة &copy;
					a(href="#") شركة دلتا لتكنولوجيا المعلومات
//footer part