div(class="pt-5 pb-4 bg-white footer")
    div(class="container")
        div(class="row")
            div(class="col-xl-3 col-md-6 mb-4")
                h6 من نحن
                a(href="index.html" class="footer-brand")
                    img(src="../img/logo-en.png", class="img-fluid" alt="") 
                p يقع مقر المؤسسة الرئيسي بالمدينة المنورة حيث إنشأت المؤسسة في بداية الألفية الثالثة العام 2001 م لتقدم خدماتها الطبية والتشغيلية والتنظيمية ويعمل بها متخصصون، وهي وكيل حصري لشركة الميد التركية الألمانية
            div(class="col-xl-2 col-md-6 mb-4")
                h6 لينكات
                ul
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | الفعاليات
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | المحاضرون
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | الشركات
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | المعارض
            div(class="col-xl-4 col-md-6 mb-4")
                h6 الفعاليات الأخيرة
                ul
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | المؤتمر السعودي الثالث للتغذية بين الطب والحياة
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | المؤتمر الخامس لعلاج امراض السكري والغدد الصماء بجدة
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | الندوة الوطنية الاولى للرضاعة الطبيعية
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | مؤتمر جدة السادس للمستجدات في علاج امراض السكري والغدد الصماء
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | مؤتمر الحالات الحادة والمزمنة 2012
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | الندوة الوطنية الاولى للرضاعة الطبيعية
                    li
                        a(href="#") 
                            i(class="fas fa-chevron-right")
                            | المؤتمر السعودي الثالث للتغذية بين الطب والحياة
            div(class="col-xl-3 col-md-6 mb-4")
                h6 تواصل معنا
                ul(class="contact-info")
                    li
                        a(href="mailto:admin@events.com") 
                            i(class="fas fa-envelope")
                            | admin@events.com
                    li
                        a(href="tel:0100000000") 
                            i(class="fas fa-phone")
                            | 0100000000
                div(class="social-icons")
                    a(href="#", target="_blank")
                        i(class="fab fa-facebook")
                    a(href="#", target="_blank")
                        i(class="fab fa-twitter")
                    a(href="#", target="_blank")
                        i(class="fab fa-instagram")
                    a(href="#", target="_blank")
                        i(class="fab fa-youtube")
footer(class="py-4")
    div(class="container")
        p(class="m-0 text-center") جميع الحقوق محفوظة 2014 اتفاقية الاستخدام | سياسة الخصوصية
            a(class="text-danger d-block", target="_blank", href="https://www.deltaitech.com/") دلتا لتكنولوجيا المعلومات