footer#site-footer(class=" bgprimary padding_top")
	div(class="container")
		div(class="row")
			div(class="col-lg-5 col-md-5 col-sm-12")
				div(class="footer_panel padding_bottom_half bottom20")
					a(href="index.html", class="footer_logo bottom25")
						img(src="../logistic/images/Aljaze_logo_white.png", alt="MegaOne")
					p(class="whitecolor bottom25") من اعتقاد حازم في لعب دور هام في بناء البنية الصناعية للمملكة العربية السعودية ومنطقة الشرق الأوسط تأسست الجازع الصناعية وقد أثبتت مسيرتنا وعلي وجه قاطع أن الإخلاص في العمل والصدق في التعامل وتقديم أفضل ما يمكن هي محددات أساسية لمسارات النجاح وإضاءات علي طريق التطور .
					div(class="d-table w-100 address-item whitecolor bottom25")
						span(class="d-table-cell align-middle")
							i(class="fas fa-mobile-alt")
						p(class="d-table-cell align-middle bottom0")
							| +01 - 123 - 4567
							a(class="d-block", href="mailto:web@support.com") web@support.com
					ul(class="social-icons white wow fadeInUp", data-wow-delay="300ms")
						li
							a(href="javascript:void(0)", class="")
								i(class="fab fa-facebook-f")
						li
							a(href="javascript:void(0)", class="")
								i(class="fab fa-twitter")
						li
							a(href="javascript:void(0)", class="")
								i(class="fab fa-linkedin-in")
						li
							a(href="javascript:void(0)", class="")
								i(class="fab fa-instagram")
			div(class="col-lg-3 col-md-3 col-sm-12")
				div(class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5")
					h3(class="whitecolor bottom25") روابط هامة
					ul(class="links")
						li
							a(href="index.html") الرئيسية
						li
							a(href="about.html") من نحن
						li
							a(href="companies.html") الشركات
						li
							a(href="contact.html") تواصل معنا
			div(class="col-lg-4 col-md-4 col-sm-12")
				div(class="footer_panel padding_bottom_half bottom20")
					h3(class="whitecolor bottom25") شركاتنا
					ul(class="latest_news whitecolor")
						li
							a(href="comp-details.html") مصنع جدف لمسبوكات الدكتايل 
							span(class="date defaultcolor") 15 مارس 2019
						li
							a(href="comp-details.html") مصنع الجازع للكيماويات الانشائية 
							span(class="date defaultcolor") 15 مارس 2019
						li
							a(href="comp-details.html") مصنع القوة الفعالية للكهرباء 
							span(class="date defaultcolor") 15 مارس 2019