//footer part
footer
	.container 
		.footer-content
			.row 
				div(class="col-lg-5")
					.footer-box
						h3 من نحن
						.about
							p وعند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
						.social-media 
							ul 
								li 
									a(href="", target="_blank")
										i(class="bi bi-facebook") 
								li 
									a(href="", target="_blank")
										i(class="bi bi-twitter") 
								li 
									a(href="", target="_blank")
										i(class="bi bi-instagram") 
				div(class="col-lg-3")
					.footer-box
						h3 خريطة الموقع
						.main 
							ul 
								li
									a(href="index.html") الرئيسية
								li
									a(href="about.html") من نحن
								li
									a(href="recipes.html") وصفات
								li
									a(href="contact.html") تواصل معنا
				div(class="col-lg-4")
					.footer-box
						h3 معلومات التواصل
						.contact 
							ul 
								li  
									i(class="bi bi-envelope") 
									a(href="mailto:") mail@yahoo.com      
								li  
									i(class="bi bi-telephone")
									a(href="tel:" dir="ltr") +201988209222       
								li
									i(class="bi bi-pin-map")
									span القاهرة، مدينة نصر
	.copyright 
		.copy-text
			p جميع الحقوق محفوظة
				a(href="#") شركة دلتا.
//footer part