//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/01.jpg" class="slider-img" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        div(class="desc")
                            p الشرق الأوسط للمزاد العلني
                        div(class="title")
                            h1 لبيع سيارات مكائن فولفو مياه معدات زراعية حراثات كيسيات مواسير طرمبات وسكراب واشياء أخرى متنوعه . 
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/02.jpg" class="slider-img" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        div(class="desc")
                            p الشرق الأوسط للمزاد العلني
                        div(class="title")
                            h1 لبيع سيارات مكائن فولفو مياه معدات زراعية حراثات كيسيات مواسير طرمبات وسكراب واشياء أخرى متنوعه . 
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/01.jpg" class="slider-img" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        div(class="desc")
                            p الشرق الأوسط للمزاد العلني
                        div(class="title")
                            h1 لبيع سيارات مكائن فولفو مياه معدات زراعية حراثات كيسيات مواسير طرمبات وسكراب واشياء أخرى متنوعه . 
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-5")
                    div(class="about-image")
                        img(class="img-fluid" data-src="../images/about/img-about2.jpg" alt="")
                div(class="col-lg-7")
                    div(class="main-title")
                        span(class="top-title") عن الشرق الأوسط للمزاد العلني
                        h2 ننطلق في كل الأتجاهات ... وغايتنا أرضائكم
                    div(class="about-text")
                        p شركة الشرق الأوسط للمزاد العلني شركة سعودية ذات مسئولية محدودة سجل تجاري رقم 1010083418 صادر من الرياض.
                        p تأسست الشركة بتاريخ 4/11/ 1411 ه الموافق 17 /11 /1991 م وهي شركة رائدة في مجال المزادات العلنية الغير مقيدة بسلعة معينة .
                        p تقوم الشركة بعمل المزادات العلنية الغير مقيدة لبيع المعدات والأليات والسيارات وذلك بالمزاد العلني .
                        p قامت الشركة بعمل أكثر من 150 مزاد علني خلال هذه الفترة وذلك للشركات والمؤسسات داخل المملكة وخارجها .لدي الشركة فريق متخصص ومتكامل في تثمين أصول الشركات والمؤسسات من معدات وأليات وسيارات .
                        p كما يوجد لدي الشركة فريق عمل متكامل متخصص في أقامة المزادات العلنية في الشرق الأوسط من ترتيب وتنظيم لبيع االمعدات والأليات والسيارات .
                    div(class="about-btn")
                        a(href="about.html" class="btn") قراءة المزيد
//about us

//activities
section(class="activities")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-7")
                    div(class="main-title")
                        span(class="top-title") نشاطات الشركة
                        h2 نشاطاتنا
                    div(class="text-part")
                        div(class="activities-box")
                            h3(class="title") مزادات عقارية
                        div(class="activities-box")
                            h3(class="title") مزادات تصفية الأملاك
                        div(class="activities-box")
                            h3(class="title") مزادات تصفية معدات وسيارات زائدة وفائضة عن حاجة الشركات والمؤسسات الخاصة والحكومية
                        div(class="activities-box")
                            h3(class="title") يوجد قسم خاص لتقيم وجرد معدات الشركات والموسسات الخاصة والحكومية
                div(class="col-lg-5")
                    div(class="activities-image")
                        img(class="img-fluid" data-src="../images/activities.png" alt="")
//activities

//coming auction
section(class="coming-auction")
    div(class="container")
        div(class="content")
            div(class="box")
                div(class="text")
                    h3(class="title") الشرق الأوسط للمزاد العلني
                    p مزاد دوائر الحجز والتنفيذ بمحافظة  الخرج  (الهياثم ) لبيع سيارات مكائن فولفو مياه معدات زراعية حراثات كيسيات مواسير طرمبات وسكراب واشياء أخرى متنوعه .
                    p ابتداء من يوم الاثنين 1443/03/12ه - 2021/10/18م 
                    p للمعاينه والدخول في المزاد عمل شيك مصدق وفق الشروط الدائرة
                div(class="call")
                    i(class="bi bi-headset")
                    div(class="phone")
                        a(href="tel:0505429337") 0505429337
                        a(href="tel:0505429337") 0505429337
                        a(href="tel:0505429337") 0505429337
                div(class="coming-btn")
                    h5(class="title") لتحميل برشور المزاد
                    a(href="http://www.middleeasta.com/old/new2/17-10-2021/%D9%85%D9%88%D8%AC%D9%88%D8%AF%D8%A7%D8%AA%20%D9%88%D9%85%D9%86%D9%82%D9%88%D9%84%D8%A7%D8%AA%20%D9%85%D8%AA%D9%86%D9%88%D8%B9%D8%A9%20(1).pdf" target="_blank" class="btn") اضغط هنا
//coming auction

//videos
section(class="videos")
    div(class="container")
        div(class="main-title")
            span(class="top-title") فيديوهات الشركة
            h2 مزادات علنية بالفيديو
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="video-box ratio ratio-1x1")
                        iframe(src="http://www.youtube.com/embed/qZipBQ7TFAI", title="YouTube video", allowfullscreen)
                div(class="col-lg-4")
                    div(class="video-box ratio ratio-1x1")
                        iframe(src="http://www.youtube.com/embed/RfaGrK7y1sY", title="YouTube video", allowfullscreen)
                div(class="col-lg-4")
                    div(class="video-box ratio ratio-1x1")
                        iframe(src="http://www.youtube.com/embed/mR6zBlqcc7s", title="YouTube video", allowfullscreen)
            div(class="videos-btn")
                a(href="videos.html" class="btn") المزيد من الفيديوهات
//videos

//call to action
section(class="cta")
    div(class="container-fluid")
        div(class="content")
            div(class="image")
                img(class="img-fluid" data-src="../images/cta/cta.png" alt="")
            div(class="text")
                h3 للتسجيل في خدمه رسائل المزاد ارسال رساله نصيه او واتس بها كلمه مزاد إلى جوال:
            div(class="call")
                i(class="bi bi-headset")
                div(class="phone")
                    p احصل على دعم فوري الآن
                    a(href="tel:0505429337") 0505429337
            div(class="cta-btn")
                a(href="form.html" class="btn") ابدأ معنا
//call to action

//contact us
section(class="contact")
    div(class="container")
        div(class="content")
            div(class="contact-form wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                    h2 تواصل معنا الآن
                form(class="needs-validation" novalidate)
                    div(class="row")
                        div(class="col-lg-6")
                            div(class="form-group position-relative")
                                label(for="") الاسم *
                                input(type="text" class="form-control" name="" placeholder="الاسم" required)
                        div(class="col-lg-6")
                            div(class="form-group position-relative")
                                label(for="") بريدك الإلكتروني *
                                input(type="email" class="form-control" name="" placeholder="بريدك الإلكتروني" required)
                        div(class="col-lg-6")
                            div(class="form-group position-relative")
                                label(for="") الهاتف *
                                input(type="number" class="form-control" name="" placeholder="الهاتف" required)
                        div(class="col-lg-6")
                            div(class="form-group position-relative")
                                label(for="") جهة العمل *
                                input(type="text" class="form-control" name="" placeholder="جهة العمل" required)
                        div(class="col-lg-6")
                            div(class="form-group position-relative")
                                label(for="") فاكس *
                                input(type="number" class="form-control" name="" placeholder="فاكس" required)
                        div(class="col-lg-6")
                            div(class="form-group")
                                label(for="") نوع الاستفسار *
                                select(class="form-select") 
                                    option(disabled, selected) نوع الاستفسار 
                                    option(value="1") استفسار
                                    option(value="2") طلب خدمة
                                    option(value="3") شكر
                                    option(value="4") شكوي
                        div(class="col-lg-12")
                            div(class="form-group")
                                label(for="") الموضوع *
                                textarea(class="form-control" rows="5" name="" placeholder="الموضوع هنا")
                    div(class="contact-btn")
                        button(class="btn" type="submit") أرسل الآن
//contact us