div(class="pt-3 pb-3 bg-white shadow-sm")
	div(class="osahan-slider")
		div(class="osahan-slider-item")
			img(src="../img/slider/01.jpg", class="img-fluid rounded", alt="...")
		div(class="osahan-slider-item")
			img(src="../img/slider/03.jpg", class="img-fluid rounded", alt="...")
		div(class="osahan-slider-item")
			img(src="../img/slider/02.jpg", class="img-fluid rounded", alt="...")
div(class="container")
	div(class="d-flex align-items-center justify-content-between mt-5 mb-3")
		h2(class="h5 mb-0 float-left") العروض
		a(href="offers.html", class="d-sm-inline-block text-xs float-right") عرض الكل
			i(class="fas fa-eye fa-sm")
	div(class="row offers")
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="../img/events/01.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="../img/l1.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") خصم 10% لأصحاب الأعمال الخاصة 
						p(class="card-text")
							small(class="text-muted")
								small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| صالح حتى 
								span(class="text-gray-700") 15 أكتوبر 2021 في 5 مساء
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="../img/events/02.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="../img/l2.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") خصم 10% لأصحاب الأعمال الخاصة 
						p(class="card-text")
							small(class="text-muted")
								small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| صالح حتى 
								span(class="text-gray-700") 15 أكتوبر 2021 في 5 مساء
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="../img/events/03.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="../img/l3.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") خصم 10% لأصحاب الأعمال الخاصة 
						p(class="card-text")
							small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| صالح حتى 
								span(class="text-gray-700") 15 أكتوبر 2021 في 5 مساء
		div(class="col-xl-3 col-md-4 mb-4")
			div(class="card offer-card shadow border-0")
				a(href="#")
					div(class="m-card-cover")
						img(src="../img/events/04.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						img(src="../img/l4.png", class="rounded-circle", alt="...")
						p(class="card-text text-gray-900 mt-3 mb-1") خصم 10% لأصحاب الأعمال الخاصة 
						p(class="card-text")
							small(class="text-muted")
								small(class="text-muted")
								i(class="fas fa-map-marker-alt fa-sm mr-1")
								| صالح حتى 
								span(class="text-gray-700") 15 أكتوبر 2021 في 5 مساء
	//- div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden")
		h2(class="h5 mb-0 float-left") Movies
		a(href="movies.html", class="d-sm-inline-block text-xs float-right") عرض الكل
			i(class="fas fa-eye fa-sm")
	//- div(class="row")
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card m-card shadow border-0")
				a(href="movies-detail.html")
					div(class="m-card-cover")
						div(class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box")
							h6(class="text-gray-900 mb-0 font-weight-bold")
								i(class="fas fa-heart text-danger")
								| 88%
							small(class="text-muted") 23,421
						img(src="../img/m1.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						h5(class="card-title text-white mb-1") Jumanji: The Next Level
						p(class="card-text")
							small(class="text-white") English
							small(class="text-danger ml-2")
								i(class="fas fa-calendar-alt fa-sm")
								| 22 AUG
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card m-card shadow border-0")
				a(href="movies-detail.html")
					div(class="m-card-cover")
						div(class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box")
							h6(class="text-gray-900 mb-0 font-weight-bold")
								i(class="fas fa-heart text-danger")
								| 50%
							small(class="text-muted") 8,784
						img(src="../img/m2.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						h5(class="card-title text-white mb-1") Gemini Man
						p(class="card-text")
							small(class="text-white") English
							small(class="text-danger ml-2")
								i(class="fas fa-calendar-alt fa-sm")
								| 22 AUG
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card m-card shadow border-0")
				a(href="movies-detail.html")
					div(class="m-card-cover")
						div(class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box")
							h6(class="text-gray-900 mb-0 font-weight-bold")
								i(class="fas fa-heart text-danger")
								| 20%
							small(class="text-muted") 69,123
						img(src="../img/m3.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						h5(class="card-title text-white mb-1") The Current War
						p(class="card-text")
							small(class="text-white") English
							small(class="text-danger ml-2")
								i(class="fas fa-calendar-alt fa-sm")
								| 22 AUG
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card m-card shadow border-0")
				a(href="movies-detail.html")
					div(class="m-card-cover")
						div(class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box")
							h6(class="text-gray-900 mb-0 font-weight-bold")
								i(class="fas fa-heart text-danger")
								| 74%
							small(class="text-muted") 88,865
						img(src="../img/m4.jpg", class="card-img-top", alt="...")
					div(class="card-body p-3")
						h5(class="card-title text-white mb-1") Charlie&apos;s Angels
						p(class="card-text")
							small(class="text-white") English
							small(class="text-danger ml-2")
								i(class="fas fa-calendar-alt fa-sm")
								| 22 AUG
	div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3")
		h2(class="h5 mb-0") العملاء
	div(class="row collections")
		div(class="col-xl-12 col-md-12 mb-4")
			div(class="collections-slider")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/01.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/02.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/03.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/04.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/05.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/02.jpg", class="img-fluid", alt="...")
				div(class="card c-card border-0 overflow-hidden")
					a(href="#")
						img(src="../img/clients/03.jpg", class="img-fluid", alt="...")
	div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden")
		h2(class="h5 mb-0 float-left") الفعاليات الحالية
		a(href="events.html", class="d-sm-inline-block text-xs float-right") عرض الكل
			i(class="fas fa-eye fa-sm")
	div(class="row events")
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/04.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 07
									small(class="text-muted nowrap") أكتوبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") المؤتمر السعودي الثالث للتغذية بين الطب والحياة
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/05.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 10
									small(class="text-muted nowrap") أكتوبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") المؤتمر السعودي الثالث للتغذية بين الطب والحياة
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/06.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 15
									small(class="text-muted nowrap") أكتوبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") المؤتمر السعودي الثالث للتغذية بين الطب والحياة
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="events-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/07.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 22
									small(class="text-muted nowrap") أكتوبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") المؤتمر السعودي الثالث للتغذية بين الطب والحياة
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
	div(class="d-sm-flex align-items-center justify-content-between mt-4 mb-3 overflow-hidden")
		h2(class="h5 mb-0 float-left") الفعاليات القادمة
		a(href="events.html", class="d-sm-inline-block text-xs float-right") عرض الكل
			i(class="fas fa-eye fa-sm")
	div(class="row pb-4 mb-2 events")
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/01.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 25
									small(class="text-muted nowrap") أكتوبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") مؤتمر جدة السادس للمستجدات في علاج امراض السكري والغدد الصماء
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/02.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 28
									small(class="text-muted nowrap") أكتوبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") مؤتمر جدة السادس للمستجدات في علاج امراض السكري والغدد الصماء
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/03.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 12
									small(class="text-muted nowrap") نوفمبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") مؤتمر جدة السادس للمستجدات في علاج امراض السكري والغدد الصماء
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض
		div(class="col-xl-3 col-md-6 mb-4")
			div(class="card e-card shadow border-0")
				a(href="sports-detail.html")
					div(class="m-card-cover")
						img(src="../img/events/04.jpg", class="card-img-top", alt="...")
					div(class="card-body p-0")
						div(class="row no-gutters align-items-center")
							div(class="col-2 auto py-3 pl-3")
								div(class="bg-white rounded text-center")
									h6(class="text-danger mb-0 font-weight-bold") 21
									small(class="text-muted nowrap") نوفمبر
							div(class="col-10 p-3")
								p(class="card-text text-gray-900 mb-1") مؤتمر جدة السادس للمستجدات في علاج امراض السكري والغدد الصماء
								p(class="card-text")
									small(class="text-muted")
										i(class="fas fa-map-marker-alt fa-sm mr-1")
										| السعودية، الرياض

