//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h2(class="title") هنا عنوان رئيسي
                        p نظراً للتطورات العصرية الاقتصادية المتلاحقة وتشابك وتداخل التعاملات التجارية ، والتي لا يستطيع الفرد العادي التغلب عليها , جاءت الحاجة الملحَّة إلى متخصصين في الشؤون الشرعية والقانونية والإدارية ، ينظمون تلك العلاقات ويحافظون على تلك النجاحات.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span ابدأ معنا الآن
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/02.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h2(class="title") هنا عنوان رئيسي
                        p نظراً للتطورات العصرية الاقتصادية المتلاحقة وتشابك وتداخل التعاملات التجارية ، والتي لا يستطيع الفرد العادي التغلب عليها , جاءت الحاجة الملحَّة إلى متخصصين في الشؤون الشرعية والقانونية والإدارية ، ينظمون تلك العلاقات ويحافظون على تلك النجاحات.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span ابدأ معنا الآن
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h2(class="title") هنا عنوان رئيسي
                        p نظراً للتطورات العصرية الاقتصادية المتلاحقة وتشابك وتداخل التعاملات التجارية ، والتي لا يستطيع الفرد العادي التغلب عليها , جاءت الحاجة الملحَّة إلى متخصصين في الشؤون الشرعية والقانونية والإدارية ، ينظمون تلك العلاقات ويحافظون على تلك النجاحات.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span ابدأ معنا الآن
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        div(class="img1 wow slideInLeft" data-wow-duration="1.5s")
                            img(class="img-fluid" data-src="../images/about/01.jpg" alt="")
                        div(class="img2 wow slideInLeft" data-wow-duration="1.5s" data-wow-delay=".2s")
                            img(class="img-fluid" data-src="../images/about/02.jpg" alt="")
                div(class="col-lg-6 d-flex flex-column justify-content-center")
                    div(class="main-title wow slideInRight" data-wow-duration="1.5s" data-wow-delay=".3s")
                        span(class="top-title") نقوم بتقديم أفضل الخدمات
                        h2 مكتب حكم العدالة
                    div(class="about-text wow slideInRight" data-wow-duration="1.5s" data-wow-delay=".4s")
                        p ترتبط المحاماة بالحياة القانونية ، كما تعيش في المحاكم وفي المجتمع ويقع على المحامي واجب خماسي الأبعاد: واجبه نحو موكله ، وواجب نحو خصمه ، وواجب نحو المحكمة ، وواجب تجاه نفسه ، وواجبه تجاه النظام القانوني في الدولة .
                        p ولكن الواجب الأعلى والأسمى الذي يقع على المحامي هو واجبه وولاؤه للعدل والحق . أنه من الخطأ أن نعتبر المحامي لسان موكله ، والناطق باسمه فقط يقول ما يريد موكله ، وأنه أداته لما يرشده إليه ، إن المحامي ليس كذلك وإنما هو مدين بالولاء والإخلاص للقضية الأهم وهي قضية العدالة والحق .
                    div(class="about-btn wow slideInRight" data-wow-duration="1.5s" data-wow-delay=".5s")
                        div(class="outer-btn")
                            a(href="about.html" class="btn")
                                span معرفة المزيد
//about us

//services
section(class="services")
    div(class="container")
        div(class="main-title")
            h2 خدماتنا
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.5s" data-wow-delay="0s")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/01.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") القضايا الشرعية وديوان المظالم و المدنية والجنائية والتجارية و الإدارية والعمالية
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") تفاصيل الخدمة
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.5s" data-wow-delay=".1s")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/02.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") صياغة العقود والوثائق القانونية
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") تفاصيل الخدمة
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.5s" data-wow-delay=".2s")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/03.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") صياغة العقود والوثائق القانونية
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") تفاصيل الخدمة
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.5s" data-wow-delay=".3s")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/04.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") الإستشارات القانونية
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") تفاصيل الخدمة
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.5s" data-wow-delay=".4s")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/05.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") تأسيس الشركات بكافة أنواعها والقيام بعمليات دمج الشركات والمؤسسات
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") تفاصيل الخدمة
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.5s" data-wow-delay=".5s")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/06.jpg" alt="")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") التأمين
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") تفاصيل الخدمة
            div(class="services-btn")
                div(class="outer-btn")
                    a(href="services.html" class="btn")
                        span جميع الخدمات
//services

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            h2 مقالات
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".1s")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="../images/blogs/01.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | أغسطس 18, 2018
                            div(class="title")
                                a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            div(class="btns")
                                a(href="single-blog.html" class="btn details-btn") قراءة المقال
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".2s")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="../images/blogs/02.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | أغسطس 18, 2018
                            div(class="title")
                                a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            div(class="btns")
                                a(href="single-blog.html" class="btn details-btn") قراءة المقال
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box wow slideInUp" data-wow-duration="1.5s" data-wow-delay=".3s")
                        div(class="image")
                            a(href="single-blog.html") 
                                img(class="img-fluid" data-src="../images/blogs/03.jpg" alt="")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | أغسطس 18, 2018
                            div(class="title")
                                a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                            div(class="btns")
                                a(href="single-blog.html" class="btn details-btn") قراءة المقال
            div(class="blogs-btn")
                div(class="outer-btn")
                    a(href="blogs.html" class="btn")
                        span المزيد من المقالات
//blogs

//contact us
section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="main-title wow slideInLeft" data-wow-duration="1.5s" data-wow-delay=".3s")
                        h2 تواصل معنا الآن
                        p من فضلك، قم بملئ الحقول التالية
                div(class="col-lg-8")
                    div(class="contact-form wow slideInRight" data-wow-duration="1.5s" data-wow-delay=".3s")
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="text" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="email" class="form-control" placeholder="البريد الإلكتروني" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="number" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        select(class="form-select")
                                            option(disabled, selected) قم باختيار
                                            option(value="1") الخيار 01
                                            option(value="2") الخيار 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        textarea(class="form-control" rows="5" placeholder="اترك رسالتك هنا")
                            div(class="contact-btn")
                                div(class="outer-btn")
                                    button(class="btn" type="submit")
                                        span إرسال الآن
//contact us