//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            img(class="img-fluid" data-src="../images/slider/01.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") هنا عنوان رئيسي 
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        div(class="item-btn")
                            a(href="#!" class="btn") ابدأ معنا الآن
                            a(href="#!" class="btn diff") جميع الخدمات
        div(class="slider-item")
            img(class="img-fluid" data-src="../images/slider/02.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") هنا عنوان رئيسي
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        div(class="item-btn")
                            a(href="#!" class="btn") ابدأ معنا الآن
                            a(href="#!" class="btn diff") جميع الخدمات
        div(class="slider-item")
            img(class="img-fluid" data-src="../images/slider/03.jpg" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") هنا عنوان رئيسي
                        p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم ويقول البعض ان وضع النصوص التجريبية بالتصميم قد تشغل المشاهد عن وضع الكثير من الملاحظات او الانتقادات للتصميم الاساسي.
                        div(class="item-btn")
                            a(href="#!" class="btn") ابدأ معنا الآن
                            a(href="#!" class="btn diff") جميع الخدمات
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".3s")
                        span(class="top-title") نحن نقدم أفضل الخدمات
                        h2 بناء مجتمع صحي لجميع الأفراد.
                div(class="col-lg-6")
                    div(class="about-text wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".4s")
                        p نحن نهتم بالاحتياجات المتزايدة لمجتمعنا. نبني أنظمة لتقديم الخدمات الصحية للأفراد والأسر والمجتمعات والسكان بشكل عام.
            div(class="about-boxs")
                div(class="row")
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                img(src="../images/icons/book.png", class="img-fluid" alt="")
                            div(class="number")
                                span(class="counter") 6500
                                sup +
                            div(class="text")
                                h3 عنوان النص 1
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                img(src="../images/icons/folder.png", class="img-fluid" alt="")
                            div(class="number")
                                span(class="counter") 1000
                                sup +
                            div(class="text")
                                h3 عنوان النص 2
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                    div(class="col-lg-4 col-12 col")
                        div(class="single-box")
                            div(class="icon")
                                img(src="../images/icons/placeholder.png", class="img-fluid" alt="")
                            div(class="number")
                                span(class="counter") 300
                                sup +
                            div(class="text")
                                h3 عنوان النص 3
                                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
//about us

//services
section(class="services")
    div(class="container")
        div(class="main-title")
            span(class="top-title") خدماتنا
            h2 خدمات العائلة أولا
            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
        div(class="content")
            div(class="row")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        //- div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/01.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") عنوان الخدمة 1
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") المزيد عن الخدمة
                                    i(class="bi bi-chevron-double-right")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/02.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") عنوان الخدمة 2
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") المزيد عن الخدمة
                                    i(class="bi bi-chevron-double-right")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        //- div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/03.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") عنوان الخدمة 3
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") المزيد عن الخدمة
                                    i(class="bi bi-chevron-double-right")
                div(class="col-lg-3 col-md-6 box")
                    div(class="service-box wow zoomInDown" data-wow-duration="1.3s" data-wow-delay="0s")
                        //- div(class="trending-label")
                            i(class="bi bi-star-fill")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/04.jpg" alt="")
                        div(class="details")
                            h3(class="title")
                                a(href="single-service.html") عنوان الخدمة 4
                            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                            div(class="btns")
                                a(href="single-service.html" class="btn details-btn") المزيد عن الخدمة
                                    i(class="bi bi-chevron-double-right")
            div(class="services-btn")
                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص
                    a(href="services.html" class="btn") جميع الخدمات
//services

//why us
section(class="why-us")
    div(class="container")
        div(class="main-title")
            span(class="top-title") ما يميزنا
            h2 لماذا عليك أن تعتمد علينا؟
            p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
        div(class="content")
            div(class="why-carousel owl-carousel owl-theme")
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") هنا عنوان ميزة 1
                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") هنا عنوان ميزة 2
                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") هنا عنوان ميزة 3
                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") هنا عنوان ميزة 4
                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="why-box wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".1s")
                    div(class="icon")
                        i(class="bi bi-emoji-laughing")
                    h4(class="title")
                        a(href="single-why.html") هنا عنوان ميزة 5
                    p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
            div(class="why-btn")
                p عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم
                    a(href="why.html" class="btn") دعنا نبدأ الآن
//why us

//contact us
section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4 p-0")
                    div(class="image")
                        img(src="../images/bgs/contact.jpg", class="img-fluid" alt="")
                div(class="col-lg-8 p-0")
                    div(class="contact-form wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                        div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                            h2 تواصل معنا الآن
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") الاسم *
                                        input(type="text" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") الإيميل *
                                        input(type="email" class="form-control" placeholder="الإيميل" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        label(for="") الهاتف *
                                        input(type="number" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-6")
                                    div(class="form-group")
                                        label(for="") فم بالاختيار *
                                        select(class="form-select") 
                                            option(disabled, selected) عنوان الخيارات
                                            option(value="1") الخيار 01
                                            option(value="2") الخيار 02
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        label(for="") رسالتك *
                                        textarea(class="form-control" rows="5" placeholder="اترك الهاتف هنا")
                            div(class="contact-btn")
                                button(class="btn" type="submit") أرسل الآن
//contact us

//clients
section(class="clients")
    div(class="container")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="../images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="../images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="../images/clients/03.png" alt="")
//clients

//subscribe
section(class="subscribe")
    div(class="container-fluid")
        div(class="content")
            div(class="row")
                div(class="col-lg-8 p-0")
                    div(class="subscribe-image")
                        img(src="../images/bgs/subscribe.jpg", class="img-fluid" alt="")
                div(class="col-lg-4 p-0")
                    div(class="subscribe-form wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s")
                        div(class="main-title wow slideInUp" data-wow-duration="1.3s" data-wow-delay="0s")
                            h3(class="heading") الصدق.
                                br
                                | الاعتماد.
                                br
                                | التميز.
                        form(class="needs-validation" action="" method="" novalidate)
                            h3(class="sub-title") اشترك معنا الآن ليصلك كل جديد
                            div(class="input-group")
                                input(class="form-control", type="text", placeholder="اكتب إيميلك", aria-label="Recipient's username", aria-describedby="subscribeBtn")
                                button(class="btn btn-outline-secondary", id="subscribeBtn", type="button") 
                                    i(class="bi bi-arrow-right")
//subscribe

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            span(class="top-title") أحدث المقالات
            h2 المزيد من المقالات
            p اقرأ أكثر الأخبار والمقالات الطبية شيوعًا في صناعات الرعاية الصحية لمواكبة أحدث السياسات والاتجاهات.
        div(class="content")
            div(class="blogs-carousel owl-carousel owl-theme")
                div(class="blogs-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="../images/blogs/01.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | أغسطس 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="blogs-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="../images/blogs/02.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | أغسطس 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="blogs-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="../images/blogs/03.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | أغسطس 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
                div(class="blogs-box")
                    div(class="image")
                        a(href="single-blog.html") 
                            img(class="img-fluid" data-src="../images/blogs/01.jpg" alt="")
                    div(class="details")
                        div(class="read-more")
                            a(href="single-blog.html")
                                i(class="bi bi-arrow-right")
                        ul(class="meta")
                            li(class="date")
                                i(class="bi bi-calendar")
                                | أغسطس 18, 2018
                        h3(class="title")
                            a(href="single-blog.html") عند موافقه العميل المبدئيه على التصميم يتم ازالة هذا النص من التصميم ويتم وضع النصوص النهائية المطلوبة للتصميم
//blogs