//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/01.jpg" alt="image_alt")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") this is main title Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span Get Started Now
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/02.jpg" alt="image_alt")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") this is main title Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span Get Started Now
        div(class="item")
            img(class="img-fluid" data-src="../images/slider/03.jpg" alt="image_alt")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") this is main title Lorem ipsum dolor sit amet
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus inventore nobis illum. Harum a voluptates in eius tenetur quidem Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        div(class="item-btn")
                            div(class="outer-btn")
                                a(href="#!" class="btn")
                                    span Get Started Now
//main slider

//about us
section(class="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="about-image")
                        div(class="image" data-aos="fade-up")
                            img(class="img-fluid" data-src="../images/about/abl.jpg" alt="image_alt")
                div(class="col-lg-7 d-flex flex-column justify-content-center")
                    div(class="about-text" data-aos="fade-down")
                        div(class="main-title" data-aos="fade-down")
                            span(class="top-title") about us
                            h2 this is main title Lorem ipsum
                        p(data-aos="fade-down" data-aos-delay="100") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        div(class="about-btn" data-aos="fade-down" data-aos-delay="200")
                            div(class="outer-btn")
                                a(href="about.html" class="btn")
                                    span more about us
//about us

//services
section(class="services")
    div(class="container")
        div(class="main-title")
            h2 our services
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box" data-aos="fade-up")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/01.jpg" alt="image_alt")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Injury with car and others
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                            div(class="btns")
                                a(href="single-service.html" class="details-btn" aria-label="service link") 
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box" data-aos="fade-up")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/02.jpg" alt="image_alt")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Injury with car and others
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                            div(class="btns")
                                a(href="single-service.html" class="details-btn" aria-label="service link")
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box" data-aos="fade-up")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/03.jpg" alt="image_alt")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Injury with car and others
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                            div(class="btns")
                                a(href="single-service.html" class="details-btn" aria-label="service link")
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box" data-aos="fade-up")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/04.jpg" alt="image_alt")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Injury with car and others
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                            div(class="btns")
                                a(href="single-service.html" class="details-btn" aria-label="service link")
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box" data-aos="fade-up")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/05.jpg" alt="image_alt")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Injury with car and others
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                            div(class="btns")
                                a(href="single-service.html" class="details-btn" aria-label="service link")
                                    i(class="bi bi-chevron-right")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box" data-aos="fade-up")
                        div(class="image")
                            a(href="single-service.html") 
                                img(class="img-fluid" data-src="../images/services/06.jpg" alt="image_alt")
                        div(class="details")
                            div(class="title")
                                a(href="single-service.html") Injury with car and others
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry simply dummy text typesetting.
                            div(class="btns")
                                a(href="single-service.html" class="details-btn" aria-label="service link")
                                    i(class="bi bi-chevron-right")
            div(class="services-btn")
                div(class="outer-btn")
                    a(href="services.html" class="btn")
                        span more services 
//services

//team
section(class="team")
    div(class="container")
        div(class="main-title")
            h2 our team
        div(class="content")
            div(class="team-slider owl-carousel owl-theme")
                div(class="team-box" data-aos="fade-up")
                    div(class="image")
                        a(href="single-team.html") 
                            img(class="img-fluid" data-src="../images/team/01.jpg" alt="image_alt")
                    div(class="details")
                        p(class="job-title") lawyer
                        div(class="name")
                            a(href="single-team.html") Main practice 
                div(class="team-box" data-aos="fade-up")
                    div(class="image")
                        a(href="single-team.html") 
                            img(class="img-fluid" data-src="../images/team/02.jpg" alt="image_alt")
                    div(class="details")
                        p(class="job-title") lawyer
                        div(class="name")
                            a(href="single-team.html") Main practice 
                div(class="team-box" data-aos="fade-up")
                    div(class="image")
                        a(href="single-team.html") 
                            img(class="img-fluid" data-src="../images/team/01.jpg" alt="image_alt")
                    div(class="details")
                        p(class="job-title") lawyer
                        div(class="name")
                            a(href="single-team.html") Main practice 
                div(class="team-box" data-aos="fade-up")
                    div(class="image")
                        a(href="single-team.html") 
                            img(class="img-fluid" data-src="../images/team/02.jpg" alt="image_alt")
                    div(class="details")
                        p(class="job-title") lawyer
                        div(class="name")
                            a(href="single-team.html") Main practice 
                div(class="team-box" data-aos="fade-up")
                    div(class="image")
                        a(href="single-team.html") 
                            img(class="img-fluid" data-src="../images/team/01.jpg" alt="image_alt")
                    div(class="details")
                        p(class="job-title") lawyer
                        div(class="name")
                            a(href="single-team.html") Main practice 
//team

//blogs
section(class="blogs")
    div(class="container")
        div(class="main-title")
            h2 our blogs
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box" data-aos="fade-up")
                        a(href="single-blog.html") 
                            div(class="image")
                                img(class="img-fluid" data-src="../images/blogs/01.jpg" alt="image_alt")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            div(class="title")
                                a(href="single-blog.html") Main practice areas of the firm include Admiralty.
                            p The Companies Act 1994 is the enabling act in Bangladesh which deals with entire companies affairs; whether it is private, public officially decoration.
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box" data-aos="fade-up")
                        a(href="single-blog.html") 
                            div(class="image")
                                img(class="img-fluid" data-src="../images/blogs/02.jpg" alt="image_alt")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            div(class="title")
                                a(href="single-blog.html") Main practice areas of the firm include Admiralty.
                            p The Companies Act 1994 is the enabling act in Bangladesh which deals with entire companies affairs; whether it is private, public officially decoration.
                div(class="col-lg-4 col-md-6 box")
                    div(class="blogs-box" data-aos="fade-up")
                        a(href="single-blog.html") 
                            div(class="image")
                                img(class="img-fluid" data-src="../images/blogs/03.jpg" alt="image_alt")
                        div(class="details")
                            ul(class="meta")
                                li(class="date")
                                    i(class="bi bi-calendar")
                                    | August 18, 2018
                            div(class="title")
                                a(href="single-blog.html") Main practice areas of the firm include Admiralty.
                            p The Companies Act 1994 is the enabling act in Bangladesh which deals with entire companies affairs; whether it is private, public officially decoration.
            div(class="blogs-btn")
                div(class="outer-btn")
                    a(href="blogs.html" class="btn")
                        span more blogs 
//blogs
