script(src="../vendor/jquery/jquery.min.js", type="text/javascript")
script(src="../vendor/bootstrap/js/bootstrap.bundle.min.js", type="text/javascript")
script(src="../vendor/slick/slick.min.js" type="text/javascript")
script(src="../js/rocket-loader.min.js", defer type="text/javascript")
script(src="../js/rater.min.js", defer type="text/javascript")
script(src="../js/beacon.min.js" defer type="text/javascript")
script(src="../js/osahan.js", type="text/javascript")