//scripts
script(src="../js/jquery.min.js")
script(src="../js/bootstrap.bundle.min.js")
script(src="../js/fancybox.umd.js")
script(src="../js/dropkick.js")
script(src="../js/slick.min.js")
script(src="../js/bideo.js")
script(src="../js/script.js")
script.
    $(document).ready(function () {
        "use strict";

        //video
        let bv = new Bideo();
        bv.init({
            // Video element
            videoEl: document.querySelector('#background_video'),
            // Container element
            container: document.querySelector('body'),
            // Resize
            resize: true,
            // autoplay: false,
            isMobile: window.matchMedia('(max-width: 768px)').matches,
            playButton: document.querySelector('#play'),
            pauseButton: document.querySelector('#pause'),
            // Array of objects containing the src and type
            // of different video formats to add
            src: [{
                src: '../videos/video.mp4',
                type: 'video/mp4'
            },
            {
                src: '../videos/video.webm',
                type: 'video/webm;codecs="vp8, vorbis"'
            }
            ],
            // What to do once video loads (initial frame)
            onLoad: function () {
            document.querySelector('#video_cover').style.display = 'none';
            }
        });
        //video
    });