link(rel="stylesheet", type="text/css", href="../vendor/slick/slick.min.css")
link(rel="stylesheet", type="text/css", href="../vendor/slick/slick-theme.min.css")
link(href="../vendor/fontawesome-free/css/all.min.css", rel="stylesheet", type="text/css")
link(href="../vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="../css/icofont.min.css", rel="stylesheet")
link(href="../css/osahan.css", rel="stylesheet")
link(href="../css/over-style.css", rel="stylesheet")