//global style
body {
    font-family: "Heebo", sans-serif;
    background-color: #fff;
    overflow-x: hidden;

    .main-wrapper {
        position: relative;
        min-height: 100vh;
        width: 100%;
    }
}

.invalid-tooltip,
.invalid-feedback {
    display: block
}

.toast-part {
    z-index: 99;
    left: 0;

    .toast {
        width: auto;
        max-width: 500px;
        text-transform: capitalize;

        .btn-close {
            margin: 12px;
        }
    }
}

//global style

//header
header {
    @include transition(all ease 0.3s);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 20px 0 rgba(115, 115, 115, .14), 0 7px 10px -5px rgba(126, 126, 126, .4);

    &.fixed {
        // top: -55px;
        box-shadow: 0 4px 20px 0 rgba(115, 115, 115, .14), 0 7px 10px -5px rgba(126, 126, 126, .4);
    }

    .top-part {
        background-color: #87171A;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding: 10px 0;

            .text {
                font-size: 15px;

                p {
                    margin-bottom: 0;
                    color: #fff;
                    text-transform: capitalize;
                }
            }

            .some-info {
                display: flex;

                .info {
                    display: grid;
                    grid-template-columns: 35px auto;
                    border-inline-end: 1px solid #fff;
                    align-items: center;
                    padding-inline-end: 25px;
                    line-height: 1.5;



                    &:last-child {
                        border: 0;
                    }

                    p,
                    a {
                        font-size: 15px;
                        margin-bottom: 0;
                        color: #fff;
                    }

                    .icon {
                        display: inline-block;
                        font-size: 16px;
                        text-align: center;
                        color: #fff;
                        @include transition(all ease 0.3s);
                    }
                }
            }

            .btn-area {
                .consultant {
                    position: relative;
                    color: #fff;
                    font-size: 14px;
                    padding: 15px 30px;
                    font-weight: 500;
                    border-radius: 0px;
                    border: none;
                    background-color: $main_color;
                    text-transform: capitalize;

                    &:focus,
                    &:active,
                    &:hover {
                        box-shadow: none;
                        background-color: $main_color;
                        color: #fff;
                    }
                }
            }
        }
    }

    .navbar {
        padding: 0 85px;
        background-color: #fff;

        .navbar-brand {
            padding: 0;
            margin: 0;

            img {
                max-width: 280px;
            }
        }

        .navbar-toggler {
            margin-inline-start: 15px;

            &:focus {
                outline: none;
                box-shadow: none
            }
        }

        .navbar-nav {
            padding: 0;

            .nav-item {
                padding: 0 1rem;
                line-height: 4.5;
                @include transition(all ease 0.2s);

                &:hover,
                &.active {
                    .nav-link {
                        color: $second_color;

                        &::after {
                            width: 100%;
                        }
                    }
                }

                &:last-child {
                    padding-inline-end: 0;
                }

                &.user-tab {
                    background-color: $second_color;
                    padding: 0 10px;
                    margin: 0 10px;

                    .nav-link {
                        color: #fff;
                    }

                    .username {
                        text-transform: capitalize;
                    }
                }

                .nav-link {
                    color: #000;
                    padding: 0;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        background-color: $second_color;
                        height: 2px;
                        left: 0;
                        bottom: 15px;
                        width: 0;
                        @include transition(all linear 0.2s);
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }

                    &.change {
                        &::after {
                            right: 0;
                            left: auto;
                        }
                    }
                }

                &.dropdown {
                    .dropdown-menu[data-bs-popper] {
                        margin: 0;
                        min-width: 225px;
                        box-shadow: 0 10px 50px 0 rgba(13, 38, 59, .08);
                        margin-bottom: 10px;
                    }
                }

                .dropdown-menu {
                    padding: 0;
                    box-shadow: 0 10px 50px 0 rgba(13, 38, 59, .01);
                    @include borderRadius(0);
                    border: 0;
                    border-top: 2px solid $main_color;
                    @include transition(all linear 0.2s);

                    li {
                        border-bottom: 1px solid #eee;
                        line-height: 3;

                        &:last-of-type {
                            border-bottom: none;
                        }
                    }

                    .dropdown-item {
                        font-size: 13px;
                        padding: 0 20px;
                        @include transition(all linear 0.2s);
                        text-transform: capitalize;
                        position: relative;

                        i {
                            margin-inline-end: 5px;
                        }

                        &:hover {
                            color: #fff;
                            background-color: $main_color;
                        }
                    }
                }
            }
        }

        .navbar-collapse {
            justify-content: center;
        }

        .dropdown-toggle {
            position: relative;
            display: flex;
            align-items: center;
            padding-inline-end: 15px !important;

            &::before {
                content: "\F282";
                font-family: "bootstrap-icons";
                -webkit-font-smoothing: antialiased;
                font-style: normal;
                font-variant: normal;
                font-weight: 600;
                font-size: 10px;
                position: absolute;
                text-transform: initial;
                right: 0;
                top: auto;
            }

            &::after {
                display: none;
            }
        }

        .group {
            display: flex;
            order: 1;
            align-items: center;
        }

        .lang {
            button {
                background-color: transparent;
                border: none;
            }

            .ar {
                font-family: 'Noto Kufi Arabic', sans-serif;
            }

            .icon {
                cursor: pointer;

                img {
                    @extend %fitimage;
                    width: 25px;
                    margin-inline-end: 10px;
                }

                span {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    color: #223645
                }
            }

            .lang-content {
                @include borderRadius(0);
                @include boxshadow(0 0 37px rgba(0, 0, 0, .07));
                border: none;
                padding: 0;

                a {
                    font-size: 14px;
                    display: block;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 10px;
                    border: 0;
                    background-color: #ffffff;
                    color: #222222;
                    line-height: 1;
                    text-transform: capitalize;

                    &:hover {
                        background-color: #e9e9e9
                    }
                }

                img {
                    @extend %fitimage;
                    width: 18px;
                    margin-inline-end: 10px;
                }
            }
        }

        .cart-icon {
            margin-inline-end: 30px;

            .btn {
                padding: 0;
                margin-inline-end: 15px;

                &:last-child {
                    margin-inline-end: 0;
                }

                i {
                    color: $dark_color;
                    font-size: 20px;
                }
            }
        }
    }

    .hamburger-menu {
        display: inline-block;
        margin-left: auto;
        width: 30px;
        height: 20px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        transition-duration: 500ms;
        -webkit-transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        cursor: pointer;
        display: none;

        &:hover {
            span {
                width: 30px !important;
            }
        }

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #000;
            opacity: 1;
            right: 0;
            @include transform(rotate(0deg));
            @include transition(.25s ease-in-out);

            &:nth-child(1) {
                top: 0px;
                width: 13px;
            }

            &:nth-child(2) {
                top: 9px;
            }

            &:nth-child(3) {
                top: 18px;
                width: 100%;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 9px;
                    right: 0;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                    width: 28px !important;
                }

                &:nth-child(2) {
                    opacity: 0;
                    right: 20px;
                }

                &:nth-child(3) {
                    top: 9px;
                    right: 0;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                    width: 28px !important;
                }
            }
        }
    }

    .offcanvas {
        .offcanvas-body {
            padding: 0;
        }

        &.offcanvas-start {
            width: 300px;
        }

        .btn-close {
            &:focus {
                outline: none;
                box-shadow: none
            }
        }

        .offcanvas-header {
            justify-content: flex-end;
            background: #fff;
        }

        .navbar {
            position: static;

            .navbar-nav {
                .nav-item {
                    line-height: 1.5;
                    border-bottom: 1px solid #f5f5f5;

                    .dropdown-toggle {
                        position: relative;

                        &::after {
                            position: absolute;
                            right: 0;
                            vertical-align: middle;
                            top: 45%;
                        }
                        &::before {
                            right: 10px;
                        }
                    }

                    .nav-link {
                        padding: 10px 10px;
                    }
                }
            }
        }
    }
}

//header

//main slider
section.main-slider {
    background-color: #f9f9f9;

    .carousel__slide--active,
    .owl-item.active {
        * {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .title {
            animation-name: fadeInDown;
            animation-delay: 1s;
        }

        p {
            animation-name: fadeInDown;
            animation-delay: 1.5s;
        }

        .btn {
            animation-name: fadeInLeft;
            animation-delay: 2s;

            &.diff {
                animation-name: fadeInRight;
            }
        }
    }

    .slider-item {
        img {
            width: 100%;
            height: 85vh;
            object-fit: cover;
            -o-object-fit: cover;
        }

        .item-details {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
            @include transition(all ease 0.3s);
            @include boxshadow(0px 0px 20px 0px rgba(0, 0, 0, .15));

            .item-text {
                max-width: 600px;
                direction: initial;
                background-color: #fff;
                padding: 45px;
                margin-inline-start: 0;
                margin-inline-end: auto;
                background-color: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(10px);

                .item-btn {
                    .btn {
                        @extend %btn-item;
                    }
                }
            }

            .title {
                text-transform: capitalize;
                color: #000;
                font-size: 30px;
                margin-bottom: 25px;
                font-weight: 700;
                @extend %max_lines;
                -webkit-line-clamp: 3;
            }

            p {
                color: #000000;
                font-size: 16px;
                margin-bottom: 25px;
                line-height: 1.4em;
                @extend %max_lines;
                -webkit-line-clamp: 3;
            }
        }
    }

    .carousel__slide {
        padding: 0 !important;
        text-align: initial;
    }

    .carousel__pagination {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;

        .carousel__pagination-button {
            background-color: #fff;

            &.carousel__pagination-button--active {
                background-color: $main_color;
            }
        }

        .carousel__pagination-item {
            button {
                width: 25px;
                height: 10px;
            }
        }
    }

    .owl-theme {
        .owl-nav [class*=owl-] {
            @include transition(all ease 0.3s);

            &:hover {
                background: $main_color;
            }
        }

        .owl-dots {
            position: absolute;
            bottom: 10px;
            width: 100%;

            .owl-dot {
                span {
                    background-color: #fff;
                }
            }

            .owl-dot.active span,
            .owl-theme .owl-dots .owl-dot:hover span {
                background: $second_color;
                width: 25px;
            }
        }
    }
}

//main slider

.carousel__slide {
    padding: 0;
    text-align: initial;
    display: block
}

//about
section.about {
    padding: 150px 0 50px;
    background-color: #f7f7f7;

    .content {
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 40%;
            left: calc(50% - 225px);
            transform: translate(0, -50%);
            height: 100%;
            max-height: 400px;
            width: 100%;
            max-width: 500px;
            border: 5px solid $main_color;
            z-index: -1;
        }

        .image-box {
            margin: 100px;
            margin-inline-start: 0;
            margin-bottom: -125px;

            .image {
                position: relative;
                box-shadow: 0 1px 20px rgba(178, 180, 183, .2), 0 0 25px rgba(151, 153, 157, .2);
                background-color: #fff;
                padding: 5rem;

                &:hover {
                    &::before {
                        background-color: rgba(255, 255, 255, 0.2);
                        right: 50%;
                        left: 50%;
                    }

                    &::after {
                        background-color: rgba(255, 255, 255, 0.2);
                        top: 50%;
                        bottom: 50%;
                    }
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    -webkit-transition: all 0.6s ease-out 0s;
                    transition: all 0.6s ease-out 0s;
                }
            }
        }

        .text-box {
            box-shadow: 0 1px 20px rgba(178, 180, 183, .2), 0 0 25px rgba(151, 153, 157, .2);
            background-color: #fff;
            position: relative;
            margin: 100px;
            margin-top: -250px;
            margin-inline-end: 0;
            z-index: 11;

            &:hover {

                .corner-top,
                .corner-bottom {
                    height: calc(100% - 40px);

                    &::before,
                    &::after {
                        width: 100%;
                    }
                }
            }

            .corner-top,
            .corner-bottom {
                position: absolute;
                left: 20px;
                width: calc(100% - 40px);
                height: 10%;
                transition: all ease 1s;

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 10%;
                    height: 100%;
                    transition: all ease 1s;
                }

                &::before {
                    border-inline-start: 1px solid $main_color;
                }

                &::after {
                    border-inline-end: 1px solid $main_color;
                }
            }

            .corner-top {
                top: 20px;

                &::before {
                    left: 0;
                    border-top: 1px solid $main_color;
                }

                &::after {
                    right: 0;
                    border-top: 1px solid $main_color;
                }
            }

            .corner-bottom {
                bottom: 20px;

                &::before {
                    left: 0;
                    border-bottom: 1px solid $main_color;
                }

                &::after {
                    right: 0;
                    border-bottom: 1px solid $main_color;
                }
            }

            .text {
                padding: 130px 35px;
                text-align: center;

                h2 {
                    color: #222;
                    font-size: 20px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }

                p {
                    color: $gray;
                    text-align: justify;
                    text-align-last: center;
                }

                .btn {
                    @extend %btn-item;
                }
            }
        }
    }

}

//about

//depths
section.in-depths {
    padding: $padding_section;
    background-color: #f7f7f7;
    overflow: hidden;

    .content {
        .depths-text {
            .main-title {
                margin-bottom: 0;

                h2 {
                    font-size: 46px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #202020;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #202020;
                    margin-bottom: 20px;
                    text-align: justify
                }
            }

            .btn {
                @extend %btn-item;
                background-color: $second_color;
                padding: 15px 35px;
                border-radius: 30px;
            }
        }
    }
}

//depths

//clients
section.clients {
    padding: 50px 0;
    background-color: #fff;
    border-top: 1px solid #f3f3f3;

    .content {
        .item {
            &:hover {
                cursor: move;

                img {
                    opacity: 1;
                    -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
                }
            }

            img {
                opacity: 0.5;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                @include transition(all ease 0.3s);
                object-fit: contain;
                -o-object-fit: contain;
                height: 100px;
            }
        }

        .carousel__slide {
            padding: 10px;
        }
    }
}

//clients

//subscribe
section.subscribe {
    background-color: $second_color;
    overflow: hidden;

    .main-title {
        .heading {
            font-size: 50px;
            color: #fff;
            font-weight: 200;
            text-transform: uppercase;
        }

        .sub-title {
            font-size: 18px;
            font-weight: 300;
            color: #fdfdfd;
        }
    }

    form {
        width: 100%;
    }

    .subscribe-form {
        padding: 100px 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 850px;
        text-align: center;
        margin: auto;

        .icon {
            text-align: center;
            margin: 0 auto 50px;
            background-color: transparent;
            @include borderRadius(50%);
            width: 90px;
            height: 90px;
            @extend %center;
            position: relative;
            z-index: 9;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                @include transform(translate(-50%, -50%));
                @include borderRadius(50%);
                @include boxshadow(0 0 0 0 rgb(255 255 255 / 60%));
                @include animation(ripple 3s infinite);
                z-index: -1;
            }

            &::before {
                @include animationDelay(0.9s);
            }

            a {
                width: 100%;
            }

            i {
                color: #fff;
                font-size: 40px;

                &::before {
                    line-height: inherit;
                    vertical-align: middle;
                }
            }
        }

        .form-control {
            border: 1px solid #fff;
            background-color: #fff;
            color: #555;
            font-weight: inherit;
            padding: 3px 20px;
            height: 70px;
            @include borderRadius(0);

            &:focus {
                box-shadow: none;
                outline: none
            }
        }

        .btn {
            @include borderRadius(0);
            height: 70px;
            line-height: 50px;
            color: #fff;
            border-color: $dark_color;
            background-color: $dark_color;
            padding: 0;
            border: 5px solid #fff;
            padding-inline-start: 25px;
            padding-inline-end: 25px;
            text-transform: uppercase;

            &:focus {
                box-shadow: none;
                outline: none
            }

            i {
                line-height: 50px;
                display: block;
            }
        }
    }
}

@-webkit-keyframes ripple {
    70% {
        box-shadow: 0 0 0 30px rgba(253, 167, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 30px rgba(253, 167, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253, 167, 0, 0);
    }
}

//subscribe

//global btn
%btn-item {
    @include borderRadius(0);
    font-size: 15px;
    color: $main_color;
    text-transform: capitalize;
    @include transition(all ease 0.3s);
    padding: 12px 20px;
    color: #fff;
    position: relative;
    background-color: $second_color;
    overflow: hidden;

    &:focus,
    &:active,
    &:hover {
        background-color: $dark_color;
    }

    &.diff {
        background-color: transparent;
        color: #000;
        text-decoration: underline;
        border: none;
    }
}

//global btn

%products_placeholder {
    padding: 150px 0 70px;
    background-color: #fff;

    .main-title {
        text-align: center;

        h2 {
            color: #000;
        }
    }

    .content {
        padding: 0 50px;

        .product-box {
            direction: initial;
            border: 5px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 25px;

            &:hover {
                @include boxshadow(0 2px 10px rgba(0, 0, 0, .01));

                .image {
                    img {
                        @include transform(scale(1.2));
                    }
                }
            }

            .image {
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;

                img {
                    @include transition(all ease 0.5s);
                    @extend %fitimage;
                    height: 300px;
                }

                &:hover {
                    .layer {
                        bottom: 0;
                        opacity: 1;
                    }
                }

                .fav {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    @extend %center;
                    background-color: #fff;
                    border-radius: 50%;

                    i {
                        color: $second_color;
                    }

                    .spinner-border {
                        margin: 0;
                    }
                }

                .layer {
                    position: absolute;
                    left: 0;
                    bottom: -100%;
                    background-color: rgba(39, 46, 74, 0.3);
                    backdrop-filter: blur(20px);
                    width: 100%;
                    padding: 5px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: all ease 0.3s;

                    .btn {
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        width: 100%;
                        border-radius: 0;

                        &:hover {
                            // color: $second_color;
                            // background-color: $second_color;
                            // border-color: $second_color;
                        }

                        &.fav {
                            margin-inline-start: 5px;
                        }

                        &.added {
                            padding: 0;

                            i {
                                display: inline-block;
                                background-color: $second_color;
                                width: 30px;
                                height: 30px;
                                font-size: 23px;
                                border-radius: 50%;
                                color: #fff !important;
                            }
                        }
                    }
                }
            }

            .details {
                text-align: center;

                .title {
                    h3 {
                        margin-bottom: 0;
                    }

                    a {
                        font-size: 16px;
                        text-transform: capitalize;
                        color: #222;
                        @extend %max_lines;
                        -webkit-line-clamp: 2;
                        min-height: 20px;

                        &:hover {
                            color: $main_color;
                        }
                    }
                }

                p {
                    color: #c0c0c0;
                    margin: 0;
                    font-size: 14px;
                    @extend %max_lines;
                    -webkit-line-clamp: 3;
                    min-height: 65px;
                }

                .product-rating {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ratyli {
                        .rate {
                            color: #fff;
                            font-size: 26px;
                            cursor: pointer;
                        }

                        .rate-empty {
                            color: $main_color;
                        }

                        &.rated {
                            .rate-full {
                                color: #ecc809;
                            }
                        }

                        .rate-active {
                            color: #ecc809;
                        }
                    }
                }
            }

        }
    }

    .owl-stage-outer {
        padding: 20px 0;
    }

    .owl-nav {
        margin-top: 0;
        position: absolute;
        top: calc(50% - 45px);
        width: 100%;

        .owl-next,
        .owl-prev {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid #000;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            @include borderRadius(0);

            i {
                font-size: 16px;
            }
        }

        .owl-next {
            right: -55px;
        }

        .owl-prev {
            left: -55px;
        }

        +.owl-dots {
            width: 100%;
            margin-top: 20px;

            .owl-dot {
                span {
                    background-color: $main_color;
                    margin: 5px;
                }
            }

            .owl-dot.active span,
            .owl-theme .owl-dots .owl-dot:hover span {
                background: #000;
                width: 20px;
            }
        }
    }

    .carousel__prev,
    .carousel__next {
        background-color: #fff;
        border: 1px solid $main_color;
        color: $main_color;
        border-radius: 0;

        .carousel__icon {
            fill: $main_color;
        }
    }

    .carousel__prev {
        top: 50%;
        left: -30px;
        transform: translate(-50%, -50%);
    }

    .carousel__next {
        right: -30px;
    }

    .owl-stage {
        transition: ease 1s !important;
    }
}

//new arrivals
section.new-arrivals {
    @extend %products_placeholder;
}

//new arrivals

//featured products
section.featured-products {
    @extend %products_placeholder;
    padding: $padding_section;

    .main-title {
        text-align: center;
    }

    .content {
        padding: 0;

        .nav {
            justify-content: center;
            margin-bottom: 30px;

            .nav-link {
                background-color: #fff;
                color: #222;
                padding: 8px 25px;
                text-transform: capitalize;
                font-size: 16px;
                border-radius: 25px;

                &.active {
                    background-color: $second_color;
                    color: #fff
                }
            }
        }

        .tab-content {
            .tab-pane {
                background-color: #fff;
            }
        }

        .products-content {
            .products-box {
                @extend .product-box;
                margin-bottom: 25px;
            }
        }
    }
}

//featured products

//blogs
section.blogs {
    padding: $padding_section;
    background-color: #f7f7f7;
    // background-image: url(../images/bgs/pattern-bg.png);
    // background-size: cover;

    .main-title {
        text-align: center
    }

    .content {
        .blogs-box {
            @include transition(all ease 0.3s);
            direction: initial;

            &:hover {
                @include boxshadow(0 2px 10px rgba(0, 0, 0, .01));

                .read-more {
                    a {
                        opacity: 1;
                        @include transform(scale(1));
                    }
                }
            }

            .image {
                padding: 5px;
                background-color: #fff;
                margin-bottom: 25px;

                img {
                    height: 250px;
                    @extend %fitimage;
                }
            }

            .read-more {
                margin-top: -50px;
                text-align: center;
                margin-bottom: 10px;

                i {
                    font-size: 20px;
                }

                a {
                    display: inline-block;
                    position: relative;
                    z-index: 3;
                    opacity: 0;
                    @include transform(scale(0.95));
                    @include transition(all ease 0.3s);
                    color: #fff;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: 500;
                    background-color: $main_color;
                    text-align: center;

                    &:hover {

                        &::after,
                        &::before {
                            @include animation(circle-2 1.05s infinite);
                        }
                    }

                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                        border-radius: 50%;
                        background-color: $main_color;
                    }

                    &::before {
                        z-index: 2;
                        width: 66px;
                        height: 66px;
                        opacity: 0.21;
                    }

                    &::after {
                        z-index: 1;
                        width: 82px;
                        height: 82px;
                        opacity: 0.09;
                    }
                }
            }

            .details {
                padding: 0 20px 20px;
                background-color: #fff;

                .meta {
                    padding: 0;

                    li {
                        position: relative;
                        display: inline-block;
                        color: #999;
                        font-size: 14px;
                        text-transform: capitalize;

                        i {
                            margin-inline-end: 5px;
                        }

                        &.auther {
                            margin-inline-start: 10px;
                        }
                    }
                }

                .title {
                    margin-bottom: 0;

                    a {
                        font-size: 16px;
                        text-transform: capitalize;
                        color: #222;
                        font-weight: 600;
                        @extend %max_lines;
                        -webkit-line-clamp: 2;
                        min-height: 40px;

                        &:hover {
                            color: $main_color;
                        }
                    }
                }

                .btns {
                    .btn {
                        text-transform: capitalize;
                        background-color: $main_color;
                        color: #fff;
                        @include borderRadius(0);
                        padding: 10px 35px;

                        &:hover {
                            background-color: $dark_color
                        }
                    }
                }
            }
        }

        .blogs-btn {
            @extend %btn-item;
            text-align: center;
            margin-top: 40px;

            .btn {
                border-color: $dark_color;
                color: $dark_color;

                &:hover {
                    color: #fff;
                }

                span {

                    &::before,
                    &::after {
                        border-bottom: 55px solid $dark_color;
                    }
                }
            }
        }
    }

    .owl-theme {
        .owl-nav [class*=owl-] {
            @include transition(all ease 0.3s);

            &:hover {
                background: $main_color;
            }
        }

        .owl-nav {
            +.owl-dots {
                width: 100%;
                margin-top: 20px;

                .owl-dot {
                    span {
                        background-color: #fff;
                        margin: 5px;
                    }
                }

                .owl-dot.active span,
                .owl-theme .owl-dots .owl-dot:hover span {
                    background: $second_color;
                    width: 20px;
                }
            }
        }
    }
}

@-webkit-keyframes circle-2 {
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle-2 {
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

//blogs

//footer
footer {
    background-color: $dark_color;
    padding: 60px 0 0;

    .row {
        row-gap: 20px;
    }

    .footer-content {
        padding-bottom: 30px;

        .footer-box {
            .text {
                p {
                    color: #fff;
                    font-size: 14px;
                    line-height: 1.7em;
                    @extend %max_lines;
                    -webkit-line-clamp: 5;
                }

                .footer-logo {
                    img {
                        max-width: 250px;
                    }
                }

                .btn {
                    padding-inline-start: 0;
                    padding-top: 0;
                    color: $main_color;
                    font-weight: 600;

                    img {
                        width: 7px;
                        margin-left: 5px;
                    }
                }
            }

            .social-links {
                h4 {
                    color: #fff;
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                .links {
                    a {
                        color: #ddd;
                        font-size: 16px;
                        margin-inline-end: 15px;
                        @include transition(all ease .3s);

                        &:hover {
                            color: $main_color;
                            opacity: 1;
                        }
                    }
                }
            }

            h3 {
                font-size: 18px;
                position: relative;
                font-weight: 600;
                color: #ffffff;
                line-height: 1.2em;
                margin-bottom: 35px;
                padding-inline-start: 15px;
                text-transform: capitalize;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    height: 100%;
                    width: 3px;
                    background-color: $second_color;
                }
            }

            .map-links {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 10px;
                    font-size: 14px;
                    padding-inline-start: 20px;
                    position: relative;

                    &::before {
                        font-family: "bootstrap-icons";
                        content: "\F285";
                        -webkit-font-smoothing: antialiased;
                        font-style: normal;
                        font-variant: normal;
                        font-weight: 500;
                        font-size: 12px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        @include transform(translateY(-50%));
                        color: #fff;
                    }

                    a {
                        color: #fff;
                        text-transform: capitalize;
                        @extend %max_lines;
                        -webkit-line-clamp: 1;

                        &.btn {
                            padding-inline-start: 0;
                            padding-top: 0;
                            color: $main_color;
                            font-weight: 600;
                        }
                    }
                }
            }

            .contact {
                p {
                    list-style: none;
                    margin-bottom: 10px;
                    font-size: 14px;
                    color: #fff;
                    margin-bottom: 20px;

                    i {
                        margin-inline-end: 10px;
                        color: #5E97A5;
                    }
                }

                a {
                    color: #fff;
                    display: inline-block;
                    // direction: ltr;
                }
            }
        }
    }

    .copyright {
        background-color: transparent;
        padding: 15px 0;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        .copy-text {
            p {
                margin-bottom: 0;
                color: #fff;
                font-size: 14px;
                margin: 0;
                text-transform: capitalize;

                a {
                    color: #fff;
                    margin-inline-start: 5px;
                }
            }
        }
    }
}

//footer