@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1199px) {
    header {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 185px;
                }
            }
            .navbar-nav {
                .nav-item {
                    padding: 0 10px;
                }
            }
        }
    }

    section.about {
        .content {
            .text-box {
                margin: 15px;
                margin-top: -250px;
            }

            .image-box {
                margin: 15px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    header {
        .navbar {
            padding: 10px 0;

            .navbar-toggler {
                order: 2;
            }
            .navbar-nav {
                .nav-item {
                    &.dropdown {
                        .dropdown-menu[data-bs-popper] {
                            margin-inline-end: 10px;
                        }
                    }

                    .nav-link {
                        &::after {
                            display: none;
                        }
                    }

                    &.user-tab {

                        // padding: 0 10px 10px;
                        .dropdown-menu[data-bs-popper] {
                            margin-inline-end: 0;
                        }

                        .nav-link {
                            padding: 10px 0
                        }
                    }
                }
            }
        }

        .hamburger-menu {
            display: inline-block;
        }
    }

    .main-title {
        margin-bottom: 2rem;
    }

    section.about {
        padding: $padding_section;

        .content {
            &::before {
                display: none;
            }

            .text-box {
                margin: 0;

                .text {
                    padding: 100px 30px;
                }
            }

            .image-box {
                margin: 0;
                margin-bottom: 25px;
            }
        }
    }

    section.about-in-page {
        .content {
            .about-box {
                .about-image {
                    margin-bottom: 30px;
                    height: auto;
                }
            }
        }
    }

    section.profile {
        .profile-content {
            .profile-info {
                order: -1;
                margin-bottom: 20px;
            }
        }
    }

    section.checkout {
        .content {
            .checkout-form {
                margin-bottom: 25px;
                padding: 15px;
            }

            .checkout-total {
                padding: 15px;
            }
        }
    }

    section.single-product-tabs .content .reviews-form {
        border-inline-end: 0;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    header {
        .top-part {
            .content {
                .some-info {
                    .info {
                        &:nth-child(1) {
                            display: none;
                        }

                        &:nth-child(2) {
                            border-inline-end: none;
                        }

                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    section.new-arrivals {
        padding: $padding_section;

        .content {
            padding: 0;

            .owl-nav {
                top: 100%;

                .owl-prev {
                    left: 0;
                }

                .owl-next {
                    right: 0;
                }
            }
        }
    }

    section.in-depths {
        .content {
            .depths-image {
                margin-bottom: 25px;
            }

            .depths-text {
                .main-title {
                    text-align: center;
                    text-align-last: center;

                    h2 {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    section.all-products {
        .content {
            .results {
                display: block;

                .icons {
                    margin-bottom: 10px;
                }

                .filter {
                    .form-select {
                        width: 100%;
                    }
                }
            }
        }
    }

    section.contact {
        .info-area {
            .info-box {
                margin-bottom: 20px;
            }
        }
    }

    section.single-product {
        .content {
            .single-product-details {
                .image {
                    margin-bottom: 25px;
                }
            }
        }
    }

    %btn-item {
        .btn {
            span {
                padding: 12px 25px;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    section.subscribe {
        .subscribe-form {
            padding: 70px 25px;
        }
    }

    section.contact {
        .form-area {
            padding: 15px;
        }
    }


    .carousel__prev,
    .carousel__next {
        position: static !important;
        display: inline-flex !important;
        margin-top: 40px !important;
    }

    .content {
        .image {
            .layer {
                bottom: 0 !important;
                opacity: 1 !important;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    section.main-slider {
        .slider-item {
            img {
                height: 70vh;
            }

            .item-details {
                .title {
                    font-size: 18px;
                }

                .item-text {
                    padding: 25px;
                }
            }
        }
    }

    .main-title h2 {
        font-size: 26px;
    }

    .modals {
        .modal-dialog {
            margin: 2rem 1rem;
        }
    }

    section.main-slider {
        .main-slider-carousel {
            .owl-item {
                .item {
                    .item-details {
                        .title {
                            font-size: 26px;
                        }

                        .item-text {
                            padding: 0;
                            padding-inline-end: 0;
                        }
                    }
                }
            }
        }
    }

    .modals .login-modal .form-group .btn,
    .modals .register-modal .form-group .btn,
    .modals .forget-password-modal .form-group .btn {
        font-size: 14px;
    }

    section.subscribe {
        .main-title {
            .heading {
                font-size: 30px;
            }
        }

        .subscribe-form {
            padding: 70px 0;
        }
    }

    section.thanks {
        .content {
            .text {
                ul {
                    display: block;

                    li {
                        border-inline-end: none;
                        padding-inline-end: 0;
                        margin-inline-end: 0;
                    }
                }
            }
        }
    }

    .main-breadcrumb {
        padding: 4rem 0;
    }

    section.featured-products .content .nav .nav-link {
        padding: 5px 12px;
    }

    section.wishlist .wishlist-content .table-area table.table tbody td,
    section.cart .wishlist-content .table-area table.table tbody td,
    section.cart .cart-content .table-area table.table tbody td {
        padding: 5px 10px;
    }

    section.wishlist .wishlist-content .table-area table.table thead th,
    section.cart .wishlist-content .table-area table.table thead th,
    section.cart .cart-content .table-area table.table thead th {
        padding: 10px 10px;
    }

    %products_placeholder {
        .content {
            .product-box {
                border: 0;

                .image {
                    img {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    header {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 180px;
                }
            }

            .navbar-toggler {
                margin-inline-start: 10px;
            }

            .cart-icon {
                margin-inline-end: 15px;

                .badge {
                    font-size: 10px;
                }
            }

            .navbar-nav {
                .nav-item {
                    .dropdown-menu {
                        min-width: auto;
                    }
                }
            }
        }
    }

    section.main-slider {
        .main-slider-carousel {
            .owl-item {
                .slider-item {
                    .item-details {
                        text-align: center;
                        padding: 0;

                        .title {
                            font-size: 24px;
                        }

                        p {
                            font-size: 16px;
                        }

                        .item-text {
                            padding: 30px 15px;
                            background-color: rgba(255, 255, 255, .8);
                        }
                    }
                }
            }
        }
    }

    section.about {
        .content {
            .image-box {
                .image {
                    padding: 3rem;
                }
            }
        }
    }

    #toTop {
        bottom: 42px;

        button {
            width: 35px;
            height: 35px;
        }
    }

    footer {
        .footer-content {
            padding-bottom: 10px;

            .footer-box {
                .about {
                    p {
                        font-size: 14px;
                    }
                }

                h3+p {
                    font-size: 14px;
                }
            }
        }
    }

    .error {
        h2 {
            font-size: 8rem;
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 150px;
                }
            }
        }

        .top-part {
            .top-part-content {
                .text {
                    p {
                        font-size: 10px;
                    }
                }

                .icons {
                    a {
                        height: 30px;
                        width: 30px;
                        line-height: 30px;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .main-title {
        h2 {
            font-size: 20px;
        }
    }
}